@model Shell.MVC2.Models.ContactUsModel

 


@{
    ViewBag.Title = "ContactUs"; 
    Layout = "~/Views/Members/Shared/_LayoutMembers.cshtml";
}

@{ Html.EnableClientValidation(); }



<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js") " type="text/javascript"></script>

@using (Html.BeginForm()) { 
    @Html.ValidationSummary(true)


    <div id="main">
    <div class="clearFloat"></div>
	<div id="contactUsHeaderDiv">
    
     @Html.Partial("AddSense/TopBottomBanner") 
	</div>
	<div class="clearFloat"></div>
	<div id="contactUsLeftDiv">
        @Html.Partial("AddSense/LeftRightScraper") 
	</div>
	<div id="contactUsBodyDiv">
		<div id="contactUsBox3SliceContainer">
			<div id="contactUsBox3SliceContainer_top_1">
			</div>
			<div class="Contact_UscontactUsDiv">
				
				<p class="lastNode"><img src="../Content/Images/ContactUs.png" width="155" height="25" alt="Contact Us" /> </p>
		  </div>
			<div class="clearFloat"></div>
			<div class="Lorem_ipsum_dolor_sicontactUs">
					<p class="lastNode">
                     @ViewData["ContactUsStatus"].ToString() 
                    </p> 
			
			</div>
			<div class="clearFloat"></div>
			<div class="EmailcontactUs">
					<p class="lastNode">
                        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
				</p>
			</div>
			<div id ="TextField_win_EmailcontactUs"> 
           
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        </div> 

          <div class="clearFloat"></div>
			<div class="NamecontactUs">
				
					<p class="lastNode">
                      <div class="editor-label">
                    @Html.LabelFor(model => model.Name)
                </div>
				</p>
			</div>
			<div id="TextField_win_NamecontactUs">
              
                <div class="editor-field">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
			
            <div class="clearFloat"></div>
			<div class="SubjectcontactUs">
				
					<p class="lastNode">
                          <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
				</p>
			</div>
			<div id="TextField_win_SubjectcontactUs">
       
        <div class="editor-field">
            @Html.EditorFor(model => model.Subject)
            @Html.ValidationMessageFor(model => model.Subject)
        </div>
            </div> 
			      <div class="clearFloat"></div>
			<div class="CommentscontactUs">
			<p class="lastNode"> <div class="editor-label">
            @Html.LabelFor(model => model.Message)
         </div>
				</p>
			</div>
			<div id="TextArea_win_CommentscontactUs">
            <div class="editor-field">
             @Html.TextAreaFor(model => model.Message,5,50, new { Width = "300px;", Height = "100px;" })
                <div class ="TextFeildRightValidation">               
                @Html.ValidationMessageFor(model => model.Message)
                </div> 
            </div>
            </div>  
			<div class="clearFloat"></div>
			<div id="contactUsResetDiv">
			  <input type="submit" name="button" id="button" value="Reset Form" />
	    </div>
			<div id="contactUsSendDiv">
			  <input type="submit" name="Send" id="Send" value="Send" />
        </div>
			<div class="clearFloat"></div>
            <div id="CenterLinkDiv">
    @Html.ActionLink("Back to Home Page", "SplashPage")
</div>

		<div id="contactUsBox3SliceContainer_bottom_1">
		</div>
		</div>
		<div class="clearFloat"></div>
		<div id="contactUsBottomContainerDiv">
		</div>
		<div class="clearFloat"></div>
	</div>
	<div id="contactUsRightDiv">
        @Html.Partial("AddSense/LeftRightScraper") 
	</div>
	<div class="clearFloat"></div>
	<div id="contactUsFooterDiv">
       @Html.Partial("AddSense/TopBottomBanner") 
	</div>
	<div class="clearFloat"></div>
</div>



 } 





