@model IPageable<Shell.MVC2.Models.MemberSearchViewModel>
           

 @{ //Pull the users who are avaiable to chat from from the viewbag
      var OnlineChatUsers = ViewBag.OnlineChatUsers as List<ChatUser>; 
     
 } 



@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Members/Shared/_LayoutMembers.cshtml";
}



@{ Html.EnableClientValidation(); }

<div id="main">
	<div id="GalleryLeftDiv">
	</div>
	<div id="Gallerycolwrap">
		<div id="GalleryheaderDiv">
          <!-- Added to toggle adds 1-27-2012 -->
    
     @Html.Partial("AddSense/TopBottomBanner") 
    
   
		</div>
		<div id="GallerybodyDiv">
			<div id="GallerypostBoardDiv">
            <div class="searchResults">
            <i>You are viewing page
            @Model.PageIndex
            of
            @Model.PageCount... </i>
     
            </div>
            <div class="pageCount">
             @if (Model.PageCount > 1)
         {           @Html.Pagination()
         }
            </div>
            </div>
             @{ int CurrentPage;
           if (Model.PageIndex <= Model.PageCount) { CurrentPage = 0; } else { CurrentPage = 1; } }

        @{foreach (var item in Model.Page)
           { 
     
			
            <div>@{ CurrentPage++; }
           
			<div class="GallerypicDivOuter">

			<div class="GallerypicDivInner">
                 <a href="@Url.Action("QuickProfile", "Home", new { ScreenName = item.profile.ScreenName }, null)">
             <img src="@Url.Action("GetGalleryImageByScreenName", "Images", new { id = item.profile.ScreenName }, null)"
                        alt="" width="95" height="95" />
                        </a> 
			</div>
			<div class="clearFloat"></div>
			<div id="GallerynameDiv">
			
					
						@item.profile.ScreenName 
				<div class="clearFloat"></div>
			</div>

			<div id="GalleryageCityDiv">
				
					
						@item.Age  @item.City
					
				
				
				<div class="clearFloat"></div>
			</div>
	
			<div id="GalleryactiveWhenDiv">
			
       
    

				
						   @if (OnlineChatUsers !=null && OnlineChatUsers.Any(p=>p.Name.Contains(item.profile.ScreenName ))  ) 
                                    {  
                                  
                                 @*  //TO DO check if the user allows random people to chat with them before adding the chat link
                                     //also convert to an inmage link ala quick profile page    
                                    	@Html.ActionLink("Chat",null,null, null, new { @class = "Link10", data_name=@item.ScreenName })*@
                                 
               <label  class="onlinenowtext"  >Online Now!</label>  
             
             <a class="galleryChatIcon99" href="javascript:void(0)" Id="InviteToChat" data-name=@item.profile.ScreenName  ></a> 
                                    }
         else
         {   
             <div style="margin-top :-4px;">
         @Html.Encode("Online: ")  @item.lastloggedonString 
           </div>   
             
                          
         } 
				
				<div class="clearFloat"></div>
			</div>
			<div class="clearFloat"></div>
		</div>
			 </div>
           } }     
	  </div>
		<div id="GalleryfooterDiv">
             @if (Model.PageCount > 1)
             { 
          @Html.Pagination()
             }
		</div>
	</div>
	<div id="GalleryrightDiv">
    <center>
    @Html.Partial("AddSense/LeftRightScraper") 
    @Html.Partial("AddSense/LeftRightScraper") 
    </center>
	</div>
	
</div>