@model IPageable<Shell.MVC2.Models.MemberSearchViewModel>



@{
     ViewBag.Title = "Gallery";
    Layout = "~/Views/Members/Shared/_LayoutMembers.cshtml";
}

@{ Html.EnableClientValidation(); }
 

 <div id="mainquicksearch">
 <div id="postBoardDivquickseach">
        @Html.Partial("AddSense/TopBottomBanner") 
        </div>

    <div id="BodyDivquicksearch">
        
        <div class="clearFloat">
        </div>
        <h3>
        <em>Search Results</em>
        </h3>
       
         <p style ="margin-left:20px; margin-top :20px; font-size :12px;">
        <i>You are viewing page
            @Model.PageIndex
            of
            @Model.PageCount... </i>
         </p>

         
        <div class ="QuickSearchPaging" >
         @if (Model.PageCount > 1)
         {           @Html.Pagination()
             }
        </div>

        @{ int CurrentPage;
           if (Model.PageIndex <= Model.PageCount) { CurrentPage = 0;} else { CurrentPage = 1; } }

        @{ foreach (var item in Model.Page)
           { 
           <!-- old URL action that redirected to detail search
        Url.Action("DetailSearch", new {page = CurrentPage + Model.PageIndex }) %>">

        
           -->


            <a href="@Url.Action("QuickProfile", new {ScreenName= item.profile.ScreenName})">@{ CurrentPage++; }
                                                        

         
        
          
            <div id="picDivOuterquicksearch">
                <div id="picDivInner">
                    <img src="@Url.Action("GetGalleryImageByScreenName", "Images", new { id = item.profile.ScreenName},null)"
                        alt="" width="94" height="95" />
                </div>
                <div class="clearFloat">
                </div>
                
                 <div class="Txt_Namequicksearch">  
                        
                            <p class="lastNode"> 	@item.ScreenNameTrimmed		
                        </p>
                    </div>
                    <div class="clearFloat"></div>
                    <div class="Txt_00quicksearch">
                        
                            <p class="lastNode">
                        @item.Age
                        </p>
                    </div>
                    <div class="Txt_Myquicksearch">						
                            <p class="lastNode">   @item.City
                        </p>
                    </div>
                    <div class="clearFloat"></div>
                    <div class="Txt_Activequicksearch">
                        @if(item.Online  == true) 
            {  
           @Html.Encode("Member Online Now!")
             }
            else 
            {   
            @Html.Encode("Online: ")
            <li> @item.lastloggedonString</li>  
             }  


                    </div>

                <div class="clearFloat">
                </div>
            </div>
        </a>
         } }
         <div class="clearFloat"></div>


        <div class ="QuickSearchPaging"  >
         @if (Model.PageCount > 1)
         { 
          @Html.Pagination()
         }
        </div>
      
      
       
    </div>
   
     <div id="rightDivquicksearch">
        <center>
      @Html.Partial("AddSense/LeftRightScraper") 
</center>
    </div>
    
    </div>


