    @using Shell.MVC2.Helpers 
    @using Shell.MVC2.Controllers 

         @{ //Pull the users who are avaiable to chat from from the viewbag
      var OnlineChatUsers = ViewBag.OnlineChatUsers as List<ChatUser>; 
     
 } 



@model Shell.MVC2.Models.ProfileBrowseModel

@{
    ViewBag.Title = "QuickProfile";
    Layout = "~/Views/Members/Shared/_LayoutMembers.cshtml";
}

@* script for the accordian *@
<script type="text/javascript">
    $(function () {
        $("#appearH3FullProfileDiv").click(function () {
            $("#appearFullProfileDiv").slideToggle("slow")
        });
        $("#lifeStyleH3FullProfileDiv").click(function () {
            $("#lifeStyleFullProfileDiv").slideToggle("slow")
        });
        $("#characterH3FullProfileDiv").click(function () {
            $("#characterFullProfileDiv").slideToggle("slow")

        });

    });
    $("#appearH3FullProfileDiv,#lifeStyleH3FullProfileDiv,#characterH3FullProfileDiv").hover(function () {
        $(this).css("background-color", "#7FDBEF");

    });
	
	
	</script>

<div id="mainquickprofile">
	<div id="qProfilEpostBoardDiv">
        <script type="text/javascript"><!--
            google_ad_client = "ca-pub-9814096529112578";
            /* 728x90, created 3/10/10 */
            google_ad_slot = "2378578289";
            google_ad_width = 728;
            google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
		</div>

    <div class="clearFloat"></div>
    <div id="qProfilEpicBoxDiv">
			<div id="photoBoxStrip">
				<div id="pic9">
				</div>
				<div id="pic8">
				</div>
				<div id="pic7">
				</div>
				<div id="pic6">
				</div>
				<div id="pic5">
				</div>
				<div id="pic4">
				</div>
				<div id="pic3">
				</div>
				<div id="pic2">
				</div>
				<div id="pic1">
				</div>
				<div class="clearFloat"></div>
			</div>
			<div class="clearFloat"></div>
		</div>	
    <div class="clearFloat"></div>



	<div class="clearFloat"></div>
  <div id="qProfilEbodyDiv">
  <div  class ="MiddleNaveButtonsBorder">
   
     <div class ="MiddleNavbuttonsquickprofile">
  
     
        </div>
        
         <div class="clearFloat"></div>
		<div class="Txt_PreviousqProfilE">
			<p class="lastNode">
                        
			</p>
			
		</div>
		<div class="Txt_NextqProfilE">
			
			<p class="lastNode">
                
			</p>
		</div>
		<div class="Txt_returnqProfilE">
			
				<p class="lastNode">
                <a href="javascript:history.go(-1)">return to search results </a>
                 
                
			</p>
		</div>
         </div>
          <div class="clearFloat"></div>
          
		
			<div id="qProfileBox3SliceContainer">
				<div id="qProfileBox3SliceContainer_top_1">
                <div class="Name_or_HandleqProfilE">
					
						<p class="lastNode">@Model.ProfileDetails.profile.ScreenName 
					</p>
				</div>
                <div class="My_catchy_intro_lineqProfilE">
					
					<p class="lastNode">@Model.ProfileDetails.MyCatchyIntroLineQuickSearch   
					</p>
				</div>
				</div>
				
				
				<div id="qProfilEcolwrap5">
					
                 
				
                     <span id="status">
            @if (Model.ProfileDetails.ProfilePhotos.SingleProfilePhoto != null)
            { 
               @Html.Partial("QuickProfileMainPhoto", Model.ProfileDetails.ProfilePhotos.SingleProfilePhoto);


            }
            else
            { 
             @Html.Partial("QuickProfileMainPhotoDefault", Model.ProfileDetails);

            }
              </span>

					<div id="qProfilEbottomPhotoDiv">
                    <div  class="qprofilEbottonmPhotoDivLine1">
						<div class="ageqProfilE">
							
								age:
							
						</div>
						<div class="ageNumberqProfilE">
							
								@Model.ProfileDetails.Age 
						
						</div>
						<div class="BumfuckSWqProfilE">
							
								@Model.ProfileDetails.City , @Model.ProfileDetails.State_Province 
							
						</div>
                     </div>

						<div class="Seeking_person_age_0qProfilE">
							
								Seeking person age @Model.ProfileCriteria.SeekingAgeMin to @Model.ProfileCriteria.SeekingAgeMax 
							
						</div>
						<div class="Active_within_hours_qProfilE">
							
								Active within  @Model.ProfileDetails.lastloggedonString 
							
						</div>
					</div>
				</div>
				<div id="qProfilEcolwrap7">
				<table class="stats" cellspacing="0">
                   
                    <tr>
                    <td></td>
                    <td class="Txt_YOUquickprofile" align="center">Me</td>
                    <td class="Txt_YOUquickprofile">You</td>
                 
                    </tr>
                    <tr>
                    <td class="Txt_Ethnicityquickprofile">Ethnicity</td>
                    <td>
                    
                               @if (Model.ProfileCriteria.Ethnicity.Count > 0)
                               {
                                   foreach (var item in Model.ProfileCriteria.Ethnicity)
                                   { 
                                    @item
                                   <br />                               
                                   }
                               }
                               else
                               {            
                                    @Html.Encode("Ask Me")
                               } 
                        
                    </td>
                    <td>


                   @if (Model.ViewerProfileCriteria.Ethnicity.Count > 0)
                   {
                       foreach (var item in Model.ViewerProfileCriteria.Ethnicity)
                       { 
                                    @item   
                                   <br />                               
                       }
                   }
                   else
                   {             
                                      @Html.Encode("Ask Me") 
                   }  



                    
                    </td>                 
                    </tr>

                     <tr>
                    <td class="Txt_Ethnicityquickprofile">Body Type</td>
                    <td>	<p class="lastNode">@Model.ProfileCriteria.BodyType 	</p></td>
                    <td>	<p class="lastNode"> @Model.ViewerProfileCriteria.BodyType </p></td>                 
                    </tr>

                    <tr>
                    <td class="Txt_Ethnicityquickprofile">Height</td>
                    <td><p class="lastNode">@Model.ProfileCriteria.HeightByCulture   	</p></td>
                    <td> <p class="lastNode">@Model.ViewerProfileCriteria.HeightByCulture </p> </td>                 
                    </tr>

                     <tr>
                    <td class="Txt_Ethnicityquickprofile">Smoke</td>
                    <td>	<p class="lastNode">@Model.ProfileCriteria.Smokes </p></td>
                    <td>
								<p class="lastNode">@Model.ViewerProfileCriteria.Smokes </p></td>                 
                    </tr>

                     <tr>
                   <td class="Txt_Ethnicityquickprofile">Has Kids</td>
                    <td>	<p class="lastNode">@Model.ProfileCriteria.HaveKids 	</p></td>
                    <td>	<p class="lastNode">@Model.ViewerProfileCriteria.HaveKids 	</p></td>                 
                    </tr>

                     <tr>
                    <td class="Txt_Ethnicityquickprofile">	<p class="lastNode">Faith</p></td>
                    <td>	<p class="lastNode">@Model.ProfileCriteria.Religion 	</p></td>
                    <td>	<p class="lastNode">@Model.ViewerProfileCriteria.Religion 	</p></td>                 
                    </tr>

                       <tr>
                    <td class="Txt_Ethnicityquickprofile"><p class="lastNode">Marital Status</p></td>
                    <td> 	<p class="lastNode">@Model.ProfileCriteria.MaritalStatus	</p>  </td>
                    <td>   <p class="lastNode">@Model.ViewerProfileCriteria.MaritalStatus	</p></td>                 
                    </tr>


                    </table>	
				</div>
			<div id="qProfileBox3SliceContainer_bottom_1">
			</div>
			</div>
	
		<div id="qProfilEprofileNavBar">
        <div id="quicksearchchat">


        
      @if (Request.IsAuthenticated)
      {
          if (Model.BlockedMe == true)
          { 
                @Html.Encode("User blocked you")
          }
          else
          {

              if (OnlineChatUsers != null && OnlineChatUsers.Any(p => p.Name.Contains(Model.ProfileDetails.profile.ScreenName)))
                     {  
                                  
                       @*  //TO DO check if the user allows random people to chat with them before adding the chat link
                       //also convert to an inmage link ala quick profile page    
                       @Html.ActionLink("Chat",null,null, null, new { @class = "Link10", data_name=@item.ScreenName })*@                                 
              <a class="chatquickprofile" href="javascript:void(0)"  Id="InviteToChat" data-name=@Model.ProfileDetails.profile.ScreenName ></a>              
             
                     }
                 else
                 {   
               
             
                          
                 } 
              
              
         @*  @Html.ActionButton("", "SendMsg", "Mail", new { Model.ProfileDetails.profile.ScreenName }, "emailquickprofile", null)*@
     
           
          }
      }
      else
      { 
           <!-- fis this to use right image later -->           
           @Html.ActionLink("Log in to chat with this member", "LogOn", "Account", null, new { @class = "chatquickprofile" })  

      } 



  
   
    
    </div>

        <div id="quicksearchemail">


        
      @if (Request.IsAuthenticated)
      {
          if (Model.BlockedMe == true)
          { 
                @Html.Encode("User blocked you")
          }
          else
          { 
            
         @*  @Html.ActionButton("", "SendMsg", "Mail", new { Model.ProfileDetails.profile.ScreenName }, "emailquickprofile", null)*@

             @Html.ActionLink("Send Email", "SendMsg", "Mail", new { Model.ProfileDetails.profile.ScreenName }, new { @class = "emailquickprofile" })  
              
          
          }
      }
      else
      { 
           <!-- fis this to use right image later -->           
           @Html.ActionLink("Log in to email this member", "LogOn", "Account", null, new { @class = "emailquickprofile" })  

      } 



  
   
    
    </div>
       <div id="quicksearchinterest" style="height :50px;"> 

            @if (Request.IsAuthenticated)
            {
                if (Model.IntrestSentToThisMember == true)
                {  
             <!-- put in an image that is unclickable or goes to no action i think -->
            <div class="interestalreadysentquickprofile">
        
            </div>
                }
                else
                {    
                @Html.ActionLink("Sent Interest", "SendInterest", "Members", new { SenderScreenName = Model.ViewerProfileDetails.profile.ScreenName, TargetScreenName = Model.ProfileDetails.profile.ScreenName, page = 0, returnUrl = ViewContext.HttpContext.Request.Url.PathAndQuery }, new { @class = "interestquickprofile" })  
                }
            }
            else
            {  
         <!-- fis this to use right image later -->           
            @Html.ActionLink("Log in to like this member", "LogOn", "Account", null, new { @class = "interestquickprofile" })  
            } 


      
         
    </div>
    <div id="quicksearchlike"> 
        @if (Request.IsAuthenticated)
        {
            if (Model.LikedThisMember == true)
            {  
        <!-- put in an image that is unclickable or goes to no action i think -->
      
         <div class="likealreadysentquickprofile">
         
        </div>
       
            }
            else
            { 
                
                 @Html.ActionLink("Send Like", "SendLike", "Members", new { SenderScreenName = Model.ViewerProfileDetails.profile.ScreenName, TargetScreenName = Model.ProfileDetails.profile.ScreenName, page = 0, returnUrl = ViewContext.HttpContext.Request.Url.PathAndQuery }, new { @class = "likequickprofile" })  
               
            }
        }
        else
        {        
      
          <!-- fis this to use right image later -->           
            @Html.ActionLink("Log in to like this member", "LogOn", "Account", null, new { @class = "likequickprofile" })  

          
        }  
    </div>
        <div id="block"> 
        @if (Request.IsAuthenticated)
        {
            if (Model.BlockedThisMember == true)
            {  
        <!-- put in an image that is unclickable or goes to no action i think -->
                @Html.ActionLink("Unblock", "UnblockBlock", "Members", new { SenderScreenName = Model.ViewerProfileDetails.profile.ScreenName, TargetScreenName = Model.ProfileDetails.profile.ScreenName, page = 0, returnUrl = ViewContext.HttpContext.Request.Url.PathAndQuery }, new { @class = "blockedquickprofile" })                    
         
            }
            else
            {     
               @Html.ActionLink("Block", "SendBlock", "Members", new { SenderScreenName = Model.ViewerProfileDetails.profile.ScreenName, TargetScreenName = Model.ProfileDetails.profile.ScreenName, page = 0, returnUrl = ViewContext.HttpContext.Request.Url.PathAndQuery }, new { @class = "blockquickprofile" })               
         
                        
            }
        }
        else
        {        
      
          <!-- fis this to use right image later -->           
            @Html.ActionLink("Log in to block member", "LogOn", "Account", null, new { @class = "blockquickprofile" })  

          
        }  
    </div>
    <div id="reportconcernquickseac"> 
        @if (Request.IsAuthenticated)
        {  
            
            @Html.ActionLink("Unblock", "ReportAbuse", "Members", new { SenderScreenName = Model.ViewerProfileDetails.profile.ScreenName, TargetScreenName = Model.ProfileDetails.profile.ScreenName, page = 0, returnUrl = ViewContext.HttpContext.Request.Url.PathAndQuery }, new { @class = "reportquickprofile" })                    
         
        }
        else
        {        
      
          <!-- fis this to use right image later -->           
            @Html.ActionLink("Log in to report this user", "LogOn", "Account", null, new { @class = "reportquickprofile" })  

          
        }  
    </div>
	  </div>

		<div class="clearFloat"></div>

        <div class="qProfileLinkAddDiv">
 <script type="text/javascript"><!--
     google_ad_client = "ca-pub-9814096529112578";
     /* short add unit grey */
     google_ad_slot = "9550176323";
     google_ad_width = 468;
     google_ad_height = 15;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
        </div>
         <div class="clearFloat"></div>
		<div id="qProfilEleftAdDiv">
        
        <script type="text/javascript"><!--
            google_ad_client = "ca-pub-9814096529112578";
            /* Medium box 300x250 */
            google_ad_slot = "5106440689";
            google_ad_width = 300;
            google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
      
     
		</div>
		<div id="qProfilEcolwrap6">
			<div id="qProfilEmidDiv">
				<div class="more_photosqProfilE">
					
						<p class="lastNode">more photos
					</p>
				</div>
				<div class="clearFloat"></div>
				<div style="height :200px; width:300px; cursor :pointer;">
                @foreach (var item2 in Model.ProfileDetails.ProfilePhotos.ProfilePhotosApproved)
                { 
            
                    <a class="rotator">
                <img id="@item2.PhotoID " src="@Url.Action("GetGalleryImageByPhotoID", "Images", new { id = item2.PhotoID }, null) "
                    alt="" width="94" height="94" />
           </a>
               
          
                } 



				</div>
				<div class="clearFloat"></div>
			</div>
			<div class="clearFloat"></div>
		</div>
        <div class="clearFloat"></div>
		<div class="About_me_and_the_typqProfilE1">
			
				<p class="lastNode">About me and the type of person I&rsquo;m looking for
			</p>
		</div>
		<div class="clearFloat"></div>
		<div id="qProfilEtextAreaDiv">
			<div class="Lorem_ipsum_dolor_siqProfilE2">
				
				<p class="lastNode">@Model.ProfileCriteria.AboutMe  </p>
			</div>
			<div class="clearFloat"></div>
			<div class="Lorem_ipsum_dolor_siqProfilE3">
				
						<p class="lastNode">@Model.ProfileCriteria.AboutMe  </p>
			
			</div>
			<div class="clearFloat"></div>
		</div>
		<div class="clearFloat"></div>
        @* cod for kelly's new footer *@
    @*     <div id="appearH3FullProfileDiv">
   
	  <span class="iconDiv"></span>
        
        
			<h3 class="h3_Appearance">
             
				Appearance
			</h3>
		
		<div class="clearFloat"></div>
	</div>
	<div class="clearFloat"></div>
	<div id="appearFullProfileDiv">
       <div class="block">
		<div class="Txt_You">
			
				<p class="lastNode">You
			</p>
		</div>
		<div class="Txt_ME">
			
				<p class="lastNode">ME
			</p>
		</div>
		<div class="clearFloat"></div>
		<div id="appearInHghtFullProfileDiv">
			<div class="Txt_Height">
				
					<p class="lastNode">Height:
				</p>
			</div>
			<div class="Txt_5’">
				
					<p class="lastNode">5&rsquo; 5&rdquo;(165cms)
				</p>
			</div>
			<div class="Txt_5’2">
				
					<p class="lastNode">5&rsquo; 5&rdquo;(165cms)
				</p>
			</div>
		</div>
		<div class="clearFloat"></div>
		<div id="appearInEthnctyFullProfileDiv">
			<div class="Txt_Ethnicity">
				
					<p class="lastNode"> Ethnicity:
				</p>
			</div>
			<div class="Txt_BlackAfrican">
				
					<p class="lastNode">Black/African Descent
				</p>
			</div>
			<div class="Txt_White">
				
					<p class="lastNode">White/ Caucasian Descent
				</p>
			</div>
		</div>
		<div class="clearFloat"></div>
		<div id="appearInBdyTypFullProfileDiv">
			<div class="Txt_Body">
				
					<p class="lastNode"> Body Type:
				</p>
			</div>
			<div class="Txt_A">
				
					<p class="lastNode">A Few Extra Pounds
				</p>
			</div>
			<div class="Txt_Big">
				
					<p class="lastNode">Big And Beautiful
				</p>
			</div>
		</div>
		<div class="clearFloat"></div>
		<div id="appearInEyeCLrFullProfileDiv">
			<div class="Txt_Eye">
				
					<p class="lastNode">Eye Color:
				</p>
			</div>
			<div class="Txt_Black">
				
					<p class="lastNode"> Black
				</p>
			</div>
			<div class="Txt_Brown">
				
					<p class="lastNode">Brown
				</p>
			</div>
		</div>
		<div class="clearFloat"></div>
		<div id="appearInHCrLrFullProfileDiv">
			<div class="Txt_Hair">
				
					<p class="lastNode">Hair Color:
				</p>
			</div>
			<div class="Txt_Dark">
				
					<p class="lastNode">Dark Blonde
				</p>
			</div>
			<div class="Txt_SilverWhite">
				
					<p class="lastNode"> Silver/White
				</p>
			</div>
		</div>
		<div class="clearFloat"></div>
      </div>
	</div>
	<div class="clearFloat"></div>
	<div id="lifeStyleH3FullProfileDiv">
    <span class="iconDiv"></span>
		
			<h3 class="h3_LifeStyle">
				LifeStyle
			</h3>
		
		<div class="clearFloat"></div>
	</div>
	<div class="clearFloat"></div>
	<div id="lifeStyleFullProfileDiv">
       <div class="block">
		<div id="lifeStyleInMrtlStsFullProfileDiv">
			<div class="Txt_Marital">
				
					<p class="lastNode"> Marital Status:
				</p>
			</div>
			<div class="Txt_Single">
				
					<p class="lastNode">Single/ Never Married
				</p>
			</div>
			<div class="Txt_Single2">
				
					<p class="lastNode">Single/ Never Married
				</p>
			</div>
		</div>
		<div class="clearFloat"></div>
		<div id="lifeStyleInHsKdsFullProfileDiv">
			<div class="Txt_Has">
				
					<p class="lastNode">Has Kids:
				</p>
			</div>
			<div class="Txt_Yes">
				
					<p class="lastNode"> Yes But not with me
				</p>
			</div>
			<div class="Txt_YesFulltime">
				
					<p class="lastNode">Yes/Fulltime
				</p>
			</div>
		</div>
		<div class="clearFloat"></div>
		<div id="lifeStyleInWntsMrKdsFullProfileDiv">
			<div class="Txt_Wants">
				
					<p class="lastNode">Wants more Kids:
				</p>
			</div>
			<div class="Txt_Later">
				
					<p class="lastNode"> Later Someday
				</p>
			</div>
			<div class="Txt_Maybenot">
				
					<p class="lastNode"> Maybe/not sure
				</p>
			</div>
		</div>
		<div class="clearFloat"></div>
		<div id="lifeStyleInLvgStnFullProfileDiv">
			<div class="Txt_Living">
				
					<p class="lastNode">Living Situation:
				</p>
			</div>
			<div class="Txt_With">
				
					<p class="lastNode"> With Parents/other Family Members
				</p>
			</div>
			<div class="Txt_With2">
				
					<p class="lastNode"> With Roommates
				</p>
			</div>
		</div>
		<div class="clearFloat"></div>
		<div id="lifeStyleInEdlLvlFullProfileDiv">
			<div class="Txt_Educational">
				
					<p class="lastNode">Educational Level:
				</p>
			</div>
			<div class="Txt_Armed">
				
					<p class="lastNode">Armed Forces/Military
				</p>
			</div>
			<div class="Txt_Vocational">
				
					<p class="lastNode"> Vocational/ Trade
				</p>
			</div>
		</div>
		<div class="clearFloat"></div>
		<div id="lifeStyleInEmplyStsFullProfileDiv">
			<div class="Txt_Employment">
				
					<p class="lastNode">Employment Status:
				</p>
			</div>
			<div class="Txt_Self">
				
					<p class="lastNode"> Self Employed
				</p>
			</div>
			<div class="Txt_Unemployed">
				
					<p class="lastNode">Unemployed
				</p>
			</div>
		</div>
		<div class="clearFloat"></div>
		<div id="lifeStyleInIncLvlFullProfileDiv">
			<div class="Txt_Income">
				
					<p class="lastNode">Income Level:
				</p>
			</div>
			<div class="Txt_l00">
				
					<p class="lastNode"> &#36;l00,000 to &#36;150,000
				</p>
			</div>
			<div class="Txt_l002">
				
					<p class="lastNode"> &#36;l00,000 to &#36;150,000
				</p>
			</div>
		</div>
		<div class="clearFloat"></div>
		<div id="lifeStyleInPrfsnFullProfileDiv">
			<div class="Txt_Profession">
				
					<p class="lastNode">Profession:
				</p>
			</div>
			<div class="Txt_TransportationHospitalityTravel">
				
					<p class="lastNode">Transportation/Hospitality/Travel
				</p>
			</div>
			<div class="Txt_TransportationHospitalityTravel2">
				
					<p class="lastNode">Transportation/Hospitality/Travel
				</p>
			</div>
		</div>
		<div class="clearFloat"></div>
      </div>
	</div>
	<div class="clearFloat"></div>
	<div id="characterH3FullProfileDiv">
    <span class="iconDiv"></span>
		
			<h3 class="h3_Character">
            <span class="hoverH3"></span>
				Character
			</h3>
		
		<div class="clearFloat"></div>
	</div>
	<div class="clearFloat"></div>
	<div id="characterFullProfileDiv">
         <div class="block">
		<div id="characterInDrnksFullProfileDiv">
			<div class="Txt_Drinks">
				
					<p class="lastNode">Drinks:
				</p>
			</div>
			<div class="Txt_Never">
				
					<p class="lastNode">Never
				</p>
			</div>
			<div class="Txt_Regularly">
				
					<p class="lastNode"> Regularly
				</p>
			</div>
		</div>
		<div class="clearFloat"></div>
		<div id="characterInSmksFullProfileDiv">
			<div class="Txt_Smokes">
				
					<p class="lastNode">Smokes:
				</p>
			</div>
			<div class="Txt_Yes2">
				
					<p class="lastNode"> Yes, trying to quit
				</p>
			</div>
			<div class="Txt_Occasionally">
				
					<p class="lastNode"> Occasionally
				</p>
			</div>
		</div>
		<div class="clearFloat"></div>
		<div id="characterInExrcsFullProfileDiv">
			<div class="Txt_Exercise">
				
					<p class="lastNode">Exercise:
				</p>
			</div>
			<div class="Txt_5">
				
					<p class="lastNode"> 5 or more time per week
				</p>
			</div>
			<div class="Txt_52">
				
					<p class="lastNode"> 5 or more time per week
				</p>
			</div>
		</div>
		<div class="clearFloat"></div>
		<div id="characterInDtFullProfileDiv">
			<div class="Txt_Diet">
				
					<p class="lastNode">Diet:
				</p>
			</div>
			<div class="Txt_Vegetarian">
				
					<p class="lastNode">Vegetarian/ Vegan
				</p>
			</div>
			<div class="Txt_Vegetarian2">
				
					<p class="lastNode">Vegetarian/ Vegan
				</p>
			</div>
		</div>
		<div class="clearFloat"></div>
		<div id="characterInRlgnFullProfileDiv">
			<div class="Txt_Religion">
				
					<p class="lastNode">Religion:
				</p>
			</div>
			<div class="Txt_Spiritual">
				
					<p class="lastNode">Spiritual but not Religious
				</p>
			</div>
			<div class="Txt_Spiritual2">
				
					<p class="lastNode">Spiritual but not Religious
				</p>
			</div>
		</div>
		<div class="clearFloat"></div>
		<div id="characterInRlgnAttdncFullProfileDiv">
			<div class="Txt_Religion2">
				
					<p class="lastNode">Religion Attendance:
				</p>
			</div>
			<div class="Txt_More">
				
					<p class="lastNode">More than once a week
				</p>
			</div>
			<div class="Txt_More2">
				
					<p class="lastNode">More than once a week
				</p>
			</div>
		</div>
		<div class="clearFloat"></div>
		<div id="characterInHmrFullProfileDiv">
			<div class="Txt_Humor">
				
					<p class="lastNode">Humor:
				</p>
			</div>
			<div class="Txt_Quick">
				
					<p class="lastNode">Quick Witted / Clever
				</p>
			</div>
			<div class="Txt_Quick2">
				
					<p class="lastNode">Quick Witted / Clever
				</p>
			</div>
		</div>
		<div class="clearFloat"></div>
		<div id="characterInPolclVwFullProfileDiv">
			<div class="Txt_Political">
				
					<p class="lastNode">Political View:
				</p>
			</div>
			<div class="Txt_Middle">
				
					<p class="lastNode">Middle of the Road
				</p>
			</div>
			<div class="Txt_Middle2">
				
					<p class="lastNode">Middle of the Road
				</p>
			</div>
		</div>
		<div class="clearFloat"></div>
		<div id="characterInHbbsIntstsFullProfileDiv">
			<div class="Txt_HobbiesInterests">
				
					<p class="lastNode">Hobbies/Interests:
				</p>
			</div>
			<div class="Txt_Playing">
				
					<p class="lastNode">Playing Music/Instrument
				</p>
			</div>
			<div class="Txt_Playing2">
				
					<p class="lastNode">Playing Music/Instrument
				</p>
			</div>
		</div>
		<div class="clearFloat"></div>
		<div id="characterInFullProfileDiv">
			<div class="Txt_Astrological">
				
					<p class="lastNode">Astrological Sign:
				</p>
			</div>
			<div class="Txt_Sagittarius">
				
					<p class="lastNode">Sagittarius
				</p>
			</div>
			<div class="Txt_Sagittarius2">
				
					<p class="lastNode">Sagittarius
				</p>
			</div>
		</div>
		<div class="clearFloat"></div>
		<div id="characterInMyHtFtrFullProfileDiv">
			<div class="Txt_My">
				
					<p class="lastNode">My Hot Feature:
				</p>
			</div>
			<div class="Txt_Stomach">
				
					<p class="lastNode">Stomach
				</p>
			</div>
			<div class="Txt_Stomach2">
				
					<p class="lastNode">Stomach
				</p>
			</div>
		</div>
		<div class="clearFloat"></div>
        </div>
	</div>
	<div class="clearFloat"></div>*@
        @* end of kelly new profile details here *@
	</div>

	<div id="qProfilErightDiv">
    <center>
    
    

   
 
    
    </center>
	</div>
	<div class="clearFloat"></div>
	<div id="qProfilEfooterDiv">
     
	</div>
	<div class="clearFloat"></div>

    <script type="text/javascript">
        $(document).ready(function () {

        });



        $('a.rotator').click(function () {
            // Get PhotoId value

            var id1 = $(this).find('img').attr("id");
            //now do your ajax postback passing in the id.

            $.get('@Url.Action("QuickProfileSwitchPhoto")', { photoid: id1 }, function (result) {
                $("#status").html(result); //This is the line you need, displays contents
            });
        });




</script>
    

</div>