@model Shell.MVC2.Models.MembersViewModel

@{
    ViewBag.Title = "Account"; 
    Layout = "~/Views/Members/Shared/_LayoutMembers.cshtml";
}

@{ Html.EnableClientValidation(); }
   


    <div id="main">
	<div id="headerAccountSettingsDiv">
           <!-- Added to toggle adds 1-27-2012 -->
    
     @Html.Partial("AddSense/TopBottomBanner") 
        
	</div>
	<div class="clearFloat"></div>
	@*<div id="header2AccountSettingsDiv">
		<div class="My_Quik_Stats_EditsAccountSettings">
			
				<p class="lastNode">My Quik Stats Edits
			</p>
		</div>
		<div class="clearFloat"></div>
	</div>*@
	<div class="clearFloat"></div>
	<div id="leftAccountSettingsDiv">
       <!-- Added to toggle adds 1-27-2012 -->
    
    @Html.Partial("AddSense/LeftRightScraper")    
	</div>
	<div id="BodyAccountSettingsDiv">
		<div id="AccountSettingsBox3SliceContainer">
			<div id="AccountSettingsBox3SliceContainer_top_1">
			</div>
			<div class="Change_SettingsAccountSettings">
			  <p class="lastNode">
                @ViewData["AccountStatus"] 
            </p> 
            <div class="CenterLinkDiv">
				@Html.ValidationSummary(false, "Account Update was unsuccessful. Please correct the errors and try again.")
           </div>
       </div>
               
                  @Html.Partial("AccountDetail", Model.Account) 
              
		<div id="AccountSettingsBox3SliceContainer_bottom_1">
		</div>
		</div>
		<div class="clearFloat"></div>
	</div>
	<div id="rightAccountSettingsDiv">
          <!-- Added to toggle adds 1-27-2012 -->
    
    @Html.Partial("AddSense/LeftRightScraper") 
       
	</div>
	<div class="clearFloat"></div>
	<div id="footerAccountSettingsDiv">
	</div>
	<div class="clearFloat"></div>
</div>






