@model Shell.MVC2.Models.LogonViewModel




@{
    ViewBag.Title = "LogOn";
    Layout = "~/Views/Members/Shared/_LayoutMembers.cshtml";
}

    @{ Html.EnableClientValidation(); }


    <link href="@Url.Content("~/Content/auth-buttons.css")" rel="stylesheet" type="text/css" />





    <div id="main">
    <div class="clearFloat"></div>
	<div id="headerLogInDiv">

    <!-- Added to toggle adds 1-27-2012 --> 
     @Html.Partial("AddSense/TopBottomBanner") 
    
   



	</div>
	<div class="clearFloat"></div>
    

    <div class="clearFloat"></div>
	<div id="leftLogInDiv">
  
    <!-- Added to toggle adds 1-27-2012 -->
    @Html.Partial("AddSense/LeftRightScraper") 
    

	</div>
	<div id="bodyLogInDiv">
		<div id="Box3SliceContainerLogin2">
			<div id="Box3SliceContainer_top_1Login">
			</div>
			<div class="Go_ahead_Log_in_and_LogIn">
				
				  	<p class="lastNode">
                     @ViewData["LoginStatus"] 
                </p> 
				
			</div>
			<div class="clearFloat"></div>

           
           
           @if(Model.LostAccountInfoModel.LostPassword == false && Model.LostActivationCodeModel.LostActivationCode  == false ){     
           @Html.Partial("LogOnDetail", Model.LogOnModel) 
            }   
        

           @if(Model.LostAccountInfoModel.LostPassword == true  ){       
            @Html.Partial("LostAccountInfo", Model.LostAccountInfoModel)  
            }      
         
           @if(Model.LostActivationCodeModel.LostActivationCode  == true  ){       
            @Html.Partial("LostActivationCode", Model.LostActivationCodeModel)  
            }      
         

         <div class="clearFloat"></div>

          

         <div id="CenterLinkDiv">
        
           <div style="margin-top :6px;" ></div>
            @Html.ActionLink("Register on Home Page if you do not have an account", "Register", null, new { @class = "MvcActionLinkStyle" })
           </div>
		
		 <div class="clearFloat"></div>
		<div id="Box3SliceContainer_bottom_1Login">
		</div>
		</div>
		
	</div>
	<div id="rightLogInDiv">
       <!-- Added to toggle adds 1-27-2012 -->
 
   @Html.Partial("AddSense/LeftRightScraper") 
  
	</div>

	
	<div class="clearFloat"></div>
</div>




