@model Shell.MVC2.Models.LostActivationCodeModel

   <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js") " type="text/javascript"></script>

   <div id="MainContent">

      <div class="CenterLinkDiv">		
         	@Html.ValidationSummary(false, "Resending of ActivationCode was unsuccessful. Please correct the errors and try again.")
            </div>
  
        @using (Html.BeginForm("LostActivationCode", "Account", FormMethod.Post))
           
           { 
       
     		<div id="Txt_EmailLogin">
			
                <div class="editor-label">
                    @Html.LabelFor(model => model.Email)
                </div>
			
			</div>
            <div class ="TextField_win_EmailLogIn">
            <div class="editor-field">
                  @Html.TextBoxFor(model => model.Email)
            </div>
			<div class="clearFloat"></div>
			</div>
            <div class ="TextFeildRightValidation">
               @Html.ValidationMessageFor(model => model.Email)
            </div>

            <div class="clearFloat"></div> 		
			
        

        <div id="CenterLinkDiv">
                @Html.ActionLink("Return to Login page", "LogOn",null,  new { @class = "MvcActionLinkStyle" })
               </div>
      	

		
         <div id="buttonTelerik1">
             <button class="t-button" type="submit" value="submit">Submit</button>
			</div>
			<div id="buttonTelerik2">
               <button class="t-button" type="submit" onclick='javascript:history.go(-1);return false;'>Cancel</button>
          
			</div>

              
	
           } 
 
</div> 
   


