@model Shell.MVC2.Models.EditProfileSettingsViewModel
@using Shell.MVC2.AppFabric
@using Shell.MVC2.Models



  
<script type="text/javascript">


    //Eventually use thise maybe to set default values 
    $(document).ready(function () {
        // $('#load').hide();
        // var commentContainer
        //  var string;
        // UpdateMemberStatus();


    });

    //Jqeuery to handle ANY selection of checkboxes
    $(function () {

        $("input.SelectedYourDietIds").click(function () {
            if ($("input.SelectedYourDietIds:checked").val() == 1)

            //loop through and disbale all other since they picked ANY which means all anways
                $("input.SelectedYourDietIds").each(function () {
                    if ($(this).attr("value") != 1) {
                        $(this).removeAttr("checked");
                        $(this).attr("disabled", "disabled");
                    }
                });
            //otherwise un disable them all
            else $("input.SelectedYourDietIds").removeAttr("disabled");
            //first dsiable all then enable on the ANy one
            //  $("input.SelectedYourDietIds").attr("disabled", "disabled");
            //enable and check the any one


            //   $("#log").html($(":checked").val() + " is checked!");


        });

    });




    //Jqeuery to handle ANY selection of checkboxes
    $(function () {

        $("input.SelectedYourExerciseIds").click(function () {
            if ($("input.SelectedYourExerciseIds:checked").val() == 1)

            //loop through and disbale all other since they picked ANY which means all anways
                $("input.SelectedYourExerciseIds").each(function () {
                    if ($(this).attr("value") != 1) {
                        $(this).removeAttr("checked");
                        $(this).attr("disabled", "disabled");
                    }
                });
            //otherwise un disable them all
            else $("input.SelectedYourExerciseIds").removeAttr("disabled");
            //first dsiable all then enable on the ANy one
            //  $("input.SelectedYourExerciseIds").attr("disabled", "disabled");
            //enable and check the any one


            //   $("#log").html($(":checked").val() + " is checked!");


        });

    });




    //Jqeuery to handle ANY selection of checkboxes
    $(function () {

        $("input.SelectedYourDrinksIds").click(function () {
            if ($("input.SelectedYourDrinksIds:checked").val() == 1)

            //loop through and disbale all other since they picked ANY which means all anways
                $("input.SelectedYourDrinksIds").each(function () {
                    if ($(this).attr("value") != 1) {
                        $(this).removeAttr("checked");
                        $(this).attr("disabled", "disabled");
                    }
                });
            //otherwise un disable them all
            else $("input.SelectedYourDrinksIds").removeAttr("disabled");
            //first dsiable all then enable on the ANy one
            //  $("input.SelectedYourDrinksIds").attr("disabled", "disabled");
            //enable and check the any one


            //   $("#log").html($(":checked").val() + " is checked!");


        });

    });


    //Jqeuery to handle ANY selection of checkboxes
    $(function () {

        $("input.SelectedYourSmokesIds").click(function () {
            if ($("input.SelectedYourSmokesIds:checked").val() == 1)

            //loop through and disbale all other since they picked ANY which means all anways
                $("input.SelectedYourSmokesIds").each(function () {
                    if ($(this).attr("value") != 1) {
                        $(this).removeAttr("checked");
                        $(this).attr("disabled", "disabled");
                    }
                });
            //otherwise un disable them all
            else $("input.SelectedYourSmokesIds").removeAttr("disabled");
            //first dsiable all then enable on the ANy one
            //  $("input.SelectedYourSmokesIds").attr("disabled", "disabled");
            //enable and check the any one


            //   $("#log").html($(":checked").val() + " is checked!");


        });

    });







    //this function runs before the dailog to make sure the have not edit thier profile
    // or seen the popup already in the current session.
    function SetDefaultValues() {

        $.post('/Members/CheckMemberStatus', '',
              function (data) {



                  if (data.Status == false) {



                  }
                  else {


                  }

                  //set the value to the geopostalcode value
                  //ziporpostalcmb.value(data.geocode);


              }, "json");
        //add a function to bind postal code as well

    }



   
</script>



 <div id="PartialContainderForEditApperance1">
     @{  List<SelectListItem> Diets = CachingFactory.SharedObjectHelper.Getdietlist();  } 
     @{  List<SelectListItem> Excercises = CachingFactory.SharedObjectHelper.GetExerciseList() ;  } 
        @{  List<SelectListItem> Drinks = CachingFactory.SharedObjectHelper.GetDrinksList();  } 
     @{  List<SelectListItem> Smokes = CachingFactory.SharedObjectHelper.GetSmokesList() ;  } 

    
    <div id="log"></div>
     <div class="Describe_what_makes_aboutEdit">
				
					<p class="lastNode">Describe your diet, exersise and social  features as well as what you expect activity wise in a match
				</p>
	</div>
			
			<div class="clearFloat"></div>
         
        @using (Html.BeginForm("EditProfileCharacterSettings", "EditProfile", new { @ViewIndex = Constants.CharacterSettingsPage1, @fulledit = Model.IsFullEditing }, FormMethod.Post))
           { 

           <div id="contentforpartial">
      
      		<div class="MeMyQSElifestyle">				
					<p class="lastNode">Me(Diet and Excerise) 
				</p>
			</div>
			<div class="clearFloat"></div>
            <div id="MiddleCenterAlign_win_MyQSElifestyle" >
			<div id="hasKidsMeComboBox_win_MyQSElifestyle">
              @(Html.Telerik().ComboBoxFor(model => Model.CharacterSettings.DietID)
                              .Name("Model.CharacterSettings.DietID")
                    .HtmlAttributes(new { style = string.Format("width: 125px") })
                                   .BindTo(Diets) 
                     .AutoFill(true)
)
            </div> 
		  <div id="smokeMeComboBox_win_MyQSElifestyle">          
         
       </div> 

			<div id="maritalStatusMeComboBox_win_MyQSElifestyle">
                  @(Html.Telerik().ComboBoxFor(model => Model.CharacterSettings.ExerciseID )
                                                    .Name("Model.CharacterSettings.ExerciseID")
                    .HtmlAttributes(new { style = string.Format("width: 125px") })
                       .BindTo(Excercises ) 
                     .AutoFill(true)
)
            </div> 
                      

             </div> 
             
             <div class="clearFloat"></div>
             <div class="MeMyQSElifestyle">				
					<p class="lastNode">Me(Drinking and Smoking) 
				</p>
			</div>
			<div class="clearFloat"></div>

            <div id="MiddleCenterAlign_win_MyQSElifestyle2" >
			<div id="hasKidsMeComboBox_win_MyQSElifestyle2">
              @(Html.Telerik().ComboBoxFor(model => Model.CharacterSettings.DrinksID )
                                  .Name("Model.CharacterSettings.DrinksID")
                    .HtmlAttributes(new { style = string.Format("width: 125px") })
                                   .BindTo(Drinks) 
                     .AutoFill(true)
)
            </div> 
		  <div id="smokeMeComboBox_win_MyQSElifestyle2">          
         
       </div> 

			<div id="maritalStatusMeComboBox_win_MyQSElifestyle2">
                  @(Html.Telerik().ComboBoxFor(model => Model.CharacterSettings.SmokesID  )
                                                                   .Name("Model.CharacterSettings.SmokesID")
                    .HtmlAttributes(new { style = string.Format("width: 125px") })
                       .BindTo(Smokes ) 
                     .AutoFill(true)
)
            </div> 
                      

             </div> 

			<div class="clearFloat"></div>
            
			<div class="YouMyQSElifestyle">				
					<p class="lastNode">You (What I am looking for in a Match)
				</p>
			</div>
			<div class="clearFloat"></div>
			<div class="Has_KidsMyQSElifestyle">
				
					<p class="lastNode">Diet
				</p>
			</div>
			<div class="SmokeMyQSElifestyle">
				
					<p class="lastNode">Exercise
				</p>
			</div>
			<div id="topHksMyQSElifestyleDivCustomForExiercize">
			

             <table style="width: 95%"  class="CheckboxLabelText"  > 
                <tr> </tr> 
                    @{ int cnt2 = 0; } 
               @foreach(var showme in Model.CharacterSearchSettings.dietlist  )                   
                 { 
                   if (cnt2 == 2 || cnt2 == 4 || cnt2 == 6 || cnt2 == 8 || cnt2 == 10) 
                   {  <tr></tr> }                  
                   
                      <td style="padding:5px;" >  
                      @if (showme.Selected) 
                          {     
                          <input type="checkbox" class="SelectedYourDietIds" name="SelectedYourDietIds" value="@showme.DietID" checked="checked"  />   
                              
                           } else 
                          {         
                          <input type="checkbox" class="SelectedYourDietIds" name="SelectedYourDietIds" value="@showme.DietID"  />
                           }  
                        

                        @showme.DietName
                        </td>                     
                     
                     <!-- increment counter here only once -->
                       cnt2++   ;               
                         
                  
                    
                  }

              
                  
			 </table> 			
            </div>
			<div id="midHksMyQSElifestyleDivCustomForExiercize">
            
            <table style="width: 95%"  class="CheckboxLabelText"  > 
                <tr> </tr> 
            @{ int cnt1 = 0; } 
               @foreach(var showme in Model.CharacterSearchSettings.exerciselist  )                   
                 { 
                  if (cnt1 == 2 || cnt1 == 4 || cnt1 == 6 || cnt1 == 8 || cnt1 == 10) 
                  { <tr></tr> }                   
                  
 
                      <td style="padding:5px;" >  
                      @if (showme.Selected) 
                          {     
                          <input type="checkbox" class="SelectedYourExerciseIds" name="SelectedYourExerciseIds" value="@showme.ExerciseID" checked="checked"  />   
                              
                           } else 
                          {         
                          <input type="checkbox" class="SelectedYourExerciseIds" name="SelectedYourExerciseIds" value="@showme.ExerciseID"  />
                           }  
                        

                        @showme.ExerciseName
                        </td>                     
                   
                     <!-- increment counter here only once -->
                       cnt1++                  
                         ; 
                  
                    
                  }
                  
			 </table>
			
            
            </div>
			
		
			<div class="Has_KidsMyQSElifestyle">
				
					<p class="lastNode">Drinks
				</p>
			</div>
			<div class="SmokeMyQSElifestyle">
				
					<p class="lastNode">Smokes
				</p>
			</div>
			<div id="topHksMyQSElifestyleDivCustomForExiercize2">
			

             <table style="width: 95%"  class="CheckboxLabelText"  > 
                <tr> </tr> 
               @{ int cnt3 = 0; } 
               @foreach(var showme in Model.CharacterSearchSettings.drinkslist  )                   
                 { 
                  if (cnt3 == 2 || cnt3 == 4 || cnt3 == 6 || cnt3 == 8 || cnt3 == 10)
                  {   <tr></tr> }                   
                  
 
                      <td style="padding:5px;" >  
                      @if (showme.Selected) 
                          {     
                          <input type="checkbox" class="SelectedYourDrinksIds" name="SelectedYourDrinksIds" value="@showme.DrinksID" checked="checked"  />   
                              
                           } else 
                          {         
                          <input type="checkbox" class="SelectedYourDrinksIds" name="SelectedYourDrinksIds" value="@showme.DrinksID"  />
                           }  
                        

                        @showme.DrinksName
                        </td>                     
                     
                     <!-- increment counter here only once -->
                  cnt3++
                     ;


                 }
                  
			 </table> 			
            </div>
			<div id="midHksMyQSElifestyleDivCustomForExiercize2">
            
            <table style="width: 95%"  class="CheckboxLabelText"  > 
                <tr> </tr> 
               @{ int cnt4 = 0; } 
               @foreach (var showme in Model.CharacterSearchSettings.smokeslist)
               {
                   if (cnt4 == 2 || cnt4 == 4 || cnt4 == 6 || cnt4 == 8 || cnt4 == 10)
                   {
                      <tr></tr>
                   }                  
                   
                      <td style="padding:5px;" >  
                      @if (showme.Selected) 
                          {     
                          <input type="checkbox" class="SelectedYourSmokesIds" name="SelectedYourSmokesIds" value="@showme.SmokesID" checked="checked"  />   
                              
                           } else 
                          {         
                          <input type="checkbox" class="SelectedYourSmokesIds" name="SelectedYourSmokesIds" value="@showme.SmokesID"  />
                           }  
                        

                        @showme.SmokesName
                        </td>                     
                     
                     <!-- increment counter here only once -->
                   cnt4++
                     ;


               }
                  
			 </table>
			
            
            </div>
			


					
		<div id="buttonbootstrap1">
             <button class="btn btn-primary" type="submit" value="Submit">Submit this page</button>
			</div>
			<div id="buttonbootstrap2">
               <button class="btn btn-inverse" type="submit" onclick='javascript:history.go(-1);return false;'>Cancel And Return</button>
          
	     </div>
		<div id="lifestyleBox3SliceContainer_bottom_1">
        
        <div class="EditProfileBottomLinkBack">
				
					<p class="lastNode">
                      @Html.ActionLink("Back", "EditProfileLifeStyleSettings", "EditProfile", new { ViewIndex = Constants.LifeStyleSettingsPage4 }, null)           
				</p>
			</div>
          
			<div class="EditProfileBottomLikNext">
				
						<p class="lastNode">
                      @Html.ActionLink("Next", "EditProfileCharacterSettings", "EditProfile", new { ViewIndex = Constants.CharacterSettingsPage2 }, null)
				</p>
			</div>
		</div>
		</div>
		<div class="clearFloat"></div>
	
 
             } 


 </div>  
