@model Shell.MVC2.Models.EditProfileSettingsViewModel
@using Shell.MVC2.AppFabric
@using Shell.MVC2.Models





  
<script type="text/javascript">


    //Eventually use thise maybe to set default values 
    $(document).ready(function () {
        // $('#load').hide();
        // var commentContainer
        //  var string;
        // UpdateMemberStatus();


    });

//Jqeuery to handle ANY selection of checkboxes
    $(function () {

        $("input.SelectedMyLookingForIds").click(function () {
            if ($("input.SelectedMyLookingForIds:checked").val() == 1)

            //loop through and disbale all other since they picked ANY which means all anways
                $("input.SelectedMyLookingForIds").each(function () {
                    if ($(this).attr("value") != 1) {
                        $(this).removeAttr("checked");
                        $(this).attr("disabled", "disabled");
                    }
                });
            //otherwise un disable them all
            else $("input.SelectedMyLookingForIds").removeAttr("disabled");
            //first dsiable all then enable on the ANy one
            //  $("input.SelectedMyLookingForIds").attr("disabled", "disabled");
            //enable and check the any one


            //   $("#log").html($(":checked").val() + " is checked!");


        });

    });



   
  //Jqeuery to handle ANY selection of checkboxes
    $(function () {

        $("input.SelectedYourMaritalStatusIds").click(function () {
            if ($("input.SelectedYourMaritalStatusIds:checked").val() == 1)

            //loop through and disbale all other since they picked ANY which means all anways
                $("input.SelectedYourMaritalStatusIds").each(function () {
                    if ($(this).attr("value") != 1) {
                        $(this).removeAttr("checked");
                        $(this).attr("disabled", "disabled");
                    }
                });
            //otherwise un disable them all
            else $("input.SelectedYourMaritalStatusIds").removeAttr("disabled");
            //first dsiable all then enable on the ANy one
            //  $("input.SelectedYourMaritalStatusIds").attr("disabled", "disabled");
            //enable and check the any one


            //   $("#log").html($(":checked").val() + " is checked!");


        });

    });




   //Jqeuery to handle ANY selection of checkboxes
    $(function () {

        $("input.SelectedYourLookingForIds").click(function () {
            if ($("input.SelectedYourLookingForIds:checked").val() == 1)

            //loop through and disbale all other since they picked ANY which means all anways
                $("input.SelectedYourLookingForIds").each(function () {
                    if ($(this).attr("value") != 1) {
                        $(this).removeAttr("checked");
                        $(this).attr("disabled", "disabled");
                    }
                });
            //otherwise un disable them all
            else $("input.SelectedYourLookingForIds").removeAttr("disabled");
            //first dsiable all then enable on the ANy one
            //  $("input.SelectedYourLookingForIds").attr("disabled", "disabled");
            //enable and check the any one


            //   $("#log").html($(":checked").val() + " is checked!");


        });

    });


    //Jqeuery to handle ANY selection of checkboxes
    $(function () {

        $("input.SelectedYourLivingSituationIds").click(function () {
            if ($("input.SelectedYourLivingSituationIds:checked").val() == 1)

            //loop through and disbale all other since they picked ANY which means all anways
                $("input.SelectedYourLivingSituationIds").each(function () {
                    if ($(this).attr("value") != 1) {
                        $(this).removeAttr("checked");
                        $(this).attr("disabled", "disabled");
                    }
                });
            //otherwise un disable them all
            else $("input.SelectedYourLivingSituationIds").removeAttr("disabled");
            //first dsiable all then enable on the ANy one
            //  $("input.SelectedYourLivingSituationIds").attr("disabled", "disabled");
            //enable and check the any one


            //   $("#log").html($(":checked").val() + " is checked!");


        });

    });







    //this function runs before the dailog to make sure the have not edit thier profile
    // or seen the popup already in the current session.
    function SetDefaultValues() {

        $.post('/Members/CheckMemberStatus', '',
              function (data) {



                  if (data.Status == false) {

           

                  }
                  else {


                  }

                  //set the value to the geopostalcode value
                  //ziporpostalcmb.value(data.geocode);


              }, "json");
        //add a function to bind postal code as well

    }



   
</script>



 <div id="PartialContainderForEditApperance1">
     @{  List<SelectListItem> LivingSituations = CachingFactory.SharedObjectHelper.GetLivingSituationList() ;  } 
     @{  List<SelectListItem> MaritalStatuses = CachingFactory.SharedObjectHelper.GetMaritalStatusList () ;  } 

    
    <div id="log"></div>
     <div class="Describe_what_makes_aboutEdit">
				
					<p class="lastNode">Describe your current and previous marital status's as well as your current living sitiuation
				</p>
	</div>
			
			<div class="clearFloat"></div>
         
        @using (Html.BeginForm("EditProfileLifeStyleSettings", "EditProfile", new { @ViewIndex = Constants.LifeStyleSettingsPage1, @fulledit = Model.IsFullEditing }, FormMethod.Post))
           { 

           <div id="contentforpartial">
      
      		<div class="MeMyQSElifestyle">				
					<p class="lastNode">Me(Marital Status and Living Situation) 
				</p>
			</div>
			<div class="clearFloat"></div>
            <div id="MiddleCenterAlign_win_MyQSElifestyle" >
			<div id="hasKidsMeComboBox_win_MyQSElifestyle">
              @(Html.Telerik().ComboBoxFor(model => Model.LifeStyleSettings.MaritalStatusID)
                                     .Name("Model.LifeStyleSettings.MaritalStatusID")
                    .HtmlAttributes(new { style = string.Format("width: 125px") })
                                   .BindTo(MaritalStatuses) 
                     .AutoFill(true)
)
            </div> 
		  <div id="smokeMeComboBox_win_MyQSElifestyle">          
         
       </div> 

			<div id="maritalStatusMeComboBox_win_MyQSElifestyle">
                  @(Html.Telerik().ComboBoxFor(model => Model.LifeStyleSettings.LivingSituationID)
                                     .Name("Model.LifeStyleSettings.LivingSituationID")
                    .HtmlAttributes(new { style = string.Format("width: 125px") })
                       .BindTo(LivingSituations ) 
                     .AutoFill(true)
)
            </div> 
                      

             </div> 
             <div id="CenteringDiv">
               <div class="MiddleCheckBoxHeaderEdit">
					<p class="lastNode">Me(Looking For)
			</p>
            </div> 
            <table style="width: 95%"  class="CheckboxLabelText"  > 
                <tr> </tr> 
               @{ int cnt1 = 0; } 
               @foreach(var showme in Model.LifeStyleSettings.MyLookingForList )                   
                 { 
                  if (cnt1 == 3 || cnt1 == 6 || cnt1 == 9 || cnt1 == 12 || cnt1 == 15)
                  {   <tr></tr> }                   
                  
 
                      <td style="padding:5px;" >  
                      @if (showme.Selected)
                      {     
                          <input type="checkbox" class="SelectedMyLookingForIds" name="SelectedMyLookingForIds" value="@showme.MyLookingForID" checked="checked"  />   
                              
                      }
                      else
                      {         
                          <input type="checkbox" class="SelectedMyLookingForIds" name="SelectedMyLookingForIds" value="@showme.MyLookingForID"  />
                      }  
                        

                        @showme.MyLookingForName
                        </td>                     
                     
                     <!-- increment counter here only once -->
                      cnt1++;



                 }
                  
			 </table> 			

             
             </div>


			<div class="clearFloat"></div>
            
			<div class="YouMyQSElifestyle">				
					<p class="lastNode">You (What I am looking for in a Match)
				</p>
			</div>
			<div class="clearFloat"></div>
			<div class="Has_KidsMyQSElifestyle">
				
					<p class="lastNode">Marital Status
				</p>
			</div>
			<div class="SmokeMyQSElifestyle">
				
					<p class="lastNode">Looking For
				</p>
			</div>
			<div id="topHksMyQSElifestyleDiv">
			
             <table style="width: 95%"  class="CheckboxLabelText"  > 
                <tr> </tr> 
               @{ int cnt2 = 0; } 
               @foreach (var showme in Model.LifeStyleSearchSettings.MaritalStatusList)
               {
                   if (cnt2 == 2 || cnt2 == 4 || cnt2 == 6 || cnt2 == 8 || cnt2 == 10)
                   {   <tr></tr> }                   
                  
 
                      <td style="padding:5px;" >  
                      @if (showme.Selected)
                      {     
                          <input type="checkbox" class="SelectedYourMaritalStatusIds" name="SelectedYourMaritalStatusIds" value="@showme.MaritalStatusID" checked="checked"  />   
                              
                      }
                      else
                      {         
                          <input type="checkbox" class="SelectedYourMaritalStatusIds" name="SelectedYourMaritalStatusIds" value="@showme.MaritalStatusID"  />
                      }  
                        

                        @showme.MaritalStatusName</td>                     
                    
                     <!-- increment counter here only once -->
                      cnt2++;



               }
                  
			 </table> 			
            </div>
			<div id="midHksMyQSElifestyleDiv">
            
            <table style="width: 95%"  class="CheckboxLabelText"  > 
                <tr> </tr> 
               @{ int cnt3 = 0; } 
               @foreach (var showme in Model.LifeStyleSearchSettings.LookingForList)
               {
                   if (cnt3 == 2 || cnt3 == 4 || cnt3 == 6 || cnt3 == 8 || cnt3 == 10)
                   {   <tr></tr> }                  
                   
                      <td style="padding:5px;" >  
                      @if (showme.Selected)
                      {     
                          <input type="checkbox" class="SelectedYourLookingForIds" name="SelectedYourLookingForIds" value="@showme.LookingForID" checked="checked"  />   
                              
                      }
                      else
                      {         
                          <input type="checkbox" class="SelectedYourLookingForIds" name="SelectedYourLookingForIds" value="@showme.LookingForID"  />
                      }  
                        

                        @showme.LookingForName</td>                     
                     
                     <!-- increment counter here only once -->
                      cnt3++;



               }
                  
			 </table>
			
            
            </div>
			
			<div class="Marital_StatusMyQSElifestyle">
				
					<p class="lastNode">Living Situation
				</p>
			</div>
			<div id="topMsMyQSElifestyleDiv">
            <table style="width: 95%"  class="CheckboxLabelText"  > 
                <tr> </tr> 
               @{ int cnt4 = 0; } 
               @foreach (var showme in Model.LifeStyleSearchSettings.LivingSituationList)
               {
                   if (cnt4 == 3 || cnt4 == 6 || cnt4 == 9 || cnt4 == 12 || cnt4 == 10)
                   { <tr></tr>
                   }                  
                   
                      <td style="padding:5px;" >  
                      @if (showme.Selected)
                      {     
                          <input type="checkbox" class="SelectedYourLivingSituationIds" name="SelectedYourLivingSituationIds" value="@showme.LivingSituationID" checked="checked"  />   
                              
                      }
                      else
                      {         
                          <input type="checkbox" class="SelectedYourLivingSituationIds" name="SelectedYourLivingSituationIds" value="@showme.LivingSituationID"  />
                      }  
                        

                        @showme.LivingSituationName</td>                     
                     
                     <!-- increment counter here only once -->
                      cnt4++;



               }
                  
			 </table>
			</div>
			
					
	<div id="buttonbootstrap1">
             <button class="btn btn-primary" type="submit" value="Submit">Submit this page</button>
			</div>
			<div id="buttonbootstrap2">
               <button class="btn btn-inverse" type="submit" onclick='javascript:history.go(-1);return false;'>Cancel And Return</button>
          
	     </div>
		<div id="lifestyleBox3SliceContainer_bottom_1">
        
        <div class="EditProfileBottomLinkBack">
				
					<p class="lastNode">
                      @Html.ActionLink("Back", "EditProfileAppearanceSettings", "EditProfile", new { ViewIndex = Constants.AppearanceSettingsPage4 }, null)           
				</p>
			</div>
            
			<div class="nextMyQSElifestyle">
				
						<p class="lastNode">
                      @Html.ActionLink("Next", "EditProfileLifeStyleSettings", "EditProfile", new { ViewIndex = Constants.LifeStyleSettingsPage2 }, null)
				</p>
			</div><strong></strong>
		</div>
		</div>
	
	
 
             } 


 </div>  
