@model Shell.MVC2.Models.EditProfileSettingsViewModel
@using Shell.MVC2.AppFabric
@using Shell.MVC2.Models





  
  
<script type="text/javascript">


    //Eventually use thise maybe to set default values 
    $(document).ready(function () {
        // $('#load').hide();
        // var commentContainer
        //  var string;
        // UpdateMemberStatus();


    });

    //Jqeuery to handle ANY selection of checkboxes
    $(function () {

        $("input.SelectedYourHaveKidsIds").click(function () {
            if ($("input.SelectedYourHaveKidsIds:checked").val() == 1)

            //loop through and disbale all other since they picked ANY which means all anways
                $("input.SelectedYourHaveKidsIds").each(function () {
                    if ($(this).attr("value") != 1) {
                        $(this).removeAttr("checked");
                        $(this).attr("disabled", "disabled");
                    }
                });
            //otherwise un disable them all
            else $("input.SelectedYourHaveKidsIds").removeAttr("disabled");
            //first dsiable all then enable on the ANy one
            //  $("input.SelectedYourHaveKidsIds").attr("disabled", "disabled");
            //enable and check the any one


            //   $("#log").html($(":checked").val() + " is checked!");


        });

    });




    //Jqeuery to handle ANY selection of checkboxes
    $(function () {

        $("input.SelectedYourWantsKidsIds").click(function () {
            if ($("input.SelectedYourWantsKidsIds:checked").val() == 1)

            //loop through and disbale all other since they picked ANY which means all anways
                $("input.SelectedYourWantsKidsIds").each(function () {
                    if ($(this).attr("value") != 1) {
                        $(this).removeAttr("checked");
                        $(this).attr("disabled", "disabled");
                    }
                });
            //otherwise un disable them all
            else $("input.SelectedYourWantsKidsIds").removeAttr("disabled");
            //first dsiable all then enable on the ANy one
            //  $("input.SelectedYourWantsKidsIds").attr("disabled", "disabled");
            //enable and check the any one


            //   $("#log").html($(":checked").val() + " is checked!");


        });

    });








    //this function runs before the dailog to make sure the have not edit thier profile
    // or seen the popup already in the current session.
    function SetDefaultValues() {

        $.post('/Members/CheckMemberStatus', '',
              function (data) {



                  if (data.Status == false) {



                  }
                  else {


                  }

                  //set the value to the geopostalcode value
                  //ziporpostalcmb.value(data.geocode);


              }, "json");
        //add a function to bind postal code as well

    }



   
</script>



 <div id="PartialContainderForEditLifeStyle2">
     @{  List<SelectListItem> HasKids = CachingFactory.SharedObjectHelper.GetHaveKidsList() ;  } 
     @{  List<SelectListItem> WantsKids = CachingFactory.SharedObjectHelper.GetWantsKidsList() ;  } 

    
    <div id="log"></div>
     <div class="Describe_what_makes_aboutEdit">
				
					<p class="lastNode">Do you have kids and what re your future plans regarding Kids
				</p>
	</div>
			
			<div class="clearFloat"></div>
         
        @using (Html.BeginForm("EditProfileLifeStyleSettings", "EditProfile", new { @ViewIndex = Constants.LifeStyleSettingsPage2, @fulledit = Model.IsFullEditing }, FormMethod.Post))
           { 

           <div id="contentforpartial">
      
      		<div class="MeMyQSElifestyle">				
					<p class="lastNode">Me(Have And/Or Want Kids) 
				</p>
			</div>
			<div class="clearFloat"></div>
            <div id="MiddleCenterAlign_win_MyQSElifestyle" >
			<div id="hasKidsMeComboBox_win_MyQSElifestyle">

                  @(Html.Telerik().ComboBoxFor(model => Model.LifeStyleSettings.HaveKidsId  )
                                                                   .Name("Model.LifeStyleSettings.HaveKidsId")
                    .HtmlAttributes(new { style = string.Format("width: 125px") })
                       .BindTo(HasKids) 
                     .AutoFill(true)
)

            </div> 
		  <div id="smokeMeComboBox_win_MyQSElifestyle">          
         
       </div> 

			<div id="maritalStatusMeComboBox_win_MyQSElifestyle">
               @(Html.Telerik().ComboBoxFor(model => Model.LifeStyleSettings.WantsKidsID  )
                                                                                  .Name("Model.LifeStyleSettings.WantsKidsID")
                    .HtmlAttributes(new { style = string.Format("width: 125px") })
                                   .BindTo(WantsKids) 
                     .AutoFill(true)
)
            </div> 
           
                      

             </div> 
             

			<div class="clearFloat"></div>
            
			<div class="YouMyQSElifestyle">				
					<p class="lastNode">You (What you are looking for in a Match regarding Kids)
				</p>
			</div>
			<div class="clearFloat"></div>
			<div class="Has_KidsMyQSElifestyle">
				
					<p class="lastNode">Have Kids 
				</p>
			</div>
			<div class="SmokeMyQSElifestyle">
				
					<p class="lastNode">Want Kids
				</p>
			</div>
			<div id="topHksMyQSElifestyleDiv">
			
            <table style="width: 95%"  class="CheckboxLabelText"  > 
                <tr> </tr> 
               @{ int cnt2 = 0; } 
               @foreach(var showme in Model.LifeStyleSearchSettings.HaveKidsList )                   
                 { 
                  if (cnt2 == 2 || cnt2 == 4 || cnt2 == 6 || cnt2 == 8 || cnt2 == 10) 
                  { <tr></tr>
                         }                   
                  
 
                      <td style="padding:5px;" >  
                      @if (showme.Selected) 
                          {     
                          <input type="checkbox" class="SelectedYourHaveKidsIds" name="SelectedYourHaveKidsIds" value="@showme.HaveKidsID" checked="checked"  />   
                              
                           } else 
                          {         
                          <input type="checkbox" class="SelectedYourHaveKidsIds" name="SelectedYourHaveKidsIds" value="@showme.HaveKidsID"  />
                           }  
                        

                        @showme.HaveKidsName</td>                     
                     
                     <!-- increment counter here only once -->
                       cnt2++   ;               
                        
                  
                    
                  }
                  
			 </table>

            

              			
            </div>
			<div id="midHksMyQSElifestyleDiv">
            
            <table style="width: 95%"  class="CheckboxLabelText"  > 
                <tr> </tr> 
               @{ int cnt3 = 0; } 
               @foreach(var showme in Model.LifeStyleSearchSettings.WantsKidsList  )                   
                 { 
                  if (cnt3 == 2 || cnt3 == 4 || cnt3 == 6 || cnt3 == 8 || cnt3 == 10) 
                  { <tr></tr>}                  
                   
                      <td style="padding:5px;" >  
                      @if (showme.Selected) 
                          {     
                          <input type="checkbox" class="SelectedYourWantsKidsIds" name="SelectedYourWantsKidsIds" value="@showme.WantsKidsID" checked="checked"  />   
                              
                           } else 
                          {         
                          <input type="checkbox" class="SelectedYourWantsKidsIds" name="SelectedYourWantsKidsIds" value="@showme.WantsKidsID"  />
                           }  
                        

                        @showme.WantsKidsName</td>                     
                     
                     <!-- increment counter here only once -->
                     cnt3++;                
                         
                  
                    
                  }
                  
			 </table>
			
            
            </div>
			
			
			
					
		<div id="buttonbootstrap1">
             <button class="btn btn-primary" type="submit" value="Submit">Submit this page</button>
			</div>
			<div id="buttonbootstrap2">
               <button class="btn btn-inverse" type="submit" onclick='javascript:history.go(-1);return false;'>Cancel And Return</button>
          
	     </div>
		<div id="lifestyleBox3SliceContainer_bottom_1">
        
        <div class="EditProfileBottomLinkBack">
				
					<p class="lastNode">
                      @Html.ActionLink("Back", "EditProfileLifeStyleSettings", "EditProfile", new { ViewIndex = Constants.LifeStyleSettingsPage1 }, null)           
				</p>
			</div>
            <div id="buttonMyQSElifestyleDiv">
			</div>
			<div class="EditProfileBottomLikNext">
				
						<p class="lastNode">
                      @Html.ActionLink("Next", "EditProfileLifeStyleSettings", "EditProfile", new { ViewIndex = Constants.LifeStyleSettingsPage3 }, null)
				</p>
			</div><strong></strong>
		</div>
		</div>
		<div class="clearFloat"></div>
	
 
             } 


 </div>  
