@model Shell.MVC2.Models.EditProfileSettingsViewModel
@using Shell.MVC2.AppFabric
@using Shell.MVC2.Models

@*<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js") " type="text/javascript"></script>*@


<script type="text/javascript">


    $(function () {

        $("input.SelectedYourEyColorIDs").click(function () {
            if ($("input.SelectedYourEyColorIDs:checked").val() == 1)

            //loop through and disbale all other since they picked ANY which means all anways
                $("input.SelectedYourEyColorIDs").each(function () {
                    if ($(this).attr("value") != 1) {
                        $(this).removeAttr("checked");
                        $(this).attr("disabled", "disabled");
                    }
                });
            //otherwise un disable them all
            else $("input.SelectedYourEyColorIDs").removeAttr("disabled");
            //first dsiable all then enable on the ANy one
            //  $("input.SelectedYourEyColorIDs").attr("disabled", "disabled");
            //enable and check the any one

            //for debugging
            // $("#log").html($(":checked").val() + " is checked!");


        });

    });


    $(function () {

        $("input.SelectedYourHairColorIDs").click(function () {
            if ($("input.SelectedYourHairColorIDs:checked").val() == 1)

            //loop through and disbale all other since they picked ANY which means all anways
                $("input.SelectedYourHairColorIDs").each(function () {
                    if ($(this).attr("value") != 1) {
                        $(this).removeAttr("checked");
                        $(this).attr("disabled", "disabled");
                    }
                });
            //otherwise un disable them all
            else $("input.SelectedYourHairColorIDs").removeAttr("disabled");
            //first dsiable all then enable on the ANy one
            //  $("input.SelectedYourHairColorIDs").attr("disabled", "disabled");
            //enable and check the any one

            //for debugging
          //  $("#log").html($(":checked").val() + " is checked!");


        });

    });

   
</script>

<div id="PartialContainderForEditApperance1">
     @{  List<SelectListItem> HairColors = CachingFactory.SharedObjectHelper.Gethaircolorlist() ;  } 
     @{  List<SelectListItem> EyeColors = CachingFactory.SharedObjectHelper.Geteyecolorlist  () ;  } 
    

     <div class="Describe_what_makes_aboutEdit">
				
					<p class="lastNode">Update your facial and hair features as well as what you prefer in a perfect mate
				</p>
	</div>
			
			<div class="clearFloat"></div>
         
        @using (Html.BeginForm("EditProfileAppearanceSettings", "EditProfile", new { @ViewIndex = Constants.AppearanceSettingsPage3, @fulledit = Model.IsFullEditing }, FormMethod.Post))
           { 
               <div class="MiddleCheckBoxHeaderEdit">
					<p class="lastNode">Me
			</p>
		   </div>

            <div class="MiddleCheckBoxHeaderEdit">
               @(Html.Telerik().ComboBoxFor(model => Model.AppearanceSettings.HairColorID)
                                                   .Name("Model.AppearanceSettings.HairColorID")
                    .HtmlAttributes(new { style = string.Format("width: 125px") })
                                   .BindTo(HairColors) 
                     .AutoFill(true)
)
		   </div>

			<div class="clearFloat"></div>
		
            <div class="MiddleCheckBoxHeaderEdit">
					<p class="lastNode">You 
			</p>
		   </div>           
           <div class="editor-field"> 
            <table style="width: 95%"  class="CheckboxLabelText"  > 
                <tr> </tr> 
               @{ int cnt = 0; } 
              
               @foreach(var showme in Model.AppearanceSearchSettings.haircolorlist )                   
                 { 
                  if (cnt == 4 || cnt == 8 || cnt == 12 || cnt == 12 || cnt == 15)
                      {  <tr></tr> 
                          }
                    
                  
 
                      <td style="padding:5px;" >  
                      @if (showme.Selected) 
                          {     
                          <input type="checkbox" class="SelectedYourHairColorIDs" name="SelectedYourHairColorIDs" value="@showme.HairColorID" checked="checked"  />   
                              
                           } else 
                          {         
                          <input type="checkbox" class="SelectedYourHairColorIDs"  name="SelectedYourHairColorIDs" value="@showme.HairColorID"  />
                           }  
                        
                        @showme.HairColorName
                        
                        </td> 

                                            
                 
                     <!-- increment counter here only once -->
                       cnt++                  
                         ; 
                  
                    
                  }
                  
			 </table> 

			
             </div>
			
			<div class="clearFloat"></div>
		     <div class="MiddleCheckBoxHeaderEdit">
					<p class="lastNode">Me
			</p>
		   </div>
			<div class="clearFloat"></div>
			<div class="MiddleCheckBoxHeaderEdit">
            @(Html.Telerik().ComboBoxFor(model => Model.AppearanceSettings.EyeColorID  )
                                    .Name("Model.AppearanceSettings.EyeColorID")
                    .HtmlAttributes(new { style = string.Format("width: 125px") })
                                   .BindTo(EyeColors) 
                     .AutoFill(true)
)
            </div> 
                <div class="MiddleCheckBoxHeaderEdit">
					<p class="lastNode">You 
			</p>
		   </div>
           
           <div class="editor-field"> 
            <table style="width: 95%"  class="CheckboxLabelText"  > 
                <tr> </tr> 
               @{ int cnt2 = 0; } 
               @foreach(var eycolor in Model.AppearanceSearchSettings.eyecolorlist)                   
                 { 
                   if (cnt2 == 4 || cnt2 == 8 || cnt2 == 12 || cnt2 == 12 || cnt2 == 15)
                   {   <tr></tr>  }
                    
                  
 
                      <td style="padding:5px;" >  
                      @if (eycolor.Selected) 
                          {     
                          <input type="checkbox" class="SelectedYourEyColorIDs" name="SelectedYourEyColorIDs" value="@eycolor.EyeColorID" checked="checked"  />   
                              
                           } else 
                          {         
                          <input type="checkbox" class="SelectedYourEyColorIDs" name="SelectedYourEyeColorIDs" value="@eycolor.EyeColorID"  />
                           }  
                        
                        @eycolor.EyeColorName
                        
                        </td> 


                    
                    
                     <!-- increment counter here only once -->
                   cnt2++
                     ;


                 }
                  
			 </table> 

			
             </div>
			

           
			<div class="clearFloat"></div>
			<div id="buttonbootstrap1">
             <button class="btn btn-primary" type="submit" value="Submit">Submit this page</button>
			</div>
			<div id="buttonbootstrap2">
               <button class="btn btn-inverse" type="submit" onclick='javascript:history.go(-1);return false;'>Cancel And Return</button>
          
	     </div>
		
			
		<div id="MyQSEappearnceBox3SliceContainer_bottom_1">
        <div class="EditProfileBottomLinkBack">
				
					<p class="lastNode">
                      @Html.ActionLink("Back", "EditProfileAppearanceSettings", "EditProfile", new { ViewIndex = Constants.AppearanceSettingsPage2 }, null)

           
				</p>
			</div>
			<div class="EditProfileBottomLikNext">
				
					<p class="lastNode">
                      @Html.ActionLink("Next", "EditProfileAppearanceSettings", "EditProfile", new { ViewIndex = Constants.AppearanceSettingsPage4 }, null)
				</p>
			</div>
		</div>
 
             } 


 </div>
