@model Shell.MVC2.Models.EditProfileSettingsViewModel
@using Shell.MVC2.AppFabric
@using Shell.MVC2.Models




  
<script type="text/javascript">


    //Eventually use thise maybe to set default values 
    $(document).ready(function () {
        // $('#load').hide();
        // var commentContainer
        //  var string;
        // UpdateMemberStatus();


    });

    //Jqeuery to handle ANY selection of checkboxes
    $(function () {

                 
        $("input.SelectedYourHumorIds").click(function () {
            if ($("input.SelectedYourHumorIds:checked").val() == 1)

            //loop through and disbale all other since they picked ANY which means all anways
                $("input.SelectedYourHumorIds").each(function () {
                    if ($(this).attr("value") != 1) {
                        $(this).removeAttr("checked");
                        $(this).attr("disabled", "disabled");
                    }
                });
            //otherwise un disable them all
            else $("input.SelectedYourHumorIds").removeAttr("disabled");
            //first dsiable all then enable on the ANy one
            //  $("input.SelectedYourHumorIds").attr("disabled", "disabled");
            //enable and check the any one


            //   $("#log").html($(":checked").val() + " is checked!");


        });

    });




    //Jqeuery to handle ANY selection of checkboxes
    $(function () {

        $("input.SelectedYourPoliticalViewIds").click(function () {
            if ($("input.SelectedYourPoliticalViewIds:checked").val() == 1)

            //loop through and disbale all other since they picked ANY which means all anways
                $("input.SelectedYourPoliticalViewIds").each(function () {
                    if ($(this).attr("value") != 1) {
                        $(this).removeAttr("checked");
                        $(this).attr("disabled", "disabled");
                    }
                });
            //otherwise un disable them all
            else $("input.SelectedYourPoliticalViewIds").removeAttr("disabled");
            //first dsiable all then enable on the ANy one
            //  $("input.SelectedYourPoliticalViewIds").attr("disabled", "disabled");
            //enable and check the any one


            //   $("#log").html($(":checked").val() + " is checked!");


        });

    });








    //this function runs before the dailog to make sure the have not edit thier profile
    // or seen the popup already in the current session.
    function SetDefaultValues() {

        $.post('/Members/CheckMemberStatus', '',
              function (data) {



                  if (data.Status == false) {



                  }
                  else {


                  }

                  //set the value to the geopostalcode value
                  //ziporpostalcmb.value(data.geocode);


              }, "json");
        //add a function to bind postal code as well

    }



   
</script>



 <div id="PartialContainderForEditApperance1">
     @{  List<SelectListItem> Humors = CachingFactory.SharedObjectHelper.GetHumorList();  } 
     @{  List<SelectListItem>  PoliticalViews = CachingFactory.SharedObjectHelper.GetPoliticalViewList () ;  } 
   

    
    <div id="log"></div>
     <div class="Describe_what_makes_aboutEdit">
				
					<p class="lastNode">What type of humor do you have and what are your political incliations if any, also use the "You" section to choose what you look for in a match Humor and Political inclination wise
				</p>
	</div>
			
			<div class="clearFloat"></div>
         
        @using (Html.BeginForm("EditProfileCharacterSettings", "EditProfile", new { @ViewIndex = Constants.CharacterSettingsPage4, @fulledit = Model.IsFullEditing }, FormMethod.Post))
           { 

           <div id="contentforpartial">
      
      		<div class="MeMyQSElifestyle">				
					<p class="lastNode">Me(Humor and Political Inclination) 
				</p>
			</div>
			<div class="clearFloat"></div>
            <div id="MiddleCenterAlign_win_MyQSElifestyle" >
			<div id="hasKidsMeComboBox_win_MyQSElifestyle">
              @(Html.Telerik().ComboBoxFor(model => Model.CharacterSettings.HumorID  )
                                                            .Name("Model.CharacterSettings.HumorID")
                    .HtmlAttributes(new { style = string.Format("width: 125px") })
                                   .BindTo(Humors) 
                     .AutoFill(true)
)
            </div> 
		  <div id="smokeMeComboBox_win_MyQSElifestyle">          
         
       </div> 

			<div id="maritalStatusMeComboBox_win_MyQSElifestyle">
                  @(Html.Telerik().ComboBoxFor(model => Model.CharacterSettings.PoliticalViewID  )
                                                                                  .Name("Model.CharacterSettings.PoliticalViewID")
                    .HtmlAttributes(new { style = string.Format("width: 125px") })
                       .BindTo(PoliticalViews ) 
                     .AutoFill(true)
)
            </div> 
                      

             </div> 
         
           
                 <div class="clearFloat"></div>
			<div class="YouMyQSElifestyle">				
					<p class="lastNode">You (What I am looking for in a Match)
				</p>
			</div>
							<div class="clearFloat"></div>
			
              <div class ="MiddleCheckFullWithBoxBodyEdit">
            <div class="MiddleCheckBoxHeaderEdit">
					<p class="lastNode">Your Humor Types
			</p>
		   </div>
           
   
            <table style="width: 95%"  class="CheckboxLabelText"  > 
                <tr> </tr> 
               @{ int cnt2 = 0; } 
               @foreach(var showme in Model.CharacterSearchSettings.humorlist)                   
                 { 
                  if (cnt2 == 5 || cnt2 == 10 || cnt2 == 15 || cnt2 == 20 || cnt2 == 25) 
                  {   <tr></tr> }
                    
                  
 
                      <td style="padding:2px;" >  
                      @if (showme.Selected) 
                          {     
                          <input type="checkbox" class="SelectedYourHumorIds" name="SelectedYourHumorIds" value="@showme.HumorID" checked="checked"  />   
                              
                           } else 
                          {         
                          <input type="checkbox" class ="SelectedYourHumorIds" name="SelectedYourHumorIds" value="@showme.HumorID"  />
                           }  
                        
                        @showme.HumorName
                       </td> 
                    
                     <!-- increment counter here only once -->
                       cnt2++  ;                
                        
                  
                    
                  }
                  
			 </table> 

	
</div> 

             				<div class="clearFloat"></div>
                              
                              <div class ="MiddleCheckFullWithBoxBodyEdit">
			<div class="MiddleCheckBoxHeaderEdit">
					<p class="lastNode">Your Political Views
			</p>
		   </div>
           
      <div class="editor-field"> 
            <table style="width: 95%"  class="CheckboxLabelText"  > 
                <tr> </tr> 
               @{ int cnt3 = 0; } 
               @foreach(var showme in Model.CharacterSearchSettings.politicalviewlist)                   
                 { 
                   if (cnt3 == 5 || cnt3 == 10 || cnt3 == 15 || cnt3 == 20 || cnt3 == 25)
                   { <tr></tr> }
                    
                  
 
                      <td style="padding:2px;" >  
                      @if (showme.Selected) 
                          {     
                          <input type="checkbox" class="SelectedYourPoliticalViewIds" name="SelectedYourPoliticalViewIds" value="@showme.PoliticalViewID" checked="checked"  />   
                              
                           } else 
                          {         
                          <input type="checkbox" class ="SelectedYourPoliticalViewIds" name="SelectedYourPoliticalViewIds" value="@showme.PoliticalViewID"  />
                           }  
                        
                        @showme.PoliticalViewName
                        </td> 


                    
                     
                     <!-- increment counter here only once -->
                   cnt3++;



                 }
                  
			 </table> 

			
             </div>
			</div> 		
		<div id="buttonbootstrap1">
             <button class="btn btn-primary" type="submit" value="Submit">Submit this page</button>
			</div>
			<div id="buttonbootstrap2">
               <button class="btn btn-inverse" type="submit" onclick='javascript:history.go(-1);return false;'>Cancel And Return</button>
          
	     </div>
		<div id="lifestyleBox3SliceContainer_bottom_1">
        
        <div class="EditProfileBottomLinkBack">
				
					<p class="lastNode">
                      @Html.ActionLink("Back", "EditProfileCharacterSettings", "EditProfile", new { ViewIndex = Constants.CharacterSettingsPage3 }, null)           
				</p>
			</div>
          
			<div class="EditProfileBottomLikNext">
				
						<p class="lastNode">
                      @Html.ActionLink("Finish and Save", "EditProfile", "EditProfile", new { ViewIndex = Constants.EditProfileStartPage }, null)
				</p>
			</div>
		</div>
		</div>
		<div class="clearFloat"></div>
	
 
             } 


 </div>  
