@model IPageable<Shell.MVC2.Models.MemberSearchViewModel>

 @{ //Pull the users who are avaiable to chat from from the viewbag
      var OnlineChatUsers = ViewBag.OnlineChatUsers as List<ChatUser>; 
     
 } 




         <p style ="margin-left:20px; margin-top :20px; font-size :12px;">
        <i>You are viewing page 
            @Model.PageIndex
            of
            @Model.PageCount... </i>
         </p>
       
      
       @{ int CurrentPage;
          if (Model.PageIndex <= Model.PageCount) { CurrentPage = 0; } else { CurrentPage = 1; } 
        }

         @{ foreach (var item in Model.Page)
           { 
           <!-- old URL action that redirected to detail search
        Url.Action("DetailSearch", new {page = CurrentPage + Model.PageIndex }) %>">

        
           -->


            <div class="MatchesHomePage">@{ CurrentPage++; }
                                                        

        @* users the object orinentaed layout to subclass the margin in *@
		<div class="GallerypicDivOuter mymatcheslayout">

			<div class="GallerypicDivInner">
                <a href="@Url.Action("QuickProfile", "Home", new { ScreenName = item.profile.ScreenName }, null)">
             <img src="@Url.Action("GetGalleryImageByScreenName", "Images", new { id = item.profile.ScreenName }, null)"
                        alt="" width="95" height="95" />
                        </a> 
			</div>
			<div class="clearFloat"></div>
			<div id="GallerynameDiv">
			
					
						@item.profile.ScreenName 
				<div class="clearFloat"></div>
			</div>

			<div id="GalleryageCityDiv">
				
					
						@item.Age  @item.City
					
				
				
				<div class="clearFloat"></div>
			</div>
			<div class="clearFloat"></div>
			<div id="GalleryactiveWhenDiv">
			
       
    

				
						   @if (OnlineChatUsers !=null && OnlineChatUsers.Any(p=>p.Name.Contains(item.profile.ScreenName ))  ) 
                                    {  
                                  
                                 @*  //TO DO check if the user allows random people to chat with them before adding the chat link
                                     //also convert to an inmage link ala quick profile page    
                                    	@Html.ActionLink("Chat",null,null, null, new { @class = "Link10", data_name=@item.ScreenName })*@
                                                                      
                               <label   >Online Now!</label>  <a class="galleryChatIcon" href="javascript:void(0)" Id="InviteToChat" data-name=@item.profile.ScreenName  ></a> 
                                    }
         else
         {   
         @Html.Encode("Online: ")
    @item.lastloggedonString 
         } 
				
				<div class="clearFloat"></div>
			</div>
			<div class="clearFloat"></div>
		</div>
          </div> 
           } }     
           
          
          
 
          
          				<div class="clearFloat"></div>
         <div style=" margin-top : 10px;" >
          @Html.Pagination()
        </div>
      
         
