@model Shell.MVC2.Models.MembersViewModel
@using Shell.MVC2.AppFabric
@using Shell.MVC2.Controllers

<!DOCTYPE html>

<html>
   
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="Free online dating for singles all over the world. 1000s of active members." />
<meta name="keywords" content="free dating, free online dating, online dating, singles, dating, personals, matchmaker, matchmaking,
 love, match, dating site,anewluv.com, free personals, christian singles, black singles, asian singles, jewish singles, local singles" />
<meta name="CLASSIFICATION" content="Free Dating,dating, personals, free dating, online dating, singles, matchmaking, love, relationships" />
<meta name="robots" content="index,follow" /> 

<title>Find Sombody Today At AnewLuv.com</title>

   <link rel="shortcut icon" href="../../Favicon.ico" type="image/x-icon" />
<link rel="icon"  href="../../favicon.ico" type="image/x-icon" />
	
	   
<link href="@Url.Content("~/Content/AnewLuvLandingPage2.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/auth-buttons.css")" rel="stylesheet" type="text/css" />
	<!--[if IE]>
	<style type="text/css" media="all">.borderitem {border-style: solid;}a:link {  
		filter: glow(color=black,strength=5), alpha(opacity=80); /* now both will work */  
	}</style>
	<![endif]-->

	  <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>

	  <script src="@Url.Content("~/Scripts/jquery.form.min.js")" type="text/javascript"></script>  
	  <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
 
 @(Html.Telerik().StyleSheetRegistrar()
		.DefaultGroup(group => group.Add("telerik.common.css")
									.Add("telerik.vista.css"))
							   
)

@*Code addded to register the URL to log errors too and the script libary that proccesses's window and client errors*@
<script type="text/javascript">  
  var logErrorUrl = '@Url.Action("LogJavaScriptError", "Error")';
</script>
<script src="@Url.Content("~/Scripts/errorhandler.js")" type="text/javascript"></script>
@* end of error handling *@

 <script type="text/javascript">

 



	 function RetrieveSportCountries() {

		 var sportcmb = $('#MyQuickSearch_MySelectedCountryName').data('tComboBox');
		 debugger;

		 if (sportcmb != null) {
			 var sportId = sportcmb.valueOf();


			 $.post('@Url.Action("GetDefaultCityList", "ComboBox")',
			  "CountryName=" + sportcmb.text(),
			  function (data) {				
                  $("#MyQuickSearch_MySelectedCityStateProvince").data('tComboBox').dataBind(data); //bind the city list after change

			  }, "json");
		 }
		 else {
			 alert("You must pick a country!");
			 return;

		 }
	 }


	 //sets a defult city on load 
//	 function SetCurrentCity() {

//		 var sportcmb = $("#MyQuickSearch_MySelectedCityStateProvince").data('tComboBox');

//		 $.post('../ComboBox/GetCurrentCity',
//			  function (data) {

//				  //set first value if u want
//				  $("#MyQuickSearch_MySelectedCityStateProvince").data('tComboBox').value(data.MyCity);

//			  }, "json");
//	 }


	 function FilterCities() {

		 var sportcmb = $('#MyQuickSearch_MySelectedCityStateProvince').data('tComboBox');


		 if (sportcmb != null) {
			 var sportId = sportcmb.value();


			 $.post('@Url.Action("GetDefaultCityList", "ComboBox")',
			  "CountryName=" + sportcmb.text(),
			  function (data) {
				  $("#MyQuickSearch_MySelectedCityStateProvince").data('tComboBox').BindTo(data);

			  }, "json");
			 //add a function to bind postal code as well
		 }
		 else {
			 alert("You must pick a country!");
			 return;

		 }
	 }

	 //client validation for quicj search
	 //not active yet not enough contries
	 function validatequicksearch() {

		 var sportcmb = $('#MyQuickSearch_MySelectedCountryName').data('tComboBox');
		 var sportcmb2 = $('#MySelectedCityStateProvince').data('tComboBox');

	 }





</script>



<script type="text/javascript" >
	//  document.write("Welcome to our visitors from " + geoplugin_city() + ", " + geoplugin_countryName());


    $(function () {



        //debugger;
        UpdateGuestGeoData();

        function UpdateGuestGeoData() {

            var url = "http://www.geoplugin.net/php.gp?ip=";

            $.ajax({
                url: 'http://www.geoplugin.net/json.gp?jsoncallback=?',
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (geodata) {
                    //  alert(result['geoplugin_city']);
                    // debugger;

                    var samplemembersviewmodel = {
                        MyCountryName: geodata['geoplugin_countryName'],
                        MyCountryCode: geodata['geoplugin_countryCode'],
                        MyContinentCode: geodata['geoplugin_continentCode'],
                        MyRegionName: geodata['geoplugin_regionName'],
                        MyCity: geodata['geoplugin_city'],
                        MyLongitude: geodata['geoplugin_longitude'],
                        MyLatitude: geodata['geoplugin_latitude'],
                        MyUserAgent: navigator.userAgent,
                        MyIpAddress: geodata['geoplugin_request']
                    };




                    // debugger;

                    //5/24/2012 asynch call to save the geo data once per session
                    $.ajax({
                        url: '@Url.Action("LogGuestGeoData", "home")',
                        data: JSON.stringify(samplemembersviewmodel),
                        type: 'POST',
                        contentType: 'application/json',
                        dataType: 'json',
                        success: function (result) {
                            //do nothing for now
                            //send email to admins statting we could not log geo data and why
                        }
                    });
                    // debugger;
                    //get the current values from quick search so we do not overright the quick sarch valuues

                    // var currentCity = $("#MyQuickSearch_MySelectedCityStateProvince").data('tComboBox').value();
                    //  var currrentCountry = $("#MyQuickSearch_MySelectedCountryName").data('tComboBox').value();
                    // data: { json_1:$.toJSON(data_1), json_2:$.toJSON(data_2) }, 
                    //samplemembersviewmodel.MyQuickSearch = currrentCountry;

                    $.ajax({
                        url: '@Url.Action("UpdateGuestGeoData", "home")',
                        data: JSON.stringify(samplemembersviewmodel),
                        type: 'POST',
                        contentType: 'application/json',
                        dataType: 'json',
                        success: function (result) {
                            try {
                                //debugger;
                                var object = $.parseJSON(result.model);
                                populatequicksearchgeodata(object.MyQuickSearch);
                            } catch (err) {
                                //grab the code that generated the error i.e the callee
                                var errorfunction = arguments.callee;
                                if (arguments != null && arguments.callee != null && arguments.callee.trace) logError(err, arguments.callee.trace(), errorfunction);
                            }
                            //do nothing for now
                            //just load the guest data alyways since it should be chaching previouls
                            //selections anyways in SaveGuestGeoData
                            //debugger;


                        }
                    });
                }
            });




        }

        //populates the quick search UI with geo data gatthered from update guest geodata
        function populatequicksearchgeodata(myquicksearch) {


            // options have no value..? 

            //debugger;
            $("#MyQuickSearch_MySelectedCityStateProvince").data('tComboBox').value(myquicksearch.MySelectedCityStateProvince);
            $("#MyQuickSearch_MySelectedIamGenderID").data('tComboBox').value(myquicksearch.MySelectedIamGenderID);
            $("#MyQuickSearch_MySelectedSeekingGenderID").data('tComboBox').value(myquicksearch.MySelectedSeekingGenderID);
            $("#MyQuickSearch_MySelectedFromAge").data('tComboBox').value(myquicksearch.MySelectedFromAge);
            $("#MyQuickSearch_MyselectedToAge").data('tComboBox').value(myquicksearch.MyselectedToAge);
            $("#MyQuickSearch_MySelectedCountryName").data('tComboBox').value(myquicksearch.MySelectedCountryName);

            //  RetrieveSportCountries();
        }


    });

   


</script>


   <!-- for jainrain engange -->
<script type="text/javascript">

    (function () {
        if (typeof window.janrain !== 'object') window.janrain = {};
        window.janrain.settings = {};
        // debugger;
        var url = '@Url.Action("AuthenticateOpenID","Account", null, "http")';
        var nav = url.indexOf('#');
        url = nav > 0 ? url.substring(0, nav) : url;
        url = url.replace('index.html', '');

        janrain.settings.tokenUrl = url;       

        function isReady() { janrain.ready = true; };
        if (document.addEventListener) {
            document.addEventListener("DOMContentLoaded", isReady, false);
        } else {
            window.attachEvent('onload', isReady);
        }

        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.id = 'janrainAuthWidget';

        if (document.location.protocol === 'https:') {
            e.src = 'https://rpxnow.com/js/lib/anewluv/engage.js';
        } else {
            e.src = 'http://widget-cdn.rpxnow.com/js/lib/anewluv/engage.js';
        }

        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(e, s);
    })();

</script>


</head>


<body>
 @{  List<SelectListItem> Ages = CachingFactory.SharedObjectHelper.GetAgeList();  } 
	@{  List<SelectListItem> Genders = CachingFactory.SharedObjectHelper.GetGenderList();  } 
	@{  List<SelectListItem> Countries = CachingFactory.SharedObjectHelper.GetCountrysList();  } 

	<div id="fb-root"></div>
<script>    (function (d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) { return; }
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
		fjs.parentNode.insertBefore(js, fjs);
	} (document, 'script', 'facebook-jssdk'));</script>



<div id="main">
	<div id="headerLandingDiv">
    <center>
         @Html.Partial("AddSense/TopBottomBanner") 
         </center> 
	</div>
	<div class="clearFloat"></div>

    <div id="LandingPic">	
	<div id="contentLandingDiv">
		
			<a href="#">
				
				  @Html.ActionLink("Find Somebody Today!", "Register", "Account", null, new { @class = "a_Find_Somebody_Today" }) 
			

			</a>
		
		<div class="clearFloat"></div>
		<div id="socialNetLandingDiv">
				   <a href="http://twitter.com/anewluvcom" class="twitter-follow-button" data-button="grey" data-text-color="#000000" data-link-color="#00AEFF" >Follow anewluvcom</a>
<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
		</div>
		
			<a href="#" >				
				@Html.ActionLink("Contact Us", "ContactUs", "Home", null, new { @class = "a_Contact_Us" }) 
			</a>
		
		
			<a href="#" >
				  @Html.ActionLink("About Us", "AboutUs", "Home", null, new { @class = "a_About_Us" }) 
			
				
			</a>
		
	</div>
 
	<div id="mainContentLandingDiv">
		
			<a href="#" >
			  @Html.ActionLink("Join Now", "Register", "Account", null, new { @class = "a_Join_Now" }) 
			</a>
		
		
			<a href="#" >
				 @Html.ActionLink("Member Sign In", "LogOn", "Account", null, new { @class = "a_Member_Sign_In" }) 
			</a>

             <div style="margin-left :-15px;">
              <a class="btn-auth btn-facebook janrainEngage" href="#button">Sign in with <b>Facebook</b></a>
             <a class="btn-auth btn-google janrainEngage" href="#button"><b>Google</b></a>
             <a class="btn-auth btn-yahoo janrainEngage" href="#button"><b>Yahoo</b></a>
             </div> 
	
		 @using (Html.BeginForm("QuickSearch", "Home", FormMethod.Post))
		   { 
		<div id="searchLandingDiv">
			<div class="Txt_I’m">
				
					<p class="lastNode">I&rsquo;m
				</p>
			</div>
					<div id="ComboBox_win_Gender1Landing">
			@(Html.Telerik().ComboBoxFor(model => Model.MyQuickSearch.MySelectedIamGenderID )
											 .Name("MyQuickSearch.MySelectedIamGenderID")
					.HtmlAttributes(new { style = string.Format("width: 75px"  ) })          
					.BindTo(Genders)
					.AutoFill(true)
)             
		</div>
						<div class="Txt_Seeking">
				
					<p class="lastNode">Seeking a
				</p>
			</div>
			<div id="ComboBox_win_gender2Landing">        
				@(Html.Telerik().ComboBoxFor(model => Model.MyQuickSearch.MySelectedSeekingGenderID)
														  .Name("MyQuickSearch.MySelectedSeekingGenderID")
					.HtmlAttributes(new { style = string.Format("width: 75px") })          
					.BindTo(Genders) 
					.AutoFill(true)
)
		</div>
						<div class="clearFloat"></div>
			<div class="Txt_Between">
				
					<p class="lastNode">Between the age of
				</p>
			</div>
				<div id="ComboBox_win_age1Landing">
		  @(Html.Telerik().ComboBoxFor(model => Model.MyQuickSearch.MySelectedFromAge)
					 .Name("MyQuickSearch.MySelectedFromAge")
					.HtmlAttributes(new { style = string.Format("width: 75px") })          
					.BindTo(Ages) 
					 .AutoFill(true)
					
					
)
		</div>
						<div class="Txt_and">
				
					<p class="lastNode">and
				</p>
			</div>
					<div id="ComboBox_win_age2Landing">
			@(Html.Telerik().ComboBoxFor(model => Model.MyQuickSearch.MyselectedToAge)
					 .Name("MyQuickSearch.MyselectedToAge")
					.HtmlAttributes(new { style = string.Format("width: 75px") })          
					.BindTo(Ages) 
					 .AutoFill(true)
					
					
)
		</div>

						<div class="clearFloat"></div>
			<div class="Txt_My">
				
					<p class="lastNode">My Country
				</p>
			</div>
			<div id="ComboBox_win_CountryLanding">
								 @(Html.Telerik().ComboBoxFor(model => Model.MyQuickSearch.MySelectedCountryName)
								 .Name("MyQuickSearch.MySelectedCountryName")                         
					  .AutoFill(true) //fill it with default data                    
					 .BindTo(Countries)
					 .HtmlAttributes(new { style = string.Format("width:{0}px",105) })                      
					   .AutoFill(true)
					  .HighlightFirstMatch(true) 
					  .ClientEvents(events => events.OnChange("RetrieveSportCountries"))
)  

		</div>
						<div class="Txt_City">
				
					<p class="lastNode">City
				</p>
			</div>
			<div id="ComboBox_win_CityLanding">
					   @(Html.Telerik().ComboBoxFor(model => Model.MyQuickSearch.MySelectedCityStateProvince)
				   .Name("MyQuickSearch.MySelectedCityStateProvince") 
					  .AutoFill(true)
						  .HtmlAttributes(new { style = string.Format("width:{0}px", 105) })
						.DataBinding(binding => binding.Ajax()
													 .Select("_FilteringAjax", "ComboBox")
						  .Delay(100)
						  .Cache(false)
							   )                    
											 
					  .Filterable(filtering =>
					  {
												  
							  filtering.FilterMode(AutoCompleteFilterMode.StartsWith);
							  filtering.MinimumChars(1);
						  
					  })
					  .HighlightFirstMatch(true)
					  
					  
)
		
		</div>
						<div class="clearFloat"></div>
			<div id="srchBtnLandingDiv">
			  <button class="seachbuttonlink" type="submit" value="QuickSearch"></button>
		   
			</div>
			<div class="clearFloat"></div>
		</div>
			} 

		<div id="browseLandingDiv">
			<div id="joinBtnLandingDiv">
			 @Html.ActionButton("","Register","Account", null, "redjoinnowbutton",null) 
			</div>
			<div class="clearFloat"></div>
		</div>
		<div id="facebookBoxLandingDiv">
		 <div class="fb-like-box" data-href="http://www.facebook.com/pages/anewluvcom/206769516012405" data-width="350" data-show-faces="true" data-stream="false" data-header="false"></div>
	 
		</div>
	</div>
      </div>
	<div class="clearFloat"></div> 
	<div id="footerLandingDiv">
    <center >
         @Html.Partial("AddSense/TopBottomBanner") 
         </center> 
	</div>
	<div class="clearFloat"></div>
</div>
@Html.Telerik().ScriptRegistrar()
</body>
</html>









