@model Shell.MVC2.Models.EditProfileSettingsViewModel
@using Shell.MVC2.Models


@{
    ViewBag.Title = "Edit Profile Basic Settings"; 
    Layout = "~/Views/Members/Shared/_LayoutMembers.cshtml";
}

@{ Html.EnableClientValidation(); }







<div id="main">
	<div id="aboutEditHeaderDiv">
    
      
          @Html.Partial("TopBottomLink") 
     
	</div>
	<div class="clearFloat"></div>
	<div id="aboutEditHeader2Div">
		<div class="My_Quik_Stats_EditsaboutEdit">
			
				<p class="lastNode">Edit Your Basic Setting 
			</p>

		</div>
		<div class="clearFloat"></div>
	</div>
	<div class="clearFloat"></div>
	<div id="aboutEditLeftDiv">
    <center>
       
       @Html.Partial("AddSense/LeftRightScraper") 

        
  </center>
	</div>

	<div id="aboutEditBodyDiv">
		<div id="aboutEditBox3SliceContainer">
			<div id="aboutEditBox3SliceContainer_top_1">
			</div>

            <center>
             <p class="lastNode">
                     @ViewData["EditProfileBasicSettingsStatus"] 
                </p> 
				@Html.ValidationSummary(false, "There was an error updating your settings. Please correct the errors and try again.")
             </center>
            
            <div class="BasicSettingsNavigationLinks">
            
             <div style="float:left; margin-left :150px;  padding-top :30px;">
             @(Ajax.ActionLink("Basic Settings Page1", /* link text */
             "EditProfileBasicSettings", /* action name */  
             "EditProfile", /* controller name */
                              new { ViewIndex = Constants.BasicSettingsPage1, fulledit = Model.IsFullEditing }, /* route values */
             new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "EditProfileBasicSettingsPage2" }, new {  @class ="MvcActionLinkStyle"}))
             </div>
             <div style="float:left; margin-left :10px; padding-top: 30px;">
             @(Ajax.ActionLink("Basic Settings Page2", /* link text */
             "EditProfileBasicSettings", /* action name */  
             "EditProfile", /* controller name */
                                                new { ViewIndex = Constants.BasicSettingsPage2, fulledit = Model.IsFullEditing }, /* route values */
             new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "EditProfileBasicSettingsPage2" }, new {  @class ="MvcActionLinkStyle"}))
             </div>
             </div>
             
           
       
            

            <div id="EditProfileBasicSettingsPages1">
            @if (Model.ViewIndex == Constants.BasicSettingsPage1 | Model.ViewIndex == 0) { 
            @Html.Partial("EditProfileBasicSettingsPage1", Model) 
                }
                </div>  		
			
            <div id="EditProfileBasicSettingsPage2">
              @if (Model.ViewIndex == Constants.BasicSettingsPage2) { 
            @Html.Partial("EditProfileBasicSettingsPage2", Model) 
                  }
                  </div>  		
			
		
		</div>
		<div class="clearFloat"></div>
     </div>



	<div id="abouteditRightDiv">
  <center>
       
       @Html.Partial("AddSense/LeftRightScraper") 

       
  </center>
	</div>
	<div class="clearFloat"></div>
	<div id="aboutEditFooterDiv">
                   
       
       @Html.Partial("TopBottomBanner") 

    
	</div>
	<div class="clearFloat"></div>
</div> 








