@model Shell.MVC2.Models.MembersViewModel

@section TitleContent {

    Account

}



    <div id="main">
    <div class="clearFloat"></div>
	<div id="headerMyQseQuikDiv">
      <script type="text/javascript"><!--
          google_ad_client = "ca-pub-9814096529112578";
          /* 728x90, created 3/10/10 */
          google_ad_slot = "2378578289";
          google_ad_width = 728;
          google_ad_height = 90;
//-->
</script>

<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
	</div>
	<div class="clearFloat"></div>
	<div id="header2MyQseQuikDiv">
		<div class="My_Quik_Stats_EditsaboutEditMyQseQuik">
			
				<p class="lastNode">My Quik Stats Edits
			</p>
		</div>
		<div class="clearFloat"></div>
	</div>
	<div class="clearFloat"></div>
	<div id="leftMyQseQuikDiv">
          <script type="text/javascript"><!--
              google_ad_client = "ca-pub-9814096529112578";
              /* 160x600image add */
              google_ad_slot = "0602151849";
              google_ad_width = 160;
              google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
	</div>
	<div id="bodyMyQseQuikDiv">
		<div id="mainPhotoMyQseQuik">
		</div>
		<div id="colwrapMyQseQuik3">
			<div id="MyQseQuikListLtDiv">
				<div class="Edit_seeking_ageMyQseQuik">
					
						<p class="lastNode">
                        @Html.ActionLink("[Edit seeking age]", "EditProfileBasicSettings", "EditProfile", null)
                    
                        
					</p>
				</div>
				<div class="clearFloat"></div>
				<div class="Edit_HeightMyQseQuik">
					
						<p class="lastNode">
                        @Html.ActionLink("[Edit Height]", "EditProfileQuickStatsAppearance", "EditProfile", null)
                    
                        
					</p>
				</div>
				<div class="clearFloat"></div>
				<div class="Edit_EthnicityMyQseQuik">
					
						<p class="lastNode">
                        @Html.ActionLink("[Edit Ethnicity]", "EditProfileQuickStatsEthnicity", "EditProfile", null)
                    
                       
                        
					</p>
				</div>
				<div class="clearFloat"></div>
				<div class="Edit_Has_KidsMyQseQuik">
					
						<p class="lastNode">
                         @Html.ActionLink("[Edit Has Kids]", "EditProfileQuickStatsLifestyle", "EditProfile", null)
                    
                       
					</p>
				</div>
				<div class="clearFloat"></div>
				<div class="Edit_My_CityMyQseQuik">
					
						<p class="lastNode">
                           @Html.ActionLink("[Edit My City]", "Account", "Account", null,null)
                        
					</p>
				</div>
				<div class="clearFloat"></div>
				<div class="Edit_CountryMyQseQuik">
					
						<p class="lastNode">
                          @Html.ActionLink("[Edit Country]", "Account", "Account", null,null)
                        
					</p>
				</div>
				<div class="clearFloat"></div>
				<div class="Edit_GenderMyQseQuik">
					
						<p class="lastNode">
                         @Html.ActionLink("[Edit Gender]", "Account", "Account", null,null)
                    
                       
					</p>
				</div>
				<div class="clearFloat"></div>
			</div>
		</div>
		<div id="colwrapMyQseQuik4">
			<div id="MyQseQuikListRtDiv">
				<div class="Edit_Seeking_GenderMyQseQuik">
					 
						<p class="lastNode">
                        @Html.ActionLink("[Edit Seeking Gender]", "EditProfileBasicSettings", "EditProfile", null)
                    
					</p>
				</div>
				<div class="clearFloat"></div>
				<div class="Edit_Body_TypeMyQseQuik">
					
						<p class="lastNode">
                         @Html.ActionLink("[Edit Body Type]", "EditProfileQuickStatsAppearance", "EditProfile", null)
                    
                      
					</p>
				</div>
				<div class="clearFloat"></div>
				<div class="Edit_ReligionMyQseQuik">
					
						<p class="lastNode">
                         @Html.ActionLink("[Edit Religion]", "EditProfileQuickStatsReligion", "EditProfile", null)
                    
                        
                        
					</p>
				</div>
				<div class="clearFloat"></div>
				<div class="Edit_SmokesMyQseQuik">
					
						<p class="lastNode">
                         @Html.ActionLink("[Edit Smokes]", "EditProfileQuickStatsLifestyle", "EditProfile", null)
                       
					</p>
				</div>
				<div class="clearFloat"></div>
				<div class="Edit_Marital_StatusMyQseQuik">
					 
						<p class="lastNode">
                        @Html.ActionLink("[Edit Marital Status]", "EditProfileQuickStatsLifestyle", "EditProfile", null)
                      
					</p>
				</div>
				<div class="clearFloat"></div>
				<div class="Edit_EmailMyQseQuik">
					
						<p class="lastNode">
                          @Html.ActionLink("[Edit Email]", "Account", "Account", null,null)
                        
					</p>
				</div>
				<div class="clearFloat"></div>
				<div class="Edit_PasswordMyQseQuik">
					
						<p class="lastNode">
                         @Html.ActionLink("[Edit Password]", "Account", "Account", null,null)
                        
                       
					</p>
				</div>
				<div class="clearFloat"></div>
			</div>
			<div class="clearFloat"></div>
		</div>
		<div id="colwrapMyQseQuik5">
			<div class="Edit_PhotosMyQseQuik">
				
					<p class="lastNode">
                     @Html.ActionLink("[Edit Photos]", "PhotoEditQuick", "EditProfile", null)
                    
				</p>
			</div>
			<div class="">
				
					<p class="lastNode">
                    
				</p>
			</div>
		</div>
		<div id="pic1MyQseQuik">
		</div>
		<div id="colwrapMyQseQuik6">
			<div class="Txt_AboutMyQseQuik">
				
					<p class="lastNode">
                     @Html.ActionLink("About me and the person I'm seeking [Edit]", "EditProfileBasicSettings", "EditProfile", null)
                    
                   
				</p>
			</div>
			<div class="clearFloat"></div>
			<div id="pic2MyQseQuik">
			</div>
			<div id="pic3MyQseQuik">
			</div>
			<div id="pic4MyQseQuik">
			</div>
			<div class="clearFloat"></div>
		</div>
		<div id="pic7MyQseQuik">
		</div>
		<div id="pic6MyQseQuik">
		</div>
		<div id="pic5MyQseQuik">
		</div>
		<div class="clearFloat"></div>
		<div class="Account_Settings_EdiMyQseQuik">
			
				<p class="lastNode">
                 @Html.ActionLink("[Account Settings Edit]", "Account", "Account", null, null)
                
			</p>
    </div>
		<div id="finishButtonMyQseQuikDiv">
		</div>
		<div class="Full_EditMyQseQuik">
			
				<p class="lastNode">Full Edit
			</p>
		</div>
	</div>


	<div id="righMyQseQuiktDiv">
          <script type="text/javascript"><!--
              google_ad_client = "ca-pub-9814096529112578";
              /* 160x600image add */
              google_ad_slot = "0602151849";
              google_ad_width = 160;
              google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
	</div>
	<div class="clearFloat"></div>
	<div id="footerMyQseQuikDiv">
	</div>
	<div class="clearFloat"></div>
</div>




