@model Shell.MVC2.Models.EditProfilePhotosViewModel

@{
    ViewBag.Title = "Quick Photo Edit"; 
    Layout = "~/Views/Members/Shared/_LayoutMembers.cshtml";
}

@{ Html.EnableClientValidation(); }




@*<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/MicrosoftAjax.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")>" type="text/javascript"></script>*@
<style type="text/css">


    .PhotoEdits
    {
        display: block;
        float: right;
        margin-left: 11px;
        margin-bottom: 40px;
        border: 1px solid #000;
        width: 94px;
        height: 95px;
    }
    .PhotoEditsItem
    {
        float: right; 
        width: 435px;
        margin-right: 23px;
        margin-top: 4px;
    }
    #TabStrip p
    {
        height: 100px auto;
        clear: right;
    }
    
    #TabStrip a.buttons
    {
        cursor: pointer;
        float: left;
        margin-top: 5px;
        margin-right:1em;
        color: #4c8acb;
        font-weight: bolder;
        font-size: 11px;
        font-family: verdana,Arial, Helvetica, sans-serif;
    }
        #TabStrip p input.buttons
    {
        cursor: pointer;
        float: left;
        margin-top: 5px;
        margin-right:1em;
        color: #4c8acb;
        font-weight:bolder;
        font-size: 11px;
        font-family: verdana,Arial, Helvetica, sans-serif;
       /* border: 0px solid;
        background-color: white;*/
    }
    #Kbutton
    {
        cursor:pointer; 
        float:right; 
        margin-bottom:5px; 
        margin-right: 24px;
        color: #4c8acb;
        font-weight:bolder;
        font-size:11px; 
        font-family: verdana,Arial, Helvetica, sans-serif;
        background-color: white;
        border: 0px solid;

    }
    
    #uploadEditPhoto
    {
        width: 555px;
        font-family: Helvetica,Arial, verdana, sans-serif;
        text-align:center;
        font-size:12px;
        margin-bottom:2em;
        margin-left:22px;
        background-color: #9cb8d6; /*#4c8acb;*/
        color:White;
        border:1px white solid;
    }
    div.t-tabstrip 
{ 
    border: 0 none; 
    background:none; 
}
div.t-tabstrip .t-content {
   border-bottom: 0 none; 
   border-left: 0 none;
   border-right: 0 none;
}

/*
.field-validation-error
{
    color:white;
    background-color:#c82b34;
    padding:5px;
    font-weight:bold;
    margin-bottom:3px;
}*/
.new-field-validation-error
{
    color:white;
    background-color:#c82b34;
    padding:5px;
    font-weight:bold;
    margin-bottom:3px;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

</style>
<div id="main">
	<div id="headerPhotoEditsDiv">
    <div id="aboutEditHeaderDiv">

   <!-- Added to toggle adds 1-27-2012 -->
    
     @Html.Partial("AddSense/TopBottomBanner") 
     
   
	</div>
	<div class="clearFloat"></div>
	
	<div class="clearFloat"></div>
	<div id="leftPhotoEditsDiv">
    <center>

    <!-- Added to toggle adds 1-27-2012 -->
    
    @Html.Partial("AddSense/LeftRightScraper") 
       
</center>
	</div>
	<div id="bodyPhotoEditsDiv">
		<div id="PhotoEditsDivBox3SliceContainer">
			<div id="PhotoEditsDivBox3SliceContainer_top_1">
			</div> 

              <span id="status">
            @if(Model.SingleProfilePhoto  != null   ){  
               @Html.Partial("PhotoEditView", Model.SingleProfilePhoto)
              }
              </span>
            <div class="clearFloat"></div>

@using (Html.BeginForm(FormMethod.Post)) { 
<input type="submit" name="ShowUploadButton" value="Add New Photo"  id ="Kbutton" />

  } 
<div class="clearFloat"></div>
<div id="uploadEditPhoto" >

@if(Model.IsUploading  == true   ){  
 @Html.Partial("EditUploadPhoto", Model.Photo) 
 } 

<div class="clearFloat"></div>
</div>


<div id="TabEditPhoto" style="margin-left:22px;width:555px;">

@{ string ApprovedCount = " (" + Model.ProfilePhotosApproved.Count().ToString() + ")"; }
@{ string PrivateCount = " (" + Model.ProfilePhotosPrivate.Count().ToString() + ")"; }
@{ string NotApprovedCount = " (" + Model.ProfilePhotosNotApproved.Count().ToString() + ")"; }
    @{ Html.Telerik().TabStrip()
                   .Name("TabStrip")
                   .HtmlAttributes(new { style = "height: 0px auto;font-size:11px;" })
                   .Items(tabstrip =>
               {
                   tabstrip.Add().Text("Public" + ApprovedCount).Content(@<text>

    <p >
        @using (Html.BeginForm()) { 


        if (Model.ProfilePhotosApproved.Count() != 0)
           { 
           <br />
            <input type="submit" name="PublicDelete" value="Delete Selected Values" class="t-button" onclick="return confirm('Are you sure you want to Delete?');" />
            <input type="submit" name="PublicPrivate" value="Make Private" class="t-button" />
             } 
            

        <div class="clearFloat">
        </div>
                 <br />
                @Html.ValidationMessage("PublicError", new { @class="new-field-validation-error" }) <br /><br />
        <ul class="PhotoEditsItem">
            @foreach (var item2 in Model.ProfilePhotosApproved)
               { 
            <li class="PhotoEdits"><a class="rotator">
                <img id="@item2.PhotoID" src="@Url.Action("GetGalleryImageByPhotoID", "Images", new { id = item2.PhotoID},null)"
                    alt="" width="94" height="94" />
            </a>
               <input type="checkbox" name="publicInputs" value="@item2.PhotoID" />
            </li>
             } 
        </ul>
         }   @*end of Html.BeginForm()*@
    </p>
    </text>).Selected(true);
      tabstrip.Add().Text("Private" + PrivateCount).Content(@<text>
    <p >
        @using (Html.BeginForm())
           { 

           <br />
            <input type="submit" name="PrivateDelete" value="Delete Selected Values" class="t-button" onclick="return confirm('Are you sure you want to Delete?');" />
            <input type="submit" name="PrivatePublic" value="Make Public" class="t-button" />

        <div class="clearFloat">
        </div>

         <br />
         @Html.ValidationMessage("PrivateError", new { @class="new-field-validation-error" }) <br /><br />
        <ul class="PhotoEditsItem">
            @foreach (var item3 in Model.ProfilePhotosPrivate)
               { 
            <li class="PhotoEdits"><a class="rotator">
                <img id="@item3.PhotoID" src="@Url.Action("GetGalleryImageByPhotoID", "Images", new { id = item3.PhotoID},null)"
                    alt="" width="94" height="94" />
            </a>
                <input type="checkbox" name="privateInputs" value="@item3.PhotoID" />
            </li>
             } 
        </ul>
         }  @*end of Html.BeginForm()*@
    </p>
      </text>);
    tabstrip.Add().Text("Not Approved" + NotApprovedCount).Content(@<text>
    <p >
        @using (Html.BeginForm())
           { 

           <br />
            <input type="submit" name="NotApprovedDelete" value="Delete Selected Values" class="t-button" onclick="return confirm('Are you sure you want to Delete?');" />

        <div class="clearFloat"></div>
        <br />
      @Html.ValidationMessage("NotApprovedError", new { @class="new-field-validation-error" }) <br /><br />
               
        <ul class="PhotoEditsItem">
            @foreach (var item4 in Model.ProfilePhotosNotApproved)
               { 
            <li class="PhotoEdits"><a class="rotator">
                <img id="@item4.PhotoID" src="@Url.Action("GetGalleryImageByPhotoID", "Images", new { id = item4.PhotoID},null)"
                    alt="" width="94" height="94" />
            </a>
                <input type="checkbox" name="deleteInputs" value="@item4.PhotoID" />
            </li>
             } 
        </ul>

         } 
        @*end of Html.BeginForm()*@
    </p>
    </text>);
               }).Render(); }
               
</div>






			<div class="clearFloat"></div>

			<div class="clearFloat"></div>
			<div class="Full_EditPhotoEditsDiv">
				
					<p class="lastNode">Full Edit
				</p>
			</div>


		<div id="PhotoEditsDivBox3SliceContainer_bottom_1">
		</div>
		</div>
		<div class="clearFloat"></div>
	</div>
	<div id="righPhotoEditsDiv">
    <center>
    <!-- Added to toggle adds 1-27-2012 -->
    
    @Html.Partial("AddSense/LeftRightScraper") 
       
</center>
	</div>
	<div class="clearFloat"></div>
	<div id="footerPhotoEditsDiv">

	</div>
	<div class="clearFloat"></div>
</div>

   <script type="text/javascript">
       $(document).ready(function () {

       });

                    

       $('a.rotator').click(function () {
           // Get PhotoId value

           var id1 = $(this).find('img').attr("id");
           //now do your ajax postback passing in the id.
  
           $.get('<%= Url.Action("PhotoEditView") %>', { photoid: id1 }, function (result) {
               $("#status").html(result); //This is the line you need, displays contents
           });
       });




</script>



    </div>


