@model IPageable<Shell.MVC2.Models.MailModel>

@using Omu.Awesome.Core
@using Omu.Awesome.Mvc.Helpers

  @{ //Pull the users who are avaiable to chat from from the viewbag
      var OnlineChatUsers = ViewBag.OnlineChatUsers as List<ChatUser>; 
     
   } 



@{
    ViewBag.Title = "NewReadMessage"; 
    Layout = "~/Views/Members/Shared/_LayoutMembers.cshtml";
}

@{ Html.EnableClientValidation(); }




		<div id="photoBoxStrip">
			<div id="pic9">
			</div>
			<div id="pic8">
			</div>
			<div id="pic7">
			</div>
			<div id="pic6">
			</div>
			<div id="pic5">
			</div>
			<div id="pic4">
			</div>
			<div id="pic3">
			</div>
			<div id="pic2">
			</div>
			<div id="pic1">
			</div>
			<div class="clearFloat"></div>
		</div>
    	<div class="clearFloat"></div>
	<div id="leftDivreadmsg">
	</div>
@* <% Html.RenderPartial("ViewMsg1"); %>*@

 <p id="click">click</p>

                <br /><br />
	<div id="bodyDivreadmsg">
		<div class="Txt_READreadmsg">
			
				<p class="lastNode">READ MESSAGE
			</p>
		</div>
		<div class="clearFloat"></div>
            @{ foreach (var item in Model.Page) { 
  
 

@*								<p class="lastNode">
                             <%: Html.ActionLink("Delete", "DeleteMail", new { id = item.MailboxMessagesFoldersID, PageIndex = Model.PageIndex, fldId = item.MailboxFolderID }, new { @class = "delete-link" })%>
						</p>*@
		<div id="ReadMessageBoxreadmsg">
@*        <% Html.RenderPartial("NewReadMsgForm", Model); %>*@



<div id="ContainerReadMsgreadmsg">
        		<div class="Txt_Backreadmsg">
        				<p class="lastNode">
                    @if (Model.PageIndex <= 1) {
                   @Html.Encode("Previous Messages")
                    } else {
                    @(Ajax.ActionLink("Previous Messages", /* link text */
                      "NewReadMsg", /* action name */
                      "Mail", /* controller name */
                      new { page = (Model.PageIndex - 1), item.MailboxFolderID, item.MailboxMessagesFoldersID }, /* route values */
                      new AjaxOptions() {HttpMethod = "GET", //InsertionMode = InsertionMode.Replace, 
                                          UpdateTargetId = "ReadMessageBox" }))
                    } 
                </p>
</div>
					
		<div class="Txt_Nextreadmsg">
			
				<p class="lastNode">

        @if (Model.PageIndex + 1 > Model.PageCount)
           {
        @Html.Encode("Next Message")
        }
           else
           {
        @(Ajax.ActionLink("Next Message", /* link text */
                      "NewReadMsg", /* action name */
                      "Mail", /* controller name */
                      new { page = (Model.PageIndex + 1), item.MailboxFolderID, item.MailboxMessagesFoldersID }, /* route values */
                      new AjaxOptions() {        }))
        } 
			</p>
		</div>

		<div id="rightMessageBoxreadmsg">
 			<div id="rightMessageBox_topreadmsg">
			</div>
			<div id="colwrap4readmsg">
				<div id="leftMesssgeBoxreadmsg">
					<div id="photoDivreadmsg">
                    <img  src="@Url.Action("GetGalleryImageByScreenName", "Images", new { id = item.SenderName},null)" alt="" width ="94" height ="94" />
					</div>
					<div class="clearFloat"></div>
					<div class="Txt_Agereadmsg">
						
							<p class="lastNode">Age
						</p>
					</div>
					<div class="Txt_30readmsg">
						
							<p class="lastNode">@item.dob  
						</p>
					</div>
					<div class="clearFloat"></div>
					<div class="Txt_Somewherereadmsg">
						
							<p class="lastNode">@item.City + ", " + item.State
						</p>
					</div>
					<div class="clearFloat"></div>
					<div class="Txt_Reportreadmsg">
						
							<p class="lastNode">@*<%: Html.ActionLink("Report User", "Create")%>*@
                                      @Html.ActionLink("View Thread", "NewReadMsgThread", new { page = Model.PageIndex, mailboxMessageID = item.MailboxMessageID})

						</p>
					</div>
					<div class="clearFloat"></div>
				</div>
			</div>
			<div id="colwrap5readmsg">
				<div id="replyTrashDivreadmsg">
					<div class="Txt_REPLYreadmsg">
						
							<p class="lastNode">@Html.ActionLink("REPLY", "NewReply", new { id = item.MailboxMessageID, mailboxMsgFldId = item.MailboxMessagesFoldersID })
						</p>
					</div>
					<div class="Txt_TRASHreadmsg">
							<p class="lastNode">
                             @Html.ActionLink("Delete", "DeleteMail", new { id = item.MailboxMessagesFoldersID, PageIndex = Model.PageIndex, fldId = item.MailboxFolderID }, new { @class = "delete-link" })
						</p>						

					</div>
				</div>
				<div class="clearFloat"></div>
				<div id="fromDivreadmsg">
					<div class="Txt_Fromreadmsg">
						
							<p class="lastNode">From:
						</p>
					</div>
					<div class="Txt_Namereadmsg">
						
							<p class="lastNode">@item.SenderName
						</p>
					</div>
					<div class="clearFloat"></div>
				</div>
				<div class="clearFloat"></div>
				<div id="subjectDivreadmsg">
					<div class="Txt_Subjectreadmsg">
						
							<p class="lastNode">Subject:
						</p>
					</div>
					<div class="Txt_Areadmsg">
						
							<p class="lastNode">@item.Subject
						</p>
					</div>
					<div class="clearFloat"></div>
				</div>
				<div class="clearFloat"></div>
				<div id="dateDivreadmsg">
					<div class="Txt_Datereadmsg">
						
							<p class="lastNode">Date:
						</p>
					</div>
					<div class="Txt_123110readmsg">
						
							<p class="lastNode">@String.Format("{0:M/d/yy}", item.CreationDate)
						</p>
					</div>
					<div class="Txt_843readmsg">
						
							<p class="lastNode">@String.Format("{0:t}", item.CreationDate) 
						</p>
					</div>
					<div class="clearFloat"></div>
				</div>
				<div class="clearFloat"></div>
				<div id="Linereadmsg">
				</div>
				<div class="clearFloat"></div>
				<div class="Txt_Messagereadmsg">
					
						<p class="lastNode">@item.Body
					</p>
                    
				</div>

				<div class="clearFloat"></div>
			</div>
		<div id="rightMessageBox_bottomreadmsg">
		</div>
</div>
 </div>

		</div>
  } /* End of for each */ }

@*          <div id="delete-dialog" title="Delete e-mail" style="font-size:16px;" ><p>
 <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 0 0;"></span>
  This item will be deleted. Are you sure?</p><p id="P1"></p></div>*@
  

@*<script type="text/javascript">
    $(document).ready(function () {
        var commentContainer;
        var deleteLinkObj;

        // delete Link
        $('.delete-link').click(function () {
            commentContainer = $('#ContainerReadMsg').parent();
            deleteLinkObj = $(this);
            $('#delete-dialog').dialog('open');
            return false; // prevents the default behaviour

        });

        $('#delete-dialog').dialog({
            autoOpen: false, width: 400, resizable: false, modal: true, //Dialog options
            buttons: {
                "Continue": function () {
                    //                    $.ajax({ type: "Post",
                    //                        url: deleteLinkObj[0].href,
                    //                        //cache: false,
                    //                        success: function (data) {
                    //                            // window.location.reload(true);
                    //                            //commentContainer.slideUp('slow', function () { $(this).remove(); });


                    //                            $('#ContainerReadMsg').replaceWith(data);

                    //                        }

                    //                    });




                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


    });
</script>*@


	</div>
 
 <div id="delete-dialog" title="Delete e-mail" style="font-size:16px;" ><p>
 <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 0 0;"></span>
  This item will be deleted. Are you sure?</p><p id="P1"></p></div>




<script type="text/javascript">
    $(function () {
        var commentContainer;
        var deleteLinkObj;

        // did you initialize the dialog?
        var dialog = $("delete-dialog").dialog({ autoOpen: false });
        $("#click").click(function (e) {
            e.preventDefault();
            dialog.dialog("open");
        });


        // delete Link
        $('.delete-link').click(function () {
            commentContainer = $('#rightMessageBox').parent();
            deleteLinkObj = $(this);
            $('#delete-dialog').dialog('open');
            return false; // prevents the default behaviour

        });

        $('#delete-dialog').dialog({
            autoOpen: false, width: 400, resizable: false, modal: true, //Dialog options
            buttons: {
                "Continue": function () {
                    $.ajax({ type: "Post",
                        url: deleteLinkObj[0].href,
                        cache: false,
                        success: function (data) {
                            //window.location.reload(true);
                            //commentContainer.slideUp('slow', function () { $(this).remove(); });


                            $('#rightMessageBox').replaceWith(data);

                        }

                    });



                    $(this).dialog("close");
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });


    });
</script>
	<div id="rightDivreadmsg">
	</div>
	<div class="clearFloat"></div>


