@model IPageable<Shell.MVC2.Models.MemberSearchViewModel>

 @{ //Pull the users who are avaiable to chat from from the viewbag
	  var OnlineChatUsers = ViewBag.OnlineChatUsers as List<ChatUser>; 
	 
 } 


		 @* test of direct link in page *@

	   
	  
	   @{ int CurrentPage;
		  if (Model.PageIndex <= Model.PageCount) { CurrentPage = 0; } else { CurrentPage = 1; } 
		}

		 @{ foreach (var item in Model.Page)
		   { 
	 
		
	   <table  align="center" vspace="1"width="578" border="0" cellspacing="0"  cellpadding="3"  bgcolor="#FFFFFF">@{ CurrentPage++; }
          <tr>
					   <td width="96"  valign="top">
                        <a href="@Url.AbsoluteAction("QuickProfile", "Home", new { ScreenName = item.profile.ScreenName},null)">
			 <img src="@Url.AbsoluteAction("GetGalleryImageByScreenName", "Images", new { id = item.profile.ScreenName }, null)"
						alt="" width="94px" height="95px" style="margin-top:2px;"   />
						</a> 
                       </td>
                      
                       <td  valign="center"width="421" rowspan="2" class="content">
              @if (item.AboutMe != null )
              {
                @item.AboutMe 
              }
              else
              {
              @Html.Encode("Log on to your profile to find out more about me")
              }
              </td>
                <td width="43" rowspan="2" valign="top">kkkk</td>
                    
                      <tr >
                        <td valign="top" rowspan="2" class="content">@item.profile.ScreenName  @item.Age  @item.City 
                        
                        
						   @if (OnlineChatUsers !=null && OnlineChatUsers.Any(p=>p.Name.Contains(item.profile.ScreenName ))  ) 
									{  
								  
								 @*  rediect to log on or do some sort of SSO *@
																	  
							   <label   >Online Now!</label>  @*<a class="galleryChatIcon" href="" Id="InviteToChat" data-name=@item.profile.ScreenName  ></a> 
								  *@  }
		 else
		 {   
		 @Html.Encode("Online: ")
	@item.lastloggedonString 
		 } 
                        </td>
                        
                      </tr>
     </table>
                            
                      
                        
    


	
														

		

    		

		 
			 
		   } }     
		   
		  
		  
 
		  
		