@model Shell.MVC2.Models.CustomSearchViewModel
      
         



@{
    ViewBag.Title = "CustomSearch";
    Layout = "~/Views/Members/Shared/_LayoutMembers.cshtml";
}





<script type="text/javascript" >


// scripts for the accordians
    $(function () {
        $("#accordion").accordion({
           collapsible: true,            
            autoHeight: false,
			navigation: true
         
        });

    });

$(function () {
    $("#accordionAppear").accordion({
        collapsible: true,
        autoHeight: false,
        navigation: true
//        event: "mouseover",

    });
});


$(function () {
    $("#accordionLife").accordion({
        collapsible: true,
        autoHeight: false,
        navigation: true
//        event: "mouseover",

    });
});


$(function () {
    $("#accordionChar").accordion({
        collapsible: true,
        autoHeight: false,
        navigation: true
   //     event: "mouseover",

    });
});

//tererik and combo box scripts

function UpdateCitiesReg() {

    var sportcmb = $('#Country').data('tComboBox');
    var ziporpostalcmb = $('#ZipOrPostalCode').data('tComboBox');

    //#MyQuickSearch_MySelectedCountryName

    if (sportcmb != null) {
        var sportId = sportcmb.valueOf();


        $.post('/ComboBox/GetDefaultCityListAccount',
              "CountryName=" + sportcmb.text(),
              function (data) {
                  $("#City").data('tComboBox').dataBind(data.Cities);
                  //set first value if u want
                  // $("#City").data('tComboBox').value(data.MyCity);
                  // this piece is used to hide the div for postal codes or do anyting else bsaed on the json data retyrned
                  if (data.PostalCodeStatus != false) {
                      // alert("This country has postal codes");
                      //  $('#ZipPostalRegDiv').show();


                  }
                  else {

                      //use the hide hoing forward after all is tested
                      //  $('#ZipPostalRegDiv').hide(); 
                      //set the value as the default postal code 
                      // ziporpostalcmb.value(data.postalcode);
                      //now disable it

                  }


                  //bind the city list after change
              }, "json");


        //$.post("/Account/Account", null, "json");


        window.location.href = '<% = ResolveUrl("~/Account/Account") %>';



    }
    else {
        alert("You must pick a country!");
        return;

    }
}


//populates current city using jquery
//needed for some reason beace its populated by jsson do loses model values
function SetCurrentCityAccount() {

    var sportcmb = $("#City").data('tComboBox');


    $.post('/ComboBox/GetCurrentCityAccount',
              function (data) {

                  //set first value if u want
                  $("#City").data('tComboBox').value(data.MyCity);

              }, "json");
}

//sets the current postal code for the account model
function SetCurrentPostalCodeAccount() {

    var sportcmb = $("#ZipOrPostalCode").data('tComboBox');


    $.post('/ComboBox/GetCurrentPostalCodeAccount',
              function (data) {

                  //set first value if u want
                  $("#ZipOrPostalCode").data('tComboBox').value(data.MyPostalCode);

              }, "json");

}



function UpdatePostalCodesReg() {

    var sportcmb = $('#City').data('tComboBox');
    var ziporpostalcmb = $('#ZipOrPostalCode').data('tComboBox');
    var divedcountry = $('#Country').data('tComboBox');


    var cityprovince_array = sportcmb.text().split(',');
    //  alert(mytool_array[0] + " " + mytool_array[1] + " " + mytool_array[2]);


    if (sportcmb != null) {
        var sportId = sportcmb.value();


        $.post('/ComboBox/GetDefaultPostalCodeListAccount', { City: cityprovince_array[0], CountryName: divedcountry.text() },
              function (data) {

                  if (data.PostalCodeStatus != false) {

                      try {
                          ziporpostalcmb.dataBind(data.postalcodes);
                      } catch (err) {
                          return false;
                      }

                  }
                  else {

                      //set the value to the geopostalcode value
                      ziporpostalcmb.value(data.geocode);


                  }


              }, "json");
        //add a function to bind postal code as well
    }
    else {
        alert("You must pick a country!");
        return;

    }
}

</script>


<div id="main">
   <!-- appfabric loads -->
   @{List<SelectListItem> Ages = CachingFactory.SharedObjectHelper.GetAgeList();
   List<SelectListItem> Genders = CachingFactory.SharedObjectHelper.GetGenderList();  
   List<SelectListItem> Countries = CachingFactory.SharedObjectHelper.GetCountrysList();  
    List<SelectListItem> SecurityQuestions = CachingFactory.SharedObjectHelper.GetSecurityQuestionsList(); 
    }

<div id="headerCustSrchDiv">
	
		<div class="clearFloat"></div>
		<div id="postBoardCustSrchDiv">
		</div>
		<div class="clearFloat"></div>
		<div id="picBoxCustSrchDiv">
			<div id="photoBoxStrip">
				<div id="pic9">
				</div>
				<div id="pic8">
				</div>
				<div id="pic7">
				</div>
				<div id="pic6">
				</div>
				<div id="pic5">
				</div>
				<div id="pic4">
				</div>
				<div id="pic3">
				</div>
				<div id="pic2">
				</div>
				<div id="pic1">
				</div>
				<div class="clearFloat"></div>
			</div>
			<div class="clearFloat"></div>
		</div>
		<div class="clearFloat"></div>
	</div>
	<div class="clearFloat"></div>
<div class="CustSrchInforHeader ">
			
				<p class="lastNode">Custom Search
			</p>
		</div>

<div id="bodyCustSrchDiv">
<DIV class=demo>
<!-- according start -->
<DIV id=accordion>
<H3 style="font-size : large ; text-align:center ;" ><A href="#">Basic Settings</A></H3>
<DIV>
<P>
		<div class="clearFloat"></div>
		<div id="basicCustSrchDiv">
			
				<div id="lBasicCustSrchDiv">
					<div class="Txt_I">
						
							<p class="lastNode">I am
						</p>
					</div>
					<div class="clearFloat"></div>
					<div class="Txt_Between">
						
							<p class="lastNode">Between
						</p>
					</div>
					<div class="clearFloat"></div>
					<div class="Txt_living">
						
							<p class="lastNode">living within
						</p>
					</div>
					<div class="clearFloat"></div>
					<p id="proPhotosCheckBox_win_CustSrch"><label><input type="checkbox" name="proPhotosCheckBox(win)CustSrch" value="Profile Photos Only"/>Profile Photos Only</label></p>
										<div class="clearFloat"></div>
					<p id="onlineCheckBox_win_CustSrch"><label><input type="checkbox" name="onlineCheckBox(win)CustSrch" value="Online Now"/>Online Now</label></p>
										<div class="clearFloat"></div>
				   </div>
			
			
				<div id="lmBasicCustSrchDiv">
					<div  id="gender1ComboBox_win_CustSrch">
                    
                    </div>
										<div class="clearFloat"></div>
					<div  id="age1ComboBox_win_CustSrch">
                    
                    </div>
					<div class="clearFloat"></div>
					<input type="text" name="milesKmTextField_win_CustSrch" id="milesKmTextField_win_CustSrch" value="50" />
										<div class="clearFloat"></div>
					<div  id="countryComboBox_win_CustSrch">
             <div class="editor-field">
                                      
                           @( Html.Telerik().ComboBoxFor(model =>  model.BasicSearchSettings.CountryId )
                            .Name("Country")
                      .AutoFill(true) //fill it with default data                    
                     .BindTo(Countries)
                     .HtmlAttributes(new { style = string.Format("width:{0}px",205) })
                      .HighlightFirstMatch(true) 
                      .ClientEvents(events => events.OnChange("UpdateCitiesReg"))
                    
                         ) 
            </div>

                    </div>
					<div class="clearFloat"></div>
					<div  id="allStComboBox_win_CustSrch">
                    
                    </div>
										<div class="clearFloat"></div>
				</div>
			
			
				<div id="rBasicCustSrchDiv">
					<div class="Txt_Seeking">
						
							<p class="lastNode">Seeking
						</p>
					</div>
					<div  id="gender2ComboBox_win_CustSrch"></div>
										<div class="clearFloat"></div>
					<div class="Txt_to">
						
							<p class="lastNode">to
						</p>
					</div>
					<div  id="age2ComboBox_win_CustSrch"></div>
										<div class="clearFloat"></div>
					<div class="Txt_milesKM">
						
							<p class="lastNode">miles/KM
						</p>
					</div>
					<div id="myCityTextField_win_CustSrch" >
                    
                    <div class="editor-field">
                  @(Html.Telerik().ComboBoxFor(model => model.BasicSearchSettings.CityStateProvince  )
                         .Name("City")
                      .AutoFill(true)
                          .HtmlAttributes(new { style = string.Format("width:{0}px", 205) })
                           .ClientEvents(events => events.OnChange("UpdatePostalCodesReg"))
                           .ClientEvents(events => events.OnLoad("SetCurrentCityAccount"))
                        .DataBinding(binding => binding.Ajax()
                                                                    .Select("_FilteringAjaxAccount", "ComboBox")
                                                     
                          .Delay(300)
                          .Cache(true)
                          
                        )                  
                                             
                      .Filterable(filtering =>
                      {
                          if (1 != 0)
                          {
                              filtering.FilterMode(AutoCompleteFilterMode.StartsWith);
                              filtering.MinimumChars(0);
                          }
                      })
                      .HighlightFirstMatch(true)
                      
                      
                   )
            </div>
                    </div>
                    
					<div class="clearFloat"></div>
                                 @if (Model.PostalCodeStatus)
                                    {

   
     
          
			<div class="ZipPostal_CodeAccountSettings">
			
                 <div class="editor-label">
                        @Html.LabelFor(model =>  model.BasicSearchSettings.PostalCode )
                 </div> 
						
			</div>                        
            <div class ="ComboBox_win_ZipPstAccountSettings">
            <div class="editor-field">
            
            
              
                
                @(Html.Telerik().ComboBoxFor(model =>  model.BasicSearchSettings.PostalCode)
                      .Name("ZipOrPostalCode")
                      .AutoFill(true)
                        .HtmlAttributes(new { style = string.Format("width:{0}px", 205) })
                        .ClientEvents(events => events.OnLoad("SetCurrentPostalCodeAccount"))
                        .DataBinding(binding => binding.Ajax()
                                                          .Select("_FilteringPostalCodesAjaxAccount", "ComboBox")
                                               
                          .Delay(300)
                          .Cache(true)
                               )                    
                                             
                      .Filterable(filtering =>
                      {
                          if (1 != 0)
                          {
                              filtering.FilterMode(AutoCompleteFilterMode.StartsWith);
                              filtering.MinimumChars(0);
                          }
                      })
                      .HighlightFirstMatch(true)
                      
                      
                    )
                   
            </div>
			<div class="clearFloat"></div>           
			</div>
            <div class ="TextFeildRightValidation">
                @Html.ValidationMessageFor(model =>  model.BasicSearchSettings.PostalCode )
            </div> 
                                     }

            
                                     

        <div class="clearFloat"></div>

				</div>
				<div class="clearFloat"></div>
			
		</div>
		<div class="clearFloat"></div>

</P>
</DIV>
<H3 style="font-size : large ; text-align:center ;" ><A href="#">Appearance Settings</A></H3>
<DIV>
<P>
<div class="clearFloat"></div>
	
    <div id="AppearCustSrchDiv">
    <div id=accordionAppear>
<H3 style="font-size : large ; text-align:center;" ><A href="#">Height Settings</A></H3>
<DIV>
<P>
        <div class="clearFloat"></div>
		<div id="heightCustSrchDiv">
			<div name="height1ComboBox_win_CustSrch" id="height1ComboBox_win_CustSrch"><option>any</option></div>
						<div class="Txt_to2">
				
					<p class="lastNode">to
				</p>
			</div>
			<div name="height2ComboBox_win_CustSrch" id="height2ComboBox_win_CustSrch"><option>7ft</option></div>
						<div class="clearFloat"></div>
		</div>
		<div class="clearFloat"></div>
</P> 
</DIV>
<H3 style="font-size : large ; text-align:center;" ><A href="#">Ethnicity Settings</A></H3>
<DIV>
<P>
    <div class="clearFloat"></div>
		<div id="ethnicityCustSrchDiv">
			
				<div id="iNethnicityCustSrchDiv">
					<p id="asianCheckBox_win_CustSrch"><label><input type="checkbox" name="asianCheckBox(win)CustSrch" value="Asian"/>Asian</label></p>
										<p id="midEastCheckBox_win_CustSrch"><label><input type="checkbox" name="midEastCheckBox(win)CustSrch" value="Middle Eastern"/>Middle Eastern</label></p>
										<div class="clearFloat"></div>
					<p id="blackCheckBox_win_CustSrch"><label><input type="checkbox" name="blackCheckBox(win)CustSrch" value="Black/African Decsent"/>Black/African Decsent</label></p>
										<p id="natAmerCheckBox_win_CustSrch"><label><input type="checkbox" name="natAmerCheckBox(win)CustSrch" value="Native American"/>Native American</label></p>
										<div class="clearFloat"></div>
					<p id="whiteCheckBox_win_CustSrch"><label><input type="checkbox" name="whiteCheckBox(win)CustSrch" value="White/Caucasian Descent"/>White/Caucasian Descent</label></p>
										<p id="pacIslCheckBox_win_CustSrch"><label><input type="checkbox" name="pacIslCheckBox(win)CustSrch" value="Pacific Islander"/>Pacific Islander</label></p>
										<div class="clearFloat"></div>
					<p id="eIndiCheckBox_win_CustSrch"><label><input type="checkbox" name="eIndiCheckBox(win)CustSrch" value="East Indian"/>East Indian</label></p>
										<p id="interRaceCheckBox_win_CustSrch"><label><input type="checkbox" name="interRaceCheckBox(win)CustSrch" value="Interracial"/>Interracial</label></p>
										<div class="clearFloat"></div>
					<p id="latinoCheckBox_win_CustSrch"><label><input type="checkbox" name="latinoCheckBox(win)CustSrch" value="Latino/Hispanic"/>Latino/Hispanic</label></p>
										<p id="otherCheckBox_win_CustSrch"><label><input type="checkbox" name="otherCheckBox(win)CustSrch" value="Other"/>Other</label></p>
										<div class="clearFloat"></div>
				</div>
			
				
				<div class="clearFloat"></div>
			
		</div>
		<div class="clearFloat"></div>    
</P> 
</div>
 
<H3 style="font-size : large ; text-align:center;" ><A href="#">Body Type Settings</A></H3>
<DIV>
<P>
    
		<div class="clearFloat"></div>
		<div id="bodytypeCustSrchDiv">
			
				<div id="iNbodytypeCustSrchDiv">
					<p id="slimCheckBox_win_CustSrch"><label><input type="checkbox" name="slimCheckBox(win)CustSrch" value="Slim"/>Slim</label></p>
										<p id="extrPoundsCheckBox_win_CustSrch"><label><input type="checkbox" name="extrPoundsCheckBox(win)CustSrch" value="A Few Extra Pounds"/>A Few Extra Pounds</label></p>
										<p id="heavySetCheckBox_win_CustSrch"><label><input type="checkbox" name="heavySetCheckBox(win)CustSrch" value="Heavyset"/>Heavyset</label></p>
										<div class="clearFloat"></div>
					<p id="slenderCheckBox_win_CustSrch"><label><input type="checkbox" name="slenderCheckBox(win)CustSrch" value="Slender"/>Slender</label></p>
										<p id="fFiguredCheckBox_win_CustSrch"><label><input type="checkbox" name="fFiguredCheckBox(win)CustSrch" value="Full Figured"/>Full Figured</label></p>
										<p id="stockyCheckBox_win_CustSrch"><label><input type="checkbox" name="stockyCheckBox(win)CustSrch" value="Stocky"/>Stocky</label></p>
										<div class="clearFloat"></div>
					<p id="averageCheckBox_win_CustSrch"><label><input type="checkbox" name="averageCheckBox(win)CustSrch" value="Average"/>Average</label></p>
										<p id="curvyCheckBox_win_CustSrch"><label><input type="checkbox" name="curvyCheckBox(win)CustSrch" value="Curvy"/>Curvy</label></p>
										<p id="largeCheckBox_win_CustSrch"><label><input type="checkbox" name="largeCheckBox(win)CustSrch" value="Large"/>Large</label></p>
										<div class="clearFloat"></div>
					<p id="athlCheckBox_win_CustSrch"><label><input type="checkbox" name="athlCheckBox(win)CustSrch" value="Athletic"/>Athletic</label></p>
										<p id="bbwCheckBox_win_CustSrch"><label><input type="checkbox" name="bbwCheckBox(win)CustSrch" value="Big And Beautiful"/>Big And Beautiful</label></p>
										<p id="volupCheckBox_win_CustSrch"><label><input type="checkbox" name="volupCheckBox(win)CustSrch" value="Voluptous"/>Voluptous</label></p>
										<p id="fitTonedCheckBox_win_CustSrch"><label><input type="checkbox" name="fitTonedCheckBox(win)CustSrch" value="Fit/Toned"/>Fit/Toned</label></p>
										<p id="thickCheckBox_win_CustSrch"><label><input type="checkbox" name="thickCheckBox(win)CustSrch" value="Thick"/>Thick</label></p>
										<p id="bBuilderCheckBox_win_CustSrch"><label><input type="checkbox" name="bBuilderCheckBox(win)CustSrch" value="Bodybuilder"/>Bodybuilder</label></p>
										<div class="clearFloat"></div>
				</div>
			
				
			
					</div>
		<div class="clearFloat"></div>    
</P> 
</div> 		

<H3 style="font-size : large ; text-align:center;" ><A href="#">Eye color Settings</A></H3>
<DIV>
<P>
   	<div class="clearFloat"></div>
		<div id="eyeClrCustSrchDiv">
			
				<div id="iNeyeClrCustSrchDiv">
					<p id="blkEyeClrCheckBox_win_CustSrch"><label><input type="checkbox" name="blkEyeClrCheckBox(win)CustSrch" value="Black"/>Black</label></p>
										<p id="brwnEyeClrCheckBox_win_CustSrch"><label><input type="checkbox" name="brwnEyeClrCheckBox(win)CustSrch" value="Brown"/>Brown</label></p>
										<p id="greenEyeClrCheckBox_win_CustSrch"><label><input type="checkbox" name="greenEyeClrCheckBox(win)CustSrch" value="Green"/>Green</label></p>
										<div class="clearFloat"></div>
					<p id="bluEyeClrCheckBox_win_CustSrch"><label><input type="checkbox" name="bluEyeClrCheckBox(win)CustSrch" value="Blue"/>Blue</label></p>
										<p id="greyEyeClrCheckBox_win_CustSrch"><label><input type="checkbox" name="greyEyeClrCheckBox(win)CustSrch" value="Grey"/>Grey</label></p>
										<p id="hzlEyeClrCheckBox_win_CustSrch"><label><input type="checkbox" name="hzlEyeClrCheckBox(win)CustSrch" value="Hazel"/>Hazel</label></p>
										<div class="clearFloat"></div>
				</div>
			
			
				
					</div>
		<div class="clearFloat"></div>     
</P> 
</div> 

<H3 style="font-size : large ; text-align:center;" ><A href="#">Hair color Settings</A></H3>
<DIV>
<P>
   <div class="clearFloat"></div>
		<div id="hairClrCustSrchDiv">
			
				<div id="iNhairClrCustSrchDiv">
					<p id="blkHairClrCheckBox_win_CustSrch"><label><input type="checkbox" name="blkHairClrCheckBox(win)CustSrch" value="Black"/>Black</label></p>
										<p id="aubrnHairClrCheckBox_win_CustSrch"><label><input type="checkbox" name="aubrnHairClrCheckBox(win)CustSrch" value="Auburn"/>Auburn</label></p>
										<p id="sndBrwnHairClrCheckBox_win_CustSrch"><label><input type="checkbox" name="sndBrwnHairClrCheckBox(win)CustSrch" value="Sandy Brown"/>Sandy Brown</label></p>
										<p id="slvrWhteHairClrCheckBox_win_CustSrch"><label><input type="checkbox" name="slvrWhteHairClrCheckBox(win)CustSrch" value="Silver/White"/>Silver/White</label></p>
										<div class="clearFloat"></div>
					<p id="blndHairClrCheckBox_win_CustSrch"><label><input type="checkbox" name="blndHairClrCheckBox(win)CustSrch" value="Blonde"/>Blonde</label></p>
										<p id="drkblndHairClrCheckBox_win_CustSrch"><label><input type="checkbox" name="drkblndHairClrCheckBox(win)CustSrch" value="Dark Blonde"/>Dark Blonde</label></p>
										<p id="baldHairClrCheckBox_win_CustSrch"><label><input type="checkbox" name="baldHairClrCheckBox(win)CustSrch" value="Bald"/>Bald</label></p>
										<div class="clearFloat"></div>
					<p id="brwnHairClrCheckBox_win_CustSrch"><label><input type="checkbox" name="brwnHairClrCheckBox(win)CustSrch" value="Brown"/>Brown</label></p>
										<p id="redHairClrCheckBox_win_CustSrch"><label><input type="checkbox" name="redHairClrCheckBox(win)CustSrch" value="Red"/>Red</label></p>
										<p id="greyHairClrCheckBox_win_CustSrch"><label><input type="checkbox" name="greyHairClrCheckBox(win)CustSrch" value="Grey"/>Grey</label></p>
										<div class="clearFloat"></div>
				</div>
			
			
				
			
		</div>
		<div class="clearFloat"></div>     
</P> 
</div> 


<H3 style="font-size : large ; text-align:center;" ><A href="#">Hot Feature Settings</A></H3>
<DIV>
<P>
  <div class="clearFloat"></div>
     
      <div id="myHotFtrCustSrchDiv">
			
				<div id="iNmyHotFtrCustSrchDiv">
                <p id="ArmsmyHotFtrCheckBoxCustSrch"><label><input type="checkbox" name="ArmsmyHotFtrCheckBoxCustSrch" value="Arms"/>Arms</label></p>
				<p id="StomachmyHotFtrCheckBoxCustSrch"><label><input type="checkbox" name="StomachmyHotFtrCheckBoxCustSrch" value="Stomach"/>Stomach</label></p>
				<p id="HairmyHotFtrnCheckBoxCustSrch"><label><input type="checkbox" name="HairmyHotFtrnCheckBoxCustSrch" value="Hair"/>Hair</label></p>
				<p id="HandsmyHotFtrCheckBoxCustSrch"><label><input type="checkbox" name="HandsmyHotFtrCheckBoxCustSrch" value="Hands"/>Hands</label></p>
				<p id="SmilemyHotFtrCheckBoxCustSrch"><label><input type="checkbox" name="SmilemyHotFtrCheckBoxCustSrch" value="Smile"/>Smile</label></p>
				<div class="clearFloat"></div>
		<p id="FacemyHotFtrCheckBoxCustSrch"><label><input type="checkbox" name="FacemyHotFtrCheckBoxCustSrch" value="Face"/>Face</label></p>
				<p id="LegsmyHotFtrCheckBoxCustSrch"><label><input type="checkbox" name="LegsmyHotFtrCheckBoxCustSrch" value="Legs"/>Legs</label></p>
				<p id="LipsmyHotFtrCheckBoxCustSrch"><label><input type="checkbox" name="LipsmyHotFtrCheckBoxCustSrch" value="Lips"/>Lips</label></p>
				<p id="FeetmyHotFtrCheckBoxCustSrch"><label><input type="checkbox" name="FeetmyHotFtrCheckBoxCustSrch" value="Feet"/>Feet</label></p>
				<p id="NeckmyHotFtrCheckBoxCustSrch"><label><input type="checkbox" name="NeckmyHotFtrCheckBoxCustSrch" value="Neck"/>Neck</label></p>
				<div class="clearFloat"></div>
		<p id="ChestmyHotFtrCheckBoxCustSrch"><label><input type="checkbox" name="ChestmyHotFtrCheckBoxCustSrch" value="Chest"/>Chest</label></p>
				<p id="BootymyHotFtrCheckBoxCustSrch"><label><input type="checkbox" name="BootymyHotFtrCheckBoxCustSrch" value="Booty"/>Booty</label></p>
				<p id="EyesmyHotFtrCheckBoxCustSrch"><label><input type="checkbox" name="EyesmyHotFtrCheckBoxCustSrch" value="Eyes"/>Eyes</label></p>
				<p id="NailsmyHotFtrCheckBoxCustSrch"><label><input type="checkbox" name="NailsmyHotFtrCheckBoxCustSrch" value="Nails"/>Nails</label></p>
				<p id="CalvesmyHotFtrCheckBoxCustSrch"><label><input type="checkbox" name="CalvesmyHotFtrCheckBoxCustSrch" value="Calves"/>Calves</label></p>
				<div class="clearFloat"></div>
                
					
										
									
				</div>
			
			
				
			
		</div> 
		<div class="clearFloat"></div>
		   
</P> 
</div> 

 </div> 
</div>

</P>
</DIV>
<H3 style="font-size : large ; text-align:center ;" ><A href="#">LifeStyle Settings</A></H3>
<DIV>
<P>

<div id="LifeCustSrchDiv">
<div id=accordionLife>
<H3 style="font-size : large ; text-align:center;" ><A href="#">Marital Status settings</A></H3>
<DIV>
<P>
  <div class="clearFloat"></div>
		<div id="maritalStatusCustSrchDiv">			
				<div id="iNmaritalStatusCustSrchDiv">
					<p id="singleMsCheckBox_win_CustSrch"><label><input type="checkbox" name="singleMsCheckBox(win)CustSrch" value="Single/Never Married"/>Single/Never Married</label></p>
										<p id="divMsCheckBox_win_CustSrch"><label><input type="checkbox" name="divMsCheckBox(win)CustSrch" value="Divorced"/>Divorced</label></p>
										<div class="clearFloat"></div>
					<p id="sepMsCheckBox_win_CustSrch"><label><input type="checkbox" name="sepMsCheckBox(win)CustSrch" value="Seperated"/>Seperated</label></p>
										<p id="widCheckBox_win_CustSrch"><label><input type="checkbox" name="widCheckBox(win)CustSrch" value="Widowed"/>Widowed</label></p>
										<div class="clearFloat"></div>
				</div>	
		
		</div>
		<div class="clearFloat"></div>
</P> 
</div> 

<H3 style="font-size : large ; text-align:center;" ><A href="#">Has Kids settings</A></H3>
<DIV>
<P>
   
		<div class="clearFloat"></div>
		<div id="hasKidsCustSrchDiv">
							<div id="iNhasKidsCustSrchDiv">
					<p id="noHkCheckBox_win_CustSrch"><label><input type="checkbox" name="noHkCheckBox(win)CustSrch" value="No"/>No</label></p>
										<p id="yesFtHkCheckBox_win_CustSrch"><label><input type="checkbox" name="yesFtHkCheckBox(win)CustSrch" value="Yes/Part Time"/>Yes/Part Time</label></p>
										<div class="clearFloat"></div>
					<p id="yesFhkCheckBox_win_CustSrch"><label><input type="checkbox" name="yesFhkCheckBox(win)CustSrch" value="Yes/Full Time"/>Yes/Full Time</label></p>
										<p id="yesBnMeHkCheckBox_win_CustSrch"><label><input type="checkbox" name="yesBnMeHkCheckBox(win)CustSrch" value="Yes/But not with me"/>Yes/But not with me</label></p>
										<div class="clearFloat"></div>
				</div>
			
		</div>
		<div class="clearFloat"></div>
		   
</P> 
</div> 

<H3 style="font-size : large ; text-align:center;" ><A href="#">Wants Kids settings</A></H3>
<DIV>
<P>
   
		<div class="clearFloat"></div>
		<div id="wantsMoreKidsCustSrchDiv">
			
				<div id="iNwantsMoreKidsCustSrchDiv">
					<p id="yesWmkCheckBox_win_CustSrch"><label><input type="checkbox" name="yesWmkCheckBox(win)CustSrch" value="Yes for sure"/>Yes for sure</label></p>
										<p id="mayberWmkCheckBox_win_CustSrch"><label><input type="checkbox" name="mayberWmkCheckBox(win)CustSrch" value="Maybe / not sure"/>Maybe / not sure</label></p>
										<div class="clearFloat"></div>
					<p id="laterWmkCheckBox_win_CustSrch"><label><input type="checkbox" name="laterWmkCheckBox(win)CustSrch" value="Later Someday"/>Later Someday</label></p>
										<p id="noWmkCheckBox_win_CustSrch"><label><input type="checkbox" name="noWmkCheckBox(win)CustSrch" value="No not for me"/>No not for me</label></p>
										<div class="clearFloat"></div>
				</div>	
		</div>
		<div class="clearFloat"></div>	
		   
</P> 
</div> 

<H3 style="font-size : large ; text-align:center;" ><A href="#">Living Situation settings</A></H3>
<DIV>
<P>
  <div class="clearFloat"></div>
		<div id="livingSituationCustSrchDiv">
			
				<div id="iNlivingSituationCustSrchDiv">
					<p id="aloneLsCheckBox_win_CustSrch"><label><input type="checkbox" name="aloneLsCheckBox(win)CustSrch" value="Alone"/>Alone</label></p>
										<p id="withRmMtsLsCheckBox_win_CustSrch"><label><input type="checkbox" name="withRmMtsLsCheckBox(win)CustSrch" value="With Roommate(s)"/>With Roommate(s)</label></p>
										<p id="withPrntsFmlyMemrLsCheckBox_win_CustSrch"><label><input type="checkbox" name="withPrntsFmlyMemrLsCheckBox(win)CustSrch" value="With parents / other family members"/>With parents / other family members</label></p>
										<div class="clearFloat"></div>
					<p id="withKidsLsCheckBox_win_CustSrch"><label><input type="checkbox" name="withKidsLsCheckBox(win)CustSrch" value="With kids"/>With kids</label></p>
										<p id="withPetsLsCheckBox_win_CustSrch"><label><input type="checkbox" name="withPetsLsCheckBox(win)CustSrch" value="With Pets"/>With Pets</label></p>
										<div class="clearFloat"></div>
				</div>
			
			
							
		</div>
		<div class="clearFloat"></div> 
		
		   
</P> 
</div> 


<H3 style="font-size : large ; text-align:center;" ><A href="#">Education Level settings</A></H3>
<DIV>
<P>
   
	<div class="clearFloat"></div>
		<div id="educationalLevelCustSrchDiv">
			
				<div id="iNeducationalLevelCustSrchDiv">
					<p id="gedEdLvlCheckBox_win_CustSrch"><label><input type="checkbox" name="gedEdLvlCheckBox(win)CustSrch" value="GED"/>GED</label></p>
										<p id="armdFrcsEdLvlCheckBox_win_CustSrch"><label><input type="checkbox" name="armdFrcsEdLvlCheckBox(win)CustSrch" value="Armed Forces / Military"/>Armed Forces / Military</label></p>
										<p id="gradDegreEdLvlCheckBox_win_CustSrch"><label><input type="checkbox" name="gradDegreEdLvlCheckBox(win)CustSrch" value="Graduate Degree"/>Graduate Degree</label></p>
										<p id="smeColgeEdLvlCheckBox_win_CustSrch"><label><input type="checkbox" name="smeColgeEdLvlCheckBox(win)CustSrch" value="Some College"/>Some College</label></p>
										<p id="sHghSchlEdLvlCheckBox_win_CustSrch"><label><input type="checkbox" name="sHghSchlEdLvlCheckBox(win)CustSrch" value="Some High School"/>Some High School</label></p>
										<p id="assteDegreEdLvlCheckBox_win_CustSrch"><label><input type="checkbox" name="assteDegreEdLvlCheckBox(win)CustSrch" value="Associate Degree"/>Associate Degree</label></p>
										<p id="pstDocEdLvlCheckBox_win_CustSrch"><label><input type="checkbox" name="pstDocEdLvlCheckBox(win)CustSrch" value="Post Doctoral"/>Post Doctoral</label></p>
										<p id="otherEdLvlCheckBox_win_CustSrch"><label><input type="checkbox" name="otherEdLvlCheckBox(win)CustSrch" value="Other"/>Other</label></p>
										<div class="clearFloat"></div>
					<p id="hghSchlGradEdLvlCheckBox_win_CustSrch"><label><input type="checkbox" name="hghSchlGradEdLvlCheckBox(win)CustSrch" value="High School Grad"/>High School Grad</label></p>
										<p id="bachDegreEdLvlCheckBox_win_CustSrch"><label><input type="checkbox" name="bachDegreEdLvlCheckBox(win)CustSrch" value="Bachelors Degree"/>Bachelors Degree</label></p>
										<p id="vocTrdeEdLvlCheckBox_win_CustSrch"><label><input type="checkbox" name="vocTrdeEdLvlCheckBox(win)CustSrch" value="Vocatianal / Trade"/>Vocatianal / Trade</label></p>
										<div class="clearFloat"></div>
				</div>
			
					
		</div>
	<div class="clearFloat"></div>	
		   
</P> 
</div> 


<H3 style="font-size : large ; text-align:center;" ><A href="#">Employment Status Settings</A></H3>
<DIV>
<P>
   
	<div class="clearFloat"></div>
		<div id="employmentstatusCustSrchDiv">
			
				<div id="iNemploymentstatusCustSrchDiv">
					<p id="flTimEmpStatCheckBox_win_CustSrch"><label><input type="checkbox" name="flTimEmpStatCheckBox(win)CustSrch" value="Full Time"/>Full Time</label></p>
										<p id="retiredEmpStatCheckBox_win_CustSrch"><label><input type="checkbox" name="retiredEmpStatCheckBox(win)CustSrch" value="Retired"/>Retired</label></p>
										<p id="wrkAtHmeEmpStatCheckBox_win_CustSrch"><label><input type="checkbox" name="wrkAtHmeEmpStatCheckBox(win)CustSrch" value="Work at Home"/>Work at Home</label></p>
										<div class="clearFloat"></div>
					<p id="ptTimEmpStatCheckBox_win_CustSrch"><label><input type="checkbox" name="ptTimEmpStatCheckBox(win)CustSrch" value="Part Time"/>Part Time</label></p>
										<p id="selfEmpStatCheckBox_win_CustSrch"><label><input type="checkbox" name="selfEmpStatCheckBox(win)CustSrch" value="Self Employed"/>Self Employed</label></p>
										<p id="stdntEmpStatCheckBox_win_CustSrch"><label><input type="checkbox" name="stdntEmpStatCheckBox(win)CustSrch" value="Student"/>Student</label></p>
										<div class="clearFloat"></div>
					<p id="hMkrEmpStatCheckBox_win_CustSrch"><label><input type="checkbox" name="hMkrEmpStatCheckBox(win)CustSrch" value="Homemaker"/>Homemaker</label></p>
										<p id="unEmpStatCheckBox_win_CustSrch"><label><input type="checkbox" name="unEmpStatCheckBox(win)CustSrch" value="Unemployed"/>Unemployed</label></p>
										<div class="clearFloat"></div>
				</div>
						
		</div>
    <div class="clearFloat"></div>	
		   
</P> 
</div> 

<H3 style="font-size : large ; text-align:center;" ><A href="#">Income Level Status settings</A></H3>
<DIV>
<P>
   
		<div class="clearFloat"></div>
		<div id="incomeLevelCustSrchDiv">
			
				<div id="iNincomeLevelCustSrchDiv">
					<p id="oneIncLvlCheckBox_win_CustSrch"><label><input type="checkbox" name="oneIncLvlCheckBox(win)CustSrch" value="Less than $25,000"/>Less than $25,000</label></p>
										<p id="fourIncLvlCheckBox_win_CustSrch"><label><input type="checkbox" name="fourIncLvlCheckBox(win)CustSrch" value=" $50,000 to $75,000"/> $50,000 to $75,000</label></p>
										<p id="sevenIncLvlCheckBox_win_CustSrch"><label><input type="checkbox" name="sevenIncLvlCheckBox(win)CustSrch" value=" $150,000 +"/> $150,000 +</label></p>
										<div class="clearFloat"></div>
					<p id="twoIncLvlCheckBox_win_CustSrch"><label><input type="checkbox" name="twoIncLvlCheckBox(win)CustSrch" value="$25,000 to $35,000"/>$25,000 to $35,000</label></p>
										<p id="fiveIncLvlCheckBox_win_CustSrch"><label><input type="checkbox" name="fiveIncLvlCheckBox(win)CustSrch" value=" $75,000 to $100,000"/> $75,000 to $100,000</label></p>
										<div class="clearFloat"></div>
					<p id="threeIncLvlCheckBox_win_CustSrch"><label><input type="checkbox" name="threeIncLvlCheckBox(win)CustSrch" value="$35,000 to $50,000"/>$35,000 to $50,000</label></p>
										<p id="sixIncLvlCheckBox_win_CustSrch"><label><input type="checkbox" name="sixIncLvlCheckBox(win)CustSrch" value="$100,000 to $150,000"/>$100,000 to $150,000</label></p>
										<div class="clearFloat"></div>
				</div>
			
						
		</div>
		<div class="clearFloat"></div>	
		   
</P> 
</div> 

<H3 style="font-size : large ; text-align:center;" ><A href="#">Profession Settings</A></H3>
<DIV>
<P>
  	<div class="clearFloat"></div>
		<div id="professionCustSrchDiv">
			
				<div id="iNprofessionCustSrchDiv">
					<p id="admClrclPrfsnCheckBox_win_CustSrch"><label><input type="checkbox" name="admClrclPrfsnCheckBox(win)CustSrch" value="Administrative/Clerical"/>Administrative/Clerical</label></p>
										<p id="legLawAttPrfsnCheckBox_win_CustSrch"><label><input type="checkbox" name="legLawAttPrfsnCheckBox(win)CustSrch" value="Legal/Lawyer/ Attorney"/>Legal/Lawyer/ Attorney</label></p>
										<p id="hlthMedPrfsnCheckBox_win_CustSrch"><label><input type="checkbox" name="hlthMedPrfsnCheckBox(win)CustSrch" value="Health/Medical"/>Health/Medical</label></p>
										<div class="clearFloat"></div>
					<p id="finBnkRlEstPrfsnCheckBox_win_CustSrch"><label><input type="checkbox" name="finBnkRlEstPrfsnCheckBox(win)CustSrch" value="Financial/Banking Real Estate"/>Financial/Banking Real Estate</label></p>
										<p id="salMrktPrfsnCheckBox_win_CustSrch"><label><input type="checkbox" name="salMrktPrfsnCheckBox(win)CustSrch" value="Sales/Marketing"/>Sales/Marketing</label></p>
										<p id="medEntPrfsnCheckBox_win_CustSrch"><label><input type="checkbox" name="medEntPrfsnCheckBox(win)CustSrch" value="Media/Entertainment"/>Media/Entertainment</label></p>
										<div class="clearFloat"></div>
					<p id="exeMngmntPrfsnCheckBox_win_CustSrch"><label><input type="checkbox" name="exeMngmntPrfsnCheckBox(win)CustSrch" value="Executive/Management"/>Executive/Management</label></p>
										<p id="tranHosTrvlPrfsnCheckBox_win_CustSrch"><label><input type="checkbox" name="tranHosTrvlPrfsnCheckBox(win)CustSrch" value="Transportation/Hospitality/Travel"/>Transportation/Hospitality/Travel</label></p>
										<p id="retlFdServPrfsnCheckBox_win_CustSrch"><label><input type="checkbox" name="retlFdServPrfsnCheckBox(win)CustSrch" value="Retail/Food Service"/>Retail/Food Service</label></p>
										<p id="constrcLbrPrfsnCheckBox_win_CustSrch"><label><input type="checkbox" name="constrcLbrPrfsnCheckBox(win)CustSrch" value="Construction/Labor"/>Construction/Labor</label></p>
										<p id="entrPrfsnCheckBox_win_CustSrch"><label><input type="checkbox" name="entrPrfsnCheckBox(win)CustSrch" value="Entrepreneur"/>Entrepreneur</label></p>
										<p id="gvtPltcsMltryPrfsnCheckBox_win_CustSrch"><label><input type="checkbox" name="gvtPltcsMltryPrfsnCheckBox(win)CustSrch" value="Goverment/Politics/Military"/>Goverment/Politics/Military</label></p>
										<p id="eduAcadmaPrfsnCheckBox_win_CustSrch"><label><input type="checkbox" name="eduAcadmaPrfsnCheckBox(win)CustSrch" value="Education/Academia"/>Education/Academia</label></p>
										<p id="enginTchSciPrfsnCheckBox_win_CustSrch"><label><input type="checkbox" name="enginTchSciPrfsnCheckBox(win)CustSrch" value="Engineeering/Technical/Science"/>Engineeering/Technical/Science</label></p>
										<p id="mnfctDistrrPrfsnCheckBox_win_CustSrch"><label><input type="checkbox" name="mnfctDistrrPrfsnCheckBox(win)CustSrch" value="Manufacturing/Distribution"/>Manufacturing/Distribution</label></p>
										<p id="wrtrArtMusPrfsnCheckBox_win_CustSrch"><label><input type="checkbox" name="wrtrArtMusPrfsnCheckBox(win)CustSrch" value="Writer/Artist/Musician"/>Writer/Artist/Musician</label></p>
										<p id="compIndPrfsnCheckBox_win_CustSrch"><label><input type="checkbox" name="compIndPrfsnCheckBox(win)CustSrch" value="Computer Industry"/>Computer Industry</label></p>
										<p id="otherPrfsnCheckBox_win_CustSrch"><label><input type="checkbox" name="otherPrfsnCheckBox(win)CustSrch" value="Other"/>Other</label></p>
										<div class="clearFloat"></div>
				</div>
						
				
		</div>
		<div class="clearFloat"></div> 		
		   
</P> 
</div>

</div>
</div>
</P>

</DIV>
<H3 style="font-size : large ; text-align:center ;" ><A href="#">Character Settings</A></H3>
<DIV>
<P>

<!-- char settings -->
<div id="CharCustSrchDiv">
<div id=accordionChar>

<H3 style="font-size : large ; text-align:center;" ><A href="#">Drinks Settings</A></H3>
<DIV>
<P>
   
		
		<div class="clearFloat"></div>
		<div id="drinksCustSrchDiv">
			
				<div id="iNdrinksCustSrchDiv">
					<p id="neverDrnksCheckBox_win_CustSrch"><label><input type="checkbox" name="neverDrnksCheckBox(win)CustSrch" value="Never"/>Never</label></p>
										<p id="socialDrnksCheckBox_win_CustSrch"><label><input type="checkbox" name="socialDrnksCheckBox(win)CustSrch" value="Social"/>Social</label></p>
										<p id="socialDrnksCheckBox_win_CustSrch2"><label><input type="checkbox" name="socialDrnksCheckBox(win)CustSrch2" value="Regularly"/>Regularly</label></p>
										<div class="clearFloat"></div>
				</div>
			
			
			
			
		</div>
		<div class="clearFloat"></div>	
		   
</P> 
</div> 


<H3 style="font-size : large ; text-align:center;" ><A href="#">Smokes Settings</A></H3>
<DIV>
<P>
   	<div class="clearFloat"></div>
		<div id="smokeCustSrchDiv">
			
				<div id="iNsmokeCustSrchDiv">
					<p id="neverSmkCheckBox_win_CustSrch"><label><input type="checkbox" name="neverSmkCheckBox(win)CustSrch" value="Never"/>Never</label></p>
										<p id="oftenSmkCheckBox_win_CustSrch"><label><input type="checkbox" name="oftenSmkCheckBox(win)CustSrch" value="Often"/>Often</label></p>
										<div class="clearFloat"></div>
					<p id="occassionSmkCheckBox_win_CustSrch"><label><input type="checkbox" name="occassionSmkCheckBox(win)CustSrch" value="Occasionally"/>Occasionally</label></p>
										<p id="yesTQuitSmkCheckBox_win_CustSrch"><label><input type="checkbox" name="yesTQuitSmkCheckBox(win)CustSrch" value="Yes, trying to quit"/>Yes, trying to quit</label></p>
										<div class="clearFloat"></div>
				</div>
			
				
			
		</div>
		<div class="clearFloat"></div>
	
		
		   
</P> 
</div> 

<H3 style="font-size : large ; text-align:center;" ><A href="#">Exercise Settings</A></H3>
<DIV>
<P>
   
		<div class="clearFloat"></div>
		<div id="exerciceCustSrchDiv">
	
				<div id="iNexerciceCustSrchDiv">
					<p id="nvrExrcsCheckBox_win_CustSrch"><label><input type="checkbox" name="nvrExrcsCheckBox(win)CustSrch" value="Never"/>Never</label></p>
										<p id="twoExrcsCheckBox_win_CustSrch"><label><input type="checkbox" name="twoExrcsCheckBox(win)CustSrch" value="1-2 times per week"/>1-2 times per week</label></p>
										<div class="clearFloat"></div>
					<p id="threeExrcsCheckBox_win_CustSrch"><label><input type="checkbox" name="threeExrcsCheckBox(win)CustSrch" value="3-4 times per week"/>3-4 times per week</label></p>
										<p id="fiveExrcsCheckBox_win_CustSrch"><label><input type="checkbox" name="fiveExrcsCheckBox(win)CustSrch" value="5 or more times per week"/>5 or more times per week</label></p>
										<div class="clearFloat"></div>
				</div>
			
			
			
		</div>
		<div class="clearFloat"></div>	
		   
</P> 
</div> 


<H3 style="font-size : large ; text-align:center;" ><A href="#">Diet Settings</A></H3>
<DIV>
<P>
   
			<div class="clearFloat"></div>
		<div id="dietCustSrchDiv">
			
				<div id="iNdietCustSrchDiv">
					<p id="fFoodDietCheckBox_win_CustSrch"><label><input type="checkbox" name="fFoodDietCheckBox(win)CustSrch" value="Fast Food"/>Fast Food</label></p>
										<p id="hBlendDietCheckBox_win_CustSrch"><label><input type="checkbox" name="hBlendDietCheckBox(win)CustSrch" value="Health Blend"/>Health Blend</label></p>
										<div class="clearFloat"></div>
					<p id="mMeatDietCheckBox_win_CustSrch"><label><input type="checkbox" name="mMeatDietCheckBox(win)CustSrch" value="Mostly Meat"/>Mostly Meat</label></p>
										<p id="vVegetarianDietCheckBox_win_CustSrch"><label><input type="checkbox" name="vVegetarianDietCheckBox(win)CustSrch" value="Vegetarian/Vegan"/>Vegetarian/Vegan</label></p>
										<div class="clearFloat"></div>
				</div>
				
			
		</div>
		<div class="clearFloat"></div>
		   
</P> 
</div> 


<H3 style="font-size : large ; text-align:center;" ><A href="#">Religion Settings</A></H3>
<DIV>
<P>
   		
		<div class="clearFloat"></div>
		<div id="religionCustSrchDiv">
			
				<div id="iNreligionCustSrchDiv">
					<p id="budTaoRlgnCheckBoxCustSrch"><label><input type="checkbox" name="budTaoRlgnCheckBoxCustSrch" value="Buddhist/Taoist"/>Buddhist/Taoist</label></p>
										<p id="catholicRlgnCheckBox_win_CustSrch"><label><input type="checkbox" name="catholicRlgnCheckBox(win)CustSrch" value="Catholic"/>Catholic</label></p>
										<p id="sciientRlgnCheckBox_win_CustSrch"><label><input type="checkbox" name="sciientRlgnCheckBox(win)CustSrch" value="Sceintologist"/>Sceintologist</label></p>
										<div class="clearFloat"></div>
					<p id="christianRlgnCheckBox_win_CustSrch"><label><input type="checkbox" name="christianRlgnCheckBox(win)CustSrch" value="Christian"/>Christian</label></p>
										<p id="protestRlgnCheckBox_win_CustSrch"><label><input type="checkbox" name="protestRlgnCheckBox(win)CustSrch" value="Protestant"/>Protestant</label></p>
										<p id="spiritBnRlgnrCheckBox_win_CustSrch"><label><input type="checkbox" name="spiritBnRlgnrCheckBox(win)CustSrch" value="Spiritual but not religious"/>Spiritual but not religious</label></p>
										<div class="clearFloat"></div>
					<p id="musIslmRlgnCheckBox_win_CustSrch"><label><input type="checkbox" name="musIslmRlgnCheckBox(win)CustSrch" value="Muslin/Islam"/>Muslin/Islam</label></p>
										<p id="mormonRlgnCheckBox_win_CustSrch"><label><input type="checkbox" name="mormonRlgnCheckBox(win)CustSrch" value="Mormon"/>Mormon</label></p>
										<p id="nReligRlgnCheckBox_win_CustSrch"><label><input type="checkbox" name="nReligRlgnCheckBox(win)CustSrch" value="Not Religious"/>Not Religious</label></p>
										<div class="clearFloat"></div>
					<p id="jewishRlgnCheckBox_win_CustSrch"><label><input type="checkbox" name="jewishRlgnCheckBox(win)CustSrch" value="Jewish"/>Jewish</label></p>
										<p id="agnosticRlgnCheckBox_win_CustSrch"><label><input type="checkbox" name="agnosticRlgnCheckBox(win)CustSrch" value="Agnostic"/>Agnostic</label></p>
										<p id="ldsRlgnCheckBox_win_CustSrch"><label><input type="checkbox" name="ldsRlgnCheckBox(win)CustSrch" value="LDS"/>LDS</label></p>
										<div class="clearFloat"></div>
					<p id="hinduRlgnCheckBox_win_CustSrch"><label><input type="checkbox" name="hinduRlgnCheckBox(win)CustSrch" value="Hindu"/>Hindu</label></p>
										<p id="atheistRlgnCheckBox_win_CustSrch"><label><input type="checkbox" name="atheistRlgnCheckBox(win)CustSrch" value="Atheist"/>Atheist</label></p>
										<p id="otherRlgnCheckBox_win_CustSrch"><label><input type="checkbox" name="otherRlgnCheckBox(win)CustSrch" value="Other"/>Other</label></p>
										<div class="clearFloat"></div>
				</div>
			
			
			
		</div>
		<div class="clearFloat"></div>	
		   
</P> 
</div> 

<H3 style="font-size : large ; text-align:center;" ><A href="#">Religious Attendance Settings</A></H3>
<DIV>
<P>
   <div class="clearFloat"></div>
		<div id="religiousAttndCustSrchDiv">
			
				<div id="iNreligiousAttndCustSrchDiv">
					<p id="nvryRlgnAttdCheckBoxCustSrch"><label><input type="checkbox" name="nvryRlgnAttdCheckBoxCustSrch" value="Never"/>Never</label></p>
										<p id="mnthRlgnAttdCheckBoxCustSrch"><label><input type="checkbox" name="mnthRlgnAttdCheckBoxCustSrch" value="Monthly"/>Monthly</label></p>
										<p id="rareRlgnAttdCheckBoxCustSrch"><label><input type="checkbox" name="rareRlgnAttdCheckBoxCustSrch" value="Rarely"/>Rarely</label></p>
										<p id="wklyRlgnAttdCheckBoxCustSrch"><label><input type="checkbox" name="wklyRlgnAttdCheckBoxCustSrch" value="Weekly"/>Weekly</label></p>
										<p id="onlHldysRlgnAttdCheckBoxCustSrch"><label><input type="checkbox" name="onlHldysRlgnAttdCheckBoxCustSrch" value="Only Holidays"/>Only Holidays</label></p>
										<p id="mthOncWkRlgnAttdCheckBoxCustSrch"><label><input type="checkbox" name="mthOncWkRlgnAttdCheckBoxCustSrch" value="More than once a week"/>More than once a week</label></p>
									</div>
			</div>
		
		<div class="clearFloat"></div>
		
		   
</P> 
</div> 

<H3 style="font-size : large ; text-align:center;" ><A href="#">Humor Settings</A></H3>
<DIV>
<P>
   
		<div class="clearFloat"></div>
		<div id="humorCustSrchDiv">
			
				<div id="iNhumorCustSrchDiv">
					<p id="nceFrdlyHmrCheckBoxCustSrch"><label><input type="checkbox" name="nceFrdlyHmrCheckBoxCustSrch" value="Nice/Friendly"/>Nice/Friendly</label></p>
										<p id="srctcDryHmrCheckBoxCustSrch"><label><input type="checkbox" name="srctcDryHmrCheckBoxCustSrch" value="Sarcastic/Dry"/>Sarcastic/Dry</label></p>
										<p id="obscDfrntHmrCheckBoxCustSrch"><label><input type="checkbox" name="obscDfrntHmrCheckBoxCustSrch" value="Obscure/Different"/>Obscure/Different</label></p>
										<div class="clearFloat"></div>
					<p id="gfSlyHmrCheckBoxCustSrch"><label><input type="checkbox" name="gfSlyHmrCheckBoxCustSrch" value="Goofy/Silly"/>Goofy/Silly</label></p>
										<p id="qukWittClvrHmrCheckBoxCustSrch"><label><input type="checkbox" name="qukWittClvrHmrCheckBoxCustSrch" value="Quick Witted/Clever"/>Quick Witted/Clever</label></p>
										<p id="slpBstrsHmrCheckBoxCustSrch"><label><input type="checkbox" name="slpBstrsHmrCheckBoxCustSrch" value="Slapstick/Boisterious"/>Slapstick/Boisterious</label></p>
										<div class="clearFloat"></div>
					<p id="chsyCmpyHmrCheckBoxCustSrch"><label><input type="checkbox" name="chsyCmpyHmrCheckBoxCustSrch" value="Cheesy/Campy"/>Cheesy/Campy</label></p>
										<p id="rancyDirtyHmrCheckBoxCustSrch"><label><input type="checkbox" name="rancyDirtyHmrCheckBoxCustSrch" value="Raunchy/Dirty"/>Raunchy/Dirty</label></p>
										<p id="otherHmrCheckBoxCustSrch"><label><input type="checkbox" name="otherHmrCheckBoxCustSrch" value="Other"/>Other</label></p>
										<div class="clearFloat"></div>
				</div>
			
		
							
		</div>
		<div class="clearFloat"></div>
		
		   
</P> 
</div> 



<H3 style="font-size : large ; text-align:center;" ><A href="#">Political View Settings</A></H3>
<DIV>
<P>
   <div class="clearFloat"></div>
		<div id="politicalCustSrchDiv">
			
				<div id="iNpoliticalCustSrchDiv">
					<p id="cnsrvtvPolVwCheckBoxCustSrch"><label><input type="checkbox" name="cnsrvtvPolVwCheckBoxCustSrch" value="Conservative"/>Conservative</label></p>
										<p id="librlPolVwCheckBoxCustSrch"><label><input type="checkbox" name="librlPolVwCheckBoxCustSrch" value="Liberal"/>Liberal</label></p>
										<p id="indpndntPolVwCheckBoxCustSrch"><label><input type="checkbox" name="indpndntPolVwCheckBoxCustSrch" value="Independant"/>Independant</label></p>
										<div class="clearFloat"></div>
					<p id="ultraCnsrvtvPolVwCheckBoxCustSrch"><label><input type="checkbox" name="ultraCnsrvtvPolVwCheckBoxCustSrch" value="Ultra Conservative"/>Ultra Conservative</label></p>
										<p id="vryLibrlPolVwCheckBoxCustSrch"><label><input type="checkbox" name="vryLibrlPolVwCheckBoxCustSrch" value="Very Liberal"/>Very Liberal</label></p>
										<p id="otherVwPntPolVwCheckBoxCustSrch"><label><input type="checkbox" name="otherVwPntPolVwCheckBoxCustSrch" value="Other ViewPoint"/>Other ViewPoint</label></p>
										<div class="clearFloat"></div>
					<p id="miRdPolVwCheckBoxCustSrch"><label><input type="checkbox" name="miRdPolVwCheckBoxCustSrch" value="Middle of the Road"/>Middle of the Road</label></p>
										<p id="notlPolVwCheckBoxCustSrch"><label><input type="checkbox" name="notlPolVwCheckBoxCustSrch" value="Not Political"/>Not Political</label></p>
										<div class="clearFloat"></div>
				</div>
			
				
			
		</div>
		<div class="clearFloat"></div>		
		   
</P> 
</DIV> 


<H3 style="font-size : large ; text-align:center;" ><A href="#">Astrological Sign Settings</A></H3>
<DIV>
<P>
   
			<div class="clearFloat"></div>
		<div id="astroSignCustSrchDiv">
			
				<div id="iNastroSignCustSrchDiv">
					<p id="capAstroSgnCheckBoxCustSrch"><label><input type="checkbox" name="capAstroSgnCheckBoxCustSrch" value="Capricorn"/>Capricorn</label></p>
										<p id="ariesAstroSgnCheckBoxCustSrch"><label><input type="checkbox" name="ariesAstroSgnCheckBoxCustSrch" value="Aries"/>Aries</label></p>
										<p id="canAstroSgnCheckBoxCustSrch"><label><input type="checkbox" name="canAstroSgnCheckBoxCustSrch" value="Cancer"/>Cancer</label></p>
										<p id="libraAstroSgnCheckBoxCustSrch"><label><input type="checkbox" name="libraAstroSgnCheckBoxCustSrch" value="Libra"/>Libra</label></p>
										<div class="clearFloat"></div>
					<p id="aquAstroSgnCheckBoxCustSrch"><label><input type="checkbox" name="aquAstroSgnCheckBoxCustSrch" value="Aquarius"/>Aquarius</label></p>
										<p id="taursAstroSgnCheckBoxCustSrch"><label><input type="checkbox" name="taursAstroSgnCheckBoxCustSrch" value="Taurus"/>Taurus</label></p>
										<p id="leoAstroSgnCheckBoxCustSrch"><label><input type="checkbox" name="leoAstroSgnCheckBoxCustSrch" value="Leo"/>Leo</label></p>
										<p id="scorpAstroSgnCheckBoxCustSrch"><label><input type="checkbox" name="scorpAstroSgnCheckBoxCustSrch" value="Scorpio"/>Scorpio</label></p>
										<div class="clearFloat"></div>
					<p id="piscAstroSgnCheckBoxCustSrch"><label><input type="checkbox" name="piscAstroSgnCheckBoxCustSrch" value="Pisces"/>Pisces</label></p>
										<p id="gemAstroSgnCheckBoxCustSrch"><label><input type="checkbox" name="gemAstroSgnCheckBoxCustSrch" value="Gemini"/>Gemini</label></p>
										<p id="virgoAstroSgnCheckBoxCustSrch"><label><input type="checkbox" name="virgoAstroSgnCheckBoxCustSrch" value="Virgo"/>Virgo</label></p>
										<p id="saggAstroSgnCheckBoxCustSrch"><label><input type="checkbox" name="saggAstroSgnCheckBoxCustSrch" value="Sagittarius"/>Sagittarius</label></p>
										<div class="clearFloat"></div>
				</div>		
				
			
		</div>
		<div class="clearFloat"></div>
		   
</P> 
</DIV>


<H3 style="font-size : large ; text-align:center;" ><A href="#">Hobby Settings</A></H3>
<DIV>
<P>
   
		
		<div class="clearFloat"></div>
		<div id="hobnIntrtsCustSrchDiv">
			
				<div id="iNhobnIntrtsCustSrchDiv">
					<p id="artHbbsIntCheckBoxCustSrch"><label><input type="checkbox" name="artHbbsIntCheckBoxCustSrch" value="Art"/>Art</label></p>
										<p id="phtgrphyHbbsIntCheckBoxCustSrch"><label><input type="checkbox" name="phtgrphyHbbsIntCheckBoxCustSrch" value="Photography"/>Photography</label></p>
										<p id="hlthFtnssHbbsIntCheckBoxCustSrch"><label><input type="checkbox" name="hlthFtnssHbbsIntCheckBoxCustSrch" value="Health/Fitness"/>Health/Fitness</label></p>
										<div class="clearFloat"></div>
					<p id="dncHbbsIntCheckBoxCustSrch"><label><input type="checkbox" name="dncHbbsIntCheckBoxCustSrch" value="Dancing"/>Dancing</label></p>
										<p id="thtreHbbsIntCheckBoxCustSrch"><label><input type="checkbox" name="thtreHbbsIntCheckBoxCustSrch" value="Theatre"/>Theatre</label></p>
										<p id="wrtgHbbsIntCheckBoxCustSrch"><label><input type="checkbox" name="wrtgHbbsIntCheckBoxCustSrch" value="Writing"/>Writing</label></p>
										<div class="clearFloat"></div>
					<p id="dngHbbsIntCheckBoxCustSrch"><label><input type="checkbox" name="dngHbbsIntCheckBoxCustSrch" value="Dining"/>Dining</label></p>
										<p id="ckngHbbsIntCheckBoxCustSrch"><label><input type="checkbox" name="ckngHbbsIntCheckBoxCustSrch" value="Cooking"/>Cooking</label></p>
										<p id="ptryHbbsIntCheckBoxCustSrch"><label><input type="checkbox" name="ptryHbbsIntCheckBoxCustSrch" value="Poetry"/>Poetry</label></p>
										<div class="clearFloat"></div>
					<p id="famHbbsIntCheckBoxCustSrch"><label><input type="checkbox" name="famHbbsIntCheckBoxCustSrch" value="Family"/>Family</label></p>
										<p id="trvlHbbsIntCheckBoxCustSrch"><label><input type="checkbox" name="trvlHbbsIntCheckBoxCustSrch" value="Travel"/>Travel</label></p>
										<p id="plySprtHbbsIntCheckBoxCustSrch"><label><input type="checkbox" name="plySprtHbbsIntCheckBoxCustSrch" value="Playing Sports"/>Playing Sports</label></p>
										<div class="clearFloat"></div>
					<p id="mviesHbbsIntCheckBoxCustSrch"><label><input type="checkbox" name="mviesHbbsIntCheckBoxCustSrch" value="Movies"/>Movies</label></p>
										<p id="gmngHbbsIntCheckBoxCustSrch"><label><input type="checkbox" name="gmngHbbsIntCheckBoxCustSrch" value="Gaming"/>Gaming</label></p>
										<p id="wchtgSprtHbbsIntCheckBoxCustSrch"><label><input type="checkbox" name="wchtgSprtHbbsIntCheckBoxCustSrch" value="Watching Sports"/>Watching Sports</label></p>
										<div class="clearFloat"></div>
					<p id="muscHbbsIntCheckBoxCustSrch"><label><input type="checkbox" name="muscHbbsIntCheckBoxCustSrch" value="Music"/>Music</label></p>
										<p id="tvsnHbbsIntCheckBoxCustSrch"><label><input type="checkbox" name="tvsnHbbsIntCheckBoxCustSrch" value="Television"/>Television</label></p>
										<p id="intCmptrstHbbsIntCheckBoxCustSrch"><label><input type="checkbox" name="intCmptrstHbbsIntCheckBoxCustSrch" value="Internet/Computers"/>Internet/Computers</label></p>
										<div class="clearFloat"></div>
					<p id="outDrsHbbsIntCheckBoxCustSrch"><label><input type="checkbox" name="outDrsHbbsIntCheckBoxCustSrch" value="Outdoors"/>Outdoors</label></p>
										<p id="grdgnHbbsIntCheckBoxCustSrch"><label><input type="checkbox" name="grdgnHbbsIntCheckBoxCustSrch" value="Gardening"/>Gardening</label></p>
										<p id="plyMuscInstmntHbbsIntCheckBoxCustSrch"><label><input type="checkbox" name="plyMuscInstmntHbbsIntCheckBoxCustSrch" value="Playing Music/ Instrument"/>Playing Music/ Instrument</label></p>
										<div class="clearFloat"></div>
					<p id="readgHbbsIntCheckBoxCustSrch"><label><input type="checkbox" name="readgHbbsIntCheckBoxCustSrch" value="Reading"/>Reading</label></p>
										<p id="crftsHbbsIntCheckBoxCustSrch"><label><input type="checkbox" name="crftsHbbsIntCheckBoxCustSrch" value="Crafts"/>Crafts</label></p>
										<p id="vlntrngHbbsIntCheckBoxCustSrch"><label><input type="checkbox" name="vlntrngHbbsIntCheckBoxCustSrch" value="Volunteering"/>Volunteering</label></p>
										<div class="clearFloat"></div>
				</div>
										
		</div>
		<div class="clearFloat"></div>
			
		   
</P> 
</div>


</div>

</div>
 
</P>

</DIV>
 </DIV>
 </DIV>
 <!-- End Pearnt Accordian -->
	<div id="searchButtonCustSrchhDiv">
    	
            
          	
             <button class="t-button" type="submit" value="SubmitCustomer Search">Search Now</button>
			
			
		</div>
		<div class="clearFloat"></div>
		<div class="Name_SearchCustSrch">
			
				<p class="lastNode">Name Search
			</p>
		</div>
		<div class="clearFloat"></div>        
        <div id="nameSrchTextField_win_CustSrch">
        <input type="text"   value="Text" />
        </div>	
		<div class="clearFloat"></div>
		<div id="saveSearchButtonCustSrchhDiv">
          <button class="t-button" type="submit" value="SubmitCustomer Search">Save Search</button>
		</div>
		<div class="clearFloat"></div>
</div> 
<center>
<div id="rightCustSrchDiv">
	</div>
    </center>
	<div class="clearFloat"></div>
	<div id="footerCustSrchDiv">
	</div>
	<div class="clearFloat"></div>
</div> 
