@model IPageable<Shell.MVC2.Models.MemberSearchViewModel>

  @{ //Pull the users who are avaiable to chat from from the viewbag
      var OnlineChatUsers = ViewBag.OnlineChatUsers as List<ChatUser>; 
     
   } 



@{
    ViewBag.Title = "LikesNew"; 
    Layout = "~/Views/Members/Shared/_LayoutMembers.cshtml";
}

@{ Html.EnableClientValidation(); }


<div id="main">
	<div id="interestsheaderDiv">    
    <!-- Added to toggle adds 1-27-2012 --> 
     @Html.Partial("AddSense/TopBottomBanner") 
    </div>
<script type="text/javascript" >




    // this function updates the VIew status of an interest
    $(function () {
        $('.UpdateProfile').click(function () {

            //  var url = $.url(this.href);
            var ScreenName = $.url(this.href).param('ScreenName');
            // var mysongid = $(this).attr('ScreenName'); 
            // alert(sname);
            // Send an AJAX request to the controller action this link is pointing to 
            $.ajax({
                url: '/Members/UpdateLikeViewed',
                type: 'POST',
                // you can send some additional data along with the request 
                data: { ScreenName: ScreenName },
                success: function (result) {
                    // TODO: process the results returned by the controller 
                }
            });


        });
    }); 





</script>



		<div id="interestsheaderDiv2">
		</div>
		<div class="clearFloat"></div>
		<div id="interestspostBoardDiv">
		</div>
		<div class="clearFloat"></div>
		<div id="interestspicBoxDiv">
			<div id="photoBoxStrip">
				<div id="pic9">
				</div>
				<div id="pic8">
				</div>
				<div id="pic7">
				</div>
				<div id="pic6">
				</div>
				<div id="pic5">
				</div>
				<div id="pic4">
				</div>
				<div id="pic3">
				</div>
				<div id="pic2">
				</div>
				<div id="pic1">
				</div>
				<div class="clearFloat"></div>
			</div>
			<div class="clearFloat"></div>
		</div>
		<div class="clearFloat"></div>
	
	<div class="clearFloat"></div>
	<div id="interestsbodyDiv">
		<div class="Interestsinterests">			
				<p class="lastNode">Who Likes Me (NEW!)
			</p>
		</div>
		<div class="clearFloat"></div>
		<div class="Txt_Select">
			
				<p class="lastNode">Select All
			</p>
		</div>
		<div id="interestsdeleteDiv">
		</div>
		<div id="interestsgreybarDiv">
			<div id="interestsCheckboxDiv1">
			</div>
			<div class="clearFloat"></div>
		</div>
        <div class="clearFloat"></div>
        
    @*    <h3>
        <em>Search Results</em>
        </h3>*@
       
           <p style ="margin-left:20px; margin-top :10px; font-size :12px;">
        <i>You are viewing page
            @Model.PageIndex
            of
            @Model.PageCount... </i>


         </p>

        @{ int CurrentPage;
           if (Model.PageIndex <= Model.PageCount) { CurrentPage = 0;} else { CurrentPage = 1; } }

          @foreach (var item in Model.Page)
          { 
		<div id="interestsquikDetailsDiv">
			<div id="colwrapInterests4">
				<div id="interestsDetailLefttDiv">
					<div id="interestsCheckboxDiv2">
                    @*  checkbox to indicate item is selected for updating *@
                         <input type="checkbox" class="SelectedMember" name="SelectedMember" value="@item.ScreenName"  />
					</div>
					<div id="colwrapInterests7">
						<div class="Name_or_handleinterests">
							@item.ScreenNameTrimmed	
							
						</div>
						<div class="clearFloat"></div>
                     
						<div id="interestsdetailsProfileBoxDiv">
                        <div class="interestsdetailsProfileBoxInnerDiv">
                          <a class="UpdateProfile" href="@Url.Action("QuickProfile", "Home", new { ScreenName = item.ScreenName },null)">@{ CurrentPage++; }
                         <img src="@Url.Action("GetGalleryImageByScreenName", "Images", new { id = item.ScreenName }, null)"
                        alt="" width="148" height="149" />
                         </a> 
                         </div>
						</div>
                       
						<div class="clearFloat"></div>
					</div>
                    <div class="clearFloat"></div>
					<div class="Ageinterests">
						
					   @item.Age
					
					</div>
					<div class="clearFloat"></div>
					<div class="Location_SWinterests">
						
							@item.City @Html.Encode(",") @item.State_Province
					</div>
					<div class="clearFloat"></div>
					<div class="age_person_seekinginterests">
							@if (item.PerfectMatchSettings != null)
                             {  
                               @Html.Encode("Seeking Age : ")  @item.PerfectMatchSettings.AgeMin @Html.Encode(" to ")  @item.PerfectMatchSettings.AgeMax 
                               }
                               else
                               {   
                                 @Html.Encode("Seeking Age: 18 to 99")
                               }  
					</div>
					<div class="clearFloat"></div>
					<div class="Active_within_hours_interests">
						
								        
                                      
								   @if (OnlineChatUsers!=null &&  OnlineChatUsers.Any(p=>p.Name.Contains(item.ScreenName))  ) 
                                    {  
                                                 <div class ="onlinenowInnerInterestsdiv">   
                                                                              
                                     <a class="chatquickprofile" href="javascript:void(0)"  Id="InviteToChat" data-name=@item.ScreenName ></a>  </div> 
                                    }
           else
           {   
                                    @Html.Encode("Online: ")
                                     @item.lastloggedonString 
           }  
					</div>
					<div class="clearFloat"></div>
				</div>
			</div>
			<div id="interestsprofileNavDiv">
			</div>
			<div id="colwrapInterests6">
				<div class="My_catchy_intro_lineinterests">
					
						<p class="lastNode">
                     		@if (item.MyCatchyIntroLine != null | item.profiledata != null)
                       {  
                                    @item.MyCatchyIntroLineQuickSearch
                       }
                       else
                       {   
                                    @Html.Encode("Hi there !")
                                    
                       }  
					</p>
				</div>
				<div class="clearFloat"></div>
				<div class="Lorem_ipsum_dolor_siinterests">
		
									@if (item.AboutMe != null & item.profiledata != null)
         {  
                                    @item.AboutMe
         }
         else
         {   
                                   @Html.Encode("View my full profile and Email me to find out more") 
                                    
         }  
					
				</div>
				<div class="clearFloat"></div>
				<div class="View_Full_Profileinterests">
                
                
					
					 <a  class="UpdateProfile" href="@Url.Action("QuickProfile", "Home", new { ScreenName = item.ScreenName })">@{ CurrentPage++; }"View Full Profile&gt;&gt; </a>
					

				</div>
				<div class="clearFloat"></div>
			</div>
		</div>
          } 

        <div class="clearFloat"></div>
		<div class="Previousinterests">
			
				<p class="lastNode">
                                        @if (Model.PageIndex <= 1) {
              @Html.Encode("Previous")
       } else {
         @Html.ActionLink("Previous", "LikesNew", new { page = (Model.PageIndex - 1) })  
        } 	
			</p>
		</div>
		<div class="Nextinterests">
			
				<p class="lastNode">
                 @if (Model.PageIndex + 1 > Model.PageCount)
                   {
              @Html.Encode("Next")
                }
                   else
                   {
                @Html.ActionLink("Next", "LikesNew", new { page = (Model.PageIndex + 1) })
                } 
			</p>
		</div>
	</div>
	<div id="interestsrightDiv">
     <center>
         <!-- Added to toggle adds 1-27-2012 -->
    @Html.Partial("AddSense/LeftRightScraper")        
</center>
	</div>
	<div class="clearFloat"></div>
	<div id="interestsfooterDiv">       
    <!-- Added to toggle adds 1-27-2012 --> 
     @Html.Partial("AddSense/TopBottomBanner") 
	</div>
	<div class="clearFloat"></div>
</div>



