@model IPageable<Shell.MVC2.Models.MemberSearchViewModel>
           


  @{ //Pull the users who are avaiable to chat from from the viewbag
      var OnlineChatUsers = ViewBag.OnlineChatUsers as List<ChatUser>; 
     
   } 



@{
    ViewBag.Title = "Who is Interested in me"; 
    Layout = "~/Views/Members/Shared/_LayoutMembers.cshtml";
}

@{ Html.EnableClientValidation(); }

   

 
<script type="text/javascript" >


 @* all the script for this page *@ 
 @* current functions supported in these scripts
 1. Updates profile i,e when you view an item your profile is updated
 2. Scripts to handle selecting all profiles on screen and deletion of selected *@

$(function() {


    // this function updates the VIew status of an interest
 // $(function () {
 

  // Start of code to handle deletion of list objects 4-2-2012 new scripts for hading deletion 
  // allow selection of all check boxes on current page 
 //$(function() {

 //handles the select all 
    $("input.SelectAll").click(function() {
  
 //  var $checkbox = $(this).find(':checkbox'); 
 //   $checkbox[0].checked = !$checkbox[0].checked; 
  //  $checkbox.trigger('change');



        if ($(this).is(":checked") ){

 
            //loop through and disbale all other since they picked ANY which means all anways
            $("input.SelectedMember").each(function() {
                $("input.SelectedMember").attr("checked",true);   
            });
        }
        else {
            //loop through and clear all check marks
            $("input.SelectedMember").each(function() {
                $("input.SelectedMember").attr("checked",false);
            });
        }
    });
//});

//handles the delete all link
    $('#deleteSelected').click(function() {
        //add a dialog to ask if they want to delete the 
        //get the list of all checked items and push them into a list
       //first reset the list
       //var items = ;
        var items = new Array();
 
        $("input.SelectedMember").each(function() {
           if ($(this).is('[CHECKED]'))  {
                items.push($(this).attr("value"));
            }
        });
        //check if any items are selected for deletion
        if (items.length == 1) {
            //show the delete dailag now
           
           deletelistitemsconfirm('Are you sure you want to delete this interest','Confirm Delete','Confirm',true,true,items);
            //deleteconfirm('Are you sure you want to delete this interest','Confirm Delete','Confirm',true,true,items);
            return false; // prevents the default behaviour
        }
        else if(items.length > 1) {
    	     //show delete dialog with no image since we are deleting multiple items
            deleteconfirm('Are you sure you want to delete these ' + items.length + " members from your interests?",'Confirm Delete','Confirm',true,false,items);
            return false; // prevents the default behaviour
        }
        else
        {
        //show alert dialog stating that we you selected no user
           deleteconfirm('Please use the checkboxes on each profile to select items you want to remove from your profile','Notification',"Ok",true,false);
        }
    });
 //   });

 //creates a dynamic dialog for confirm
    function deleteconfirm(message, title,okbuttontext,ismodal,showimage,items) {



    var buttonsOpts = {} 

    //if we have a confirm delete put on both buttons 
    if (okbuttontext == "Confirm") {
     buttonsOpts[okbuttontext] =  function () { updateinterests(items); $(this).dialog('close'); } ;
     buttonsOpts["Cancel"] = function()  {  $(this).dialog("close"); }; 
     }
     //we have just an alert type dilago so just use the ok button with no closer
    else  
    {
      buttonsOpts[okbuttontext] = function()  {  $(this).dialog("close"); }; 
    }
    
    //set up inner text
    //4-3-2012 added a way to also add image div based on the flag
       var NewDialog = $(document.createElement('div'));
     NewDialog.html(message);


        //add the image and div tag to the Dialog
     if (showimage == true) NewDialog.append(createImageBox(35,35,items[0]));
       
        
        //add an ID if it it was passed
//        if (dialogid) {
//            NewDialog.attr("id", dialogid);

//        }
        if (!ismodal) ismodal = false;

        NewDialog.dialog({
            modal: ismodal,
            title: (title) ? title : 'Notification',
            autoOpen: true,
            width: 300,
            show: 'clip',
            hide: 'clip',
            buttons: buttonsOpts
            });

        // NewDialog.appendTo($("body"));
        //TO DO another way to add hml to dialog 
        //$('#dialog-test').html('<div> weak </div>');
        NewDialog.dialog('open');

    }

    function createImageBox(height,width,screenname)
    {
      var imageDiv = $(document.createElement('div'));
        var imageTag = $(document.createElement('img'));
        //no need for a n id for image div but give it some css
        imageDiv.attr('class', 'left');
        //set the source for the image
        imageTag.attr('src', "../Images/GetGalleryImageByScreenName/" + screenname);
        imageTag.attr('width', width);
        imageTag.attr('height', height);
        //addend the image tag and maybe more to this
        imageDiv.append(imageTag);

        return imageDiv;
    
    }

    //we are using the global variable list in this  document
    function updateinterests(screennames) {

  var parms = { 
               
        var2: screennames 
    };
     var json = JSON.stringify(screennames);

        //ajax call to update the databse i.e remove items and the refresh the UI
        $.ajax({
            url: '../Members/RemoveBlock',
            type: 'POST',
            dataType: 'json',
            // you can send some additional data along with the request 
            data:  json,
            contentType: 'application/json; charset=utf-8',
            success: function(result) {
                // TODO: process the results returned by the controller 
                //reload the page 
                window.location.href = window.location.href;
            }
        });
    }



});
 

</script>   


<div id="main">
	<div id="interestsheaderDiv">
     
          <!-- Added to toggle adds 1-27-2012 -->
    
          @Html.Partial("TopBottomLink") 
    





    </div>
		<div id="interestsheaderDiv2">
		</div>
		<div class="clearFloat"></div>
		<div id="interestspostBoardDiv">
		</div>
		<div class="clearFloat"></div>
		<div id="interestspicBoxDiv">
			<div id="photoBoxStrip">
				<div id="pic9">
				</div>
				<div id="pic8">
				</div>
				<div id="pic7">
				</div>
				<div id="pic6">
				</div>
				<div id="pic5">
				</div>
				<div id="pic4">
				</div>
				<div id="pic3">
				</div>
				<div id="pic2">
				</div>
				<div id="pic1">
				</div>
				<div class="clearFloat"></div>
			</div>
			<div class="clearFloat"></div>
		</div>
		<div class="clearFloat"></div>
	
	<div class="clearFloat"></div>
	<div id="interestsbodyDiv">
		<div class="Interestsinterests">			
				<p class="lastNode">Members You have blocked
			</p>
		</div>
		<div class="clearFloat"></div>
		<div class="Txt_Select">
			
				<p class="lastNode"> Select All
			</p>
		</div>
		<div id="interestsdeleteDiv">
        <button id="deleteSelected" class="btn  disabled">Remove Selected</button>
       
		</div>
		<div id="interestsgreybarDiv">
			<div id="interestsCheckboxDiv1">
            @* checkbox that handlees select all *@
             <input type="checkbox" class="SelectAll" name="SelectAll" value=""  />
			</div>
			<div class="clearFloat"></div>
		</div>
        <div class="clearFloat"></div>
        
    @*    <h3>
        <em>Search Results</em>
        </h3>*@
       
           <p style ="margin-left:20px; margin-top :10px; font-size :12px;">
        <i>You are viewing page
            @Model.PageIndex
            of
            @Model.PageCount... </i>


         </p>

        @{ int CurrentPage;
           if (Model.PageIndex <= Model.PageCount) { CurrentPage = 0;} else { CurrentPage = 1; } }

          @foreach (var item in Model.Page)
          { 
		<div id="interestsquikDetailsDiv">
			<div id="colwrapInterests4">
				<div id="interestsDetailLefttDiv">
					<div id="interestsCheckboxDiv2">
                    @*  checkbox to indicate item is selected for updating *@
                         <input type="checkbox" class="SelectedMember" name="SelectedMember" value="@item.ScreenName"  />
					</div>
					<div id="colwrapInterests7">
						<div class="Name_or_handleinterests">
							@item.ScreenNameTrimmed	
							
						</div>
						<div class="clearFloat"></div>
                     
						<div id="interestsdetailsProfileBoxDiv">
                        <div class="interestsdetailsProfileBoxInnerDiv">
                          <a class="UpdateProfile" href="@Url.Action("QuickProfile", "Home", new { ScreenName = item.ScreenName },null)">@{ CurrentPage++; }
                         <img src="@Url.Action("GetGalleryImageByScreenName", "Images", new { id = item.ScreenName }, null)"
                        alt="" width="148" height="149" />
                         </a> 
                         </div>
						</div>
                       
						<div class="clearFloat"></div>
					</div>
                    <div class="clearFloat"></div>
					<div class="Ageinterests">
						
					   @item.Age
					
					</div>
					<div class="clearFloat"></div>
					<div class="Location_SWinterests">
						
							@item.City @Html.Encode(",") @item.State_Province
					</div>
					<div class="clearFloat"></div>
					<div class="age_person_seekinginterests">
							@if (item.PerfectMatchSettings != null)
                             {  
                               @Html.Encode("Seeking Age : ")  @item.PerfectMatchSettings.AgeMin @Html.Encode(" to ")  @item.PerfectMatchSettings.AgeMax 
                               }
                               else
                               {   
                                 @Html.Encode("Seeking Age: 18 to 99")
                               }  
					</div>
					<div class="clearFloat"></div>
					<div class="Active_within_hours_interests">
						
								        
                                      
								   @if (OnlineChatUsers!=null &&  OnlineChatUsers.Any(p=>p.Name.Contains(item.ScreenName))  ) 
                                    {  
                                                 <div class ="onlinenowInnerInterestsdiv">   
                                                                              
                                     <a class="chatquickprofile" href="javascript:void(0)"  Id="InviteToChat" data-name=@item.ScreenName ></a>  </div> 
                                    }
           else
           {   
                                    @Html.Encode("Online: ")
                                     @item.lastloggedonString 
           }  
					</div>
					<div class="clearFloat"></div>
				</div>
			</div>
			<div id="interestsprofileNavDiv">
			</div>
			<div id="colwrapInterests6">
				<div class="My_catchy_intro_lineinterests">
					
						<p class="lastNode">
                     		@if (item.MyCatchyIntroLine != null | item.profiledata != null)
                       {  
                                    @item.MyCatchyIntroLineQuickSearch
                       }
                       else
                       {   
                                    @Html.Encode("Hi there !")
                                    
                       }  
					</p>
				</div>
				<div class="clearFloat"></div>
				<div class="Lorem_ipsum_dolor_siinterests">
		
									@if (item.AboutMe != null & item.profiledata != null)
         {  
                                    @item.AboutMe
         }
         else
         {   
                                   @Html.Encode("View my full profile and Email me to find out more") 
                                    
         }  
					
				</div>
				<div class="clearFloat"></div>
				<div class="View_Full_Profileinterests">
                
                
					
					 <a  class="UpdateProfile" href="@Url.Action("QuickProfile", "Home", new { ScreenName = item.ScreenName })">@{ CurrentPage++; }"View Full Profile&gt;&gt; </a>
					

				</div>
				<div class="clearFloat"></div>
			</div>
		</div>
          } 
        <div class="clearFloat"></div>
		<div class="Previousinterests">
			
				<p class="lastNode">
                                        @if (Model.PageIndex <= 1) {
              @Html.Encode("Previous")
       } else {
         @Html.ActionLink("Previous", "WhoIblocked", new { page = (Model.PageIndex - 1) })  
        } 	
			</p>
		</div>
		<div class="Nextinterests">
			
				<p class="lastNode">
                 @if (Model.PageIndex + 1 > Model.PageCount)
                   {
              @Html.Encode("Next")
                }
                   else
                   {
                @Html.ActionLink("Next", "WhoIblocked", new { page = (Model.PageIndex + 1) })
                } 
			</p>
		</div>
	</div>
	<div id="interestsrightDiv">
     <center>
               
     

         
       @Html.Partial("AddSense/LeftRightScraper") 

     
</center>
	</div>
	<div class="clearFloat"></div>
	<div id="interestsfooterDiv">
                      
       
       @Html.Partial("TopBottomBanner") 

     

	</div>
	<div class="clearFloat"></div>
</div>


